In [2]:
# Core Libraries
import pandas as pd
import numpy as np
import joblib
import logging
import re
import warnings

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Data Processing
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV, TimeSeriesSplit
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.compose import ColumnTransformer

# Feature Selection and Permutation Importance
from sklearn.feature_selection import SelectKBest, chi2, mutual_info_classif
from sklearn.inspection import permutation_importance

# Regression Models
from sklearn.linear_model import Ridge, Lasso
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.neighbors import KNeighborsRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from catboost import CatBoostRegressor
from sklearn.neural_network import MLPRegressor

# Classification Models (used in feature importance or metrics evaluation)
from sklearn.linear_model import LogisticRegression

# Metrics
from sklearn.metrics import (
    classification_report,
    accuracy_score,
    confusion_matrix,
    recall_score,
    f1_score,
    roc_auc_score,
    make_scorer
)

# General Settings
warnings.filterwarnings('ignore')

In [3]:
# Loading data
train_data = pd.read_csv('C:/Users/Hp/Desktop/Capstone Project/Original data/train_features.csv')
train_labels = pd.read_csv('C:/Users/Hp/Desktop/Capstone Project/Original data/train_labels.csv')
test_data = pd.read_csv('C:/Users/Hp/Desktop/Capstone Project/Original data/test_features.csv')

In [4]:
train_data.head()

,uid,age_03,urban_03,married_03,n_mar_03,edu_gru_03,n_living_child_03,migration_03,glob_hlth_03,adl_dress_03,...,rrelgimp_12,rrfcntx_m_12,rsocact_m_12,rrelgwk_12,a16a_12,a21_12,a22_12,a33b_12,a34_12,j11_12
0,aace,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.somewhat important,9.Never,9.Never,0.No,NaN,NaN,NaN,NaN,NaN,Concrete 2
1,aanz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.very important,9.Never,1.Almost every day,0.No,NaN,NaN,NaN,NaN,NaN,Concrete 2
2,aape,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.somewhat important,6.2 or 3 times a month,2.4 or more times a week,0.No,NaN,NaN,NaN,NaN,NaN,"Wood, mosaic, or other covering 1"
3,aard,1. 50–59,"1. 100,000+",3. Widowed,1.0,3. 7–9 years,1. 1 or 2,0.0,4. Fair,0.0,...,1.very important,4.Once a week,9.Never,1.Yes,NaN,NaN,NaN,NaN,No 2,Concrete 2
4,ablr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.very important,3.2 or 3 times a week,3.2 or 3 times a week,0.No,NaN,NaN,NaN,NaN,NaN,"Wood, mosaic, or other covering 1"

In [5]:
train_labels.head()

    uid  year  composite_score
0  aace  2021              175
1  aanz  2021              206
2  aape  2016              161
3  aape  2021              144
4  aard  2021              104

In [6]:
test_data.head()

,uid,age_03,urban_03,married_03,n_mar_03,edu_gru_03,n_living_child_03,migration_03,glob_hlth_03,adl_dress_03,...,rrelgimp_12,rrfcntx_m_12,rsocact_m_12,rrelgwk_12,a16a_12,a21_12,a22_12,a33b_12,a34_12,j11_12
0,abxu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Wood, mosaic, or other covering 1"
1,aeol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.very important,9.Never,9.Never,1.Yes,NaN,NaN,NaN,NaN,NaN,Concrete 2
2,afnb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.very important,9.Never,3.2 or 3 times a week,1.Yes,NaN,NaN,NaN,NaN,NaN,"Wood, mosaic, or other covering 1"
3,ajfh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.somewhat important,9.Never,5.4 or more times a month,0.No,NaN,NaN,NaN,NaN,NaN,"Wood, mosaic, or other covering 1"
4,ajvq,2. 60–69,"1. 100,000+",1. Married or in civil union,1.0,4. 10+ years,1. 1 or 2,0.0,NaN,NaN,...,2.somewhat important,1.Almost every day,4.Once a week,0.No,NaN,NaN,NaN,NaN,No 2,"Wood, mosaic, or other covering 1"

In [7]:
# Check the data types of the 'uid' column in each dataframe
print(train_data.shape)
print(train_labels.shape)
print(test_data.shape)

(3276, 184)
(4343, 3)
(819, 184)

In [8]:
combined_data = pd.concat([train_data, test_data], axis=0, ignore_index=True)

In [9]:
# This will add labels only for rows in the training data
combined_data = pd.merge(combined_data, train_labels, on='uid', how='left')

# Check the shape and a few rows to confirm
print("Combined data shape after merging:", combined_data.shape)
print(combined_data.head())

Combined data shape after merging: (5162, 186)
    uid    age_03     urban_03  married_03  n_mar_03    edu_gru_03  \
0  aace       NaN          NaN         NaN       NaN           NaN
1  aanz       NaN          NaN         NaN       NaN           NaN
2  aape       NaN          NaN         NaN       NaN           NaN
3  aape       NaN          NaN         NaN       NaN           NaN
4  aard  1. 50–59  1. 100,000+  3. Widowed       1.0  3. 7–9 years

  n_living_child_03  migration_03 glob_hlth_03  adl_dress_03  ...  \
0               NaN           NaN          NaN           NaN  ...
1               NaN           NaN          NaN           NaN  ...
2               NaN           NaN          NaN           NaN  ...
3               NaN           NaN          NaN           NaN  ...
4         1. 1 or 2           0.0      4. Fair           0.0  ...

               rsocact_m_12  rrelgwk_12  a16a_12  a21_12  a22_12  a33b_12  \
0                   9.Never        0.No      NaN     NaN     NaN      NaN
1        1.Almost every day        0.No      NaN     NaN     NaN      NaN
2  2.4 or more times a week        0.No      NaN     NaN     NaN      NaN
3  2.4 or more times a week        0.No      NaN     NaN     NaN      NaN
4                   9.Never       1.Yes      NaN     NaN     NaN      NaN

   a34_12                             j11_12    year  composite_score
0     NaN                         Concrete 2  2021.0            175.0
1     NaN                         Concrete 2  2021.0            206.0
2     NaN  Wood, mosaic, or other covering 1  2016.0            161.0
3     NaN  Wood, mosaic, or other covering 1  2021.0            144.0
4    No 2                         Concrete 2  2021.0            104.0

[5 rows x 186 columns]

In [10]:
def extract_numeric(data, columns, position='first'):
    """Extract numeric values from specified columns of a DataFrame.
    
    Args:
        data (pd.DataFrame): The DataFrame to clean.
        columns (list): List of column names to clean.
        position (str): 'first' to extract the first numeric value, 'last' for the last.
    """
    for col in columns:
        # Checking for numeric content
        if combined_data[col].str.contains(r'\d').any():  # Check if there's at least one numeric character
            if position == 'first':
                # Extracting the first numeric part using regex
                combined_data[col] = combined_data[col].astype(str).str.extract(r'(\d+)')[0]
            elif position == 'last':
                # Extracting the last numeric part using regex
                combined_data[col] = combined_data[col].astype(str).str.extract(r'(\d+)(?!.*\d)')[0]
            # Converting to float
            combined_data[col] = combined_data[col].astype(float)

# Selecting all object-type columns for cleaning
columns_to_clean = combined_data.select_dtypes(include=['object']).columns

# Extracting numeric values based on the specified position ('first' or 'last')
extract_numeric(combined_data, columns_to_clean, position='first')  # Change to 'last' if needed

# Displaying the cleaned columns
print(combined_data[columns_to_clean].head(10))  # Printing the first few rows of the cleaned columns

    uid  age_03  urban_03  married_03  edu_gru_03  n_living_child_03  \
0  aace     NaN       NaN         NaN         NaN                NaN
1  aanz     NaN       NaN         NaN         NaN                NaN
2  aape     NaN       NaN         NaN         NaN                NaN
3  aape     NaN       NaN         NaN         NaN                NaN
4  aard     1.0       1.0         3.0         3.0                1.0
5  ablr     NaN       NaN         NaN         NaN                NaN
6  abme     1.0       0.0         1.0         1.0                3.0
7  abrn     1.0       0.0         1.0         0.0                3.0
8  acet     1.0       1.0         1.0         3.0                0.0
9  acgx     NaN       NaN         NaN         NaN                NaN

   glob_hlth_03  bmi_03  decis_famil_03  employment_03  ...  rjlocc_m_12  \
0           NaN     NaN             NaN            NaN  ...          6.0
1           NaN     NaN             NaN            NaN  ...         18.0
2           NaN     NaN             NaN            NaN  ...          NaN
3           NaN     NaN             NaN            NaN  ...          NaN
4           4.0     3.0             NaN            3.0  ...          NaN
5           NaN     NaN             NaN            NaN  ...          8.0
6           4.0     4.0             2.0            1.0  ...          6.0
7           4.0     4.0             1.0            1.0  ...         14.0
8           4.0     NaN             1.0            1.0  ...         17.0
9           NaN     NaN             NaN            NaN  ...          6.0

   rjobend_reason_12  rrelgimp_12  rrfcntx_m_12  rsocact_m_12  rrelgwk_12  \
0                NaN          2.0           9.0           9.0         0.0
1                NaN          1.0           9.0           1.0         0.0
2                NaN          2.0           6.0           2.0         0.0
3                NaN          2.0           6.0           2.0         0.0
4                NaN          1.0           4.0           9.0         1.0
5                NaN          1.0           3.0           3.0         0.0
6                NaN          1.0           9.0           9.0         0.0
7                NaN          2.0           8.0           9.0         0.0
8                NaN          2.0           1.0           1.0         0.0
9                NaN          1.0           3.0           4.0         0.0

   a22_12  a33b_12  a34_12  j11_12
0     NaN      NaN     NaN     2.0
1     NaN      NaN     NaN     2.0
2     NaN      NaN     NaN     1.0
3     NaN      NaN     NaN     1.0
4     NaN      NaN     2.0     2.0
5     NaN      NaN     NaN     1.0
6     NaN      NaN     2.0     2.0
7     NaN      NaN     2.0     2.0
8     NaN      NaN     2.0     2.0
9     NaN      NaN     NaN     2.0

[10 rows x 44 columns]

In [11]:
# Print the first 10 rows of combined_data as a list of lists
print(combined_data.head(10).values.tolist())

[['aace', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 2.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 4.0, 0.0, nan, nan, nan, nan, nan, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 3.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 2.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 3.0, 3.0, 1.0, 1.0, 3.0, 2.0, 1.0, 1.0, 1.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 2.0, 66.0, 6.0, nan, nan, 0.0, 0.0, 140000.0, 10000.0, 0.0, 0.0, 10000.0, 0.0, 0.0, 2.0, 9.0, 9.0, 0.0, nan, nan, nan, nan, nan, 2.0, 2021.0, 175.0], ['aanz', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 1.0, 1.0, 1.0, 1.0, 3.0, 1.0, 0.0, 4.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 4.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 3.0, 1.0, 0.0, 0.0, 1.0, nan, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 2.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 3.0, 2.0, 1.0, 2.0, 1.0, 4.0, 1.0, 1.0, 1.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 2.0, 72.0, 18.0, nan, nan, 70000.0, 0.0, 70000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 9.0, 1.0, 0.0, nan, nan, nan, nan, nan, 2.0, 2021.0, 206.0], ['aape', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 1.0, 0.0, 1.0, 1.0, 1.0, 3.0, 0.0, 4.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 4.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 4.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 3.0, 1.0, 2.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 4.0, 2.0, 2.0, 2.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 1.0, nan, nan, nan, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 6.0, 2.0, 0.0, nan, nan, nan, nan, nan, 1.0, 2016.0, 161.0], ['aape', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 1.0, 0.0, 1.0, 1.0, 1.0, 3.0, 0.0, 4.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 4.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 4.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 3.0, 1.0, 2.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 4.0, 2.0, 2.0, 2.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 1.0, nan, nan, nan, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 6.0, 2.0, 0.0, nan, nan, nan, nan, nan, 1.0, 2021.0, 144.0], ['aard', 1.0, 1.0, 3.0, 1.0, 3.0, 1.0, 0.0, 4.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 6.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 3.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, nan, 1.0, 3.0, 2.0, 1.0, 3.0, 1.0, 3.0, 1.0, 0.0, 4.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 8.0, 1.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 3.0, 3.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, nan, 1.0, 3.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 2.0, 1.0, 3.0, 3.0, 3.0, 3.0, 2.0, 2.0, 2.0, nan, nan, nan, 2003.0, 4.0, 0.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, nan, 1.0, nan, nan, nan, nan, nan, 0.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, nan, 1.0, 4.0, 9.0, 1.0, nan, nan, nan, nan, 2.0, 2.0, 2021.0, 104.0], ['ablr', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 1.0, 1.0, 1.0, 1.0, 2.0, 1.0, 0.0, 4.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 5.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 1.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 2.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 3.0, 1.0, 1.0, 1.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 2.0, 60.0, 8.0, nan, nan, 10000.0, 0.0, 10000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 3.0, 3.0, 0.0, nan, nan, nan, nan, nan, 1.0, 2021.0, 183.0], ['abme', 1.0, 0.0, 1.0, 1.0, 1.0, 3.0, 0.0, 4.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 7.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 4.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 1.0, 1.0, 2.0, 0.0, 1.0, 1.0, 1.0, 3.0, 0.0, 4.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 4.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 4.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 2.0, 1.0, 2.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 2.0, 2.0, 2.0, 2.0, 4.0, 1.0, 1.0, 1.0, 2.0, 30.0, nan, nan, nan, 0.0, 0.0, 70000.0, 70000.0, 0.0, 0.0, 70000.0, 0.0, 0.0, 1.0, 2.0, nan, 6.0, nan, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 9.0, 9.0, 0.0, nan, nan, nan, nan, 2.0, 2.0, 2021.0, 106.0], ['abrn', 1.0, 0.0, 1.0, 2.0, 0.0, 3.0, 0.0, 4.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 3.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 4.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 0.0, 1.0, 2.0, 0.0, 3.0, 0.0, 4.0, 0.0, nan, nan, nan, nan, nan, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 3.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 4.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 2.0, 2.0, 4.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 4.0, 1.0, 1.0, 2.0, 2.0, 48.0, 6.0, nan, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 2.0, nan, 14.0, nan, nan, 30000.0, 0.0, 30000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 8.0, 9.0, 0.0, nan, nan, nan, nan, 2.0, 2.0, 2021.0, 144.0], ['acet', 1.0, 1.0, 1.0, 1.0, 3.0, 0.0, 0.0, 4.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 5.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 2.0, 1.0, 1.0, 1.0, 3.0, 3.0, 0.0, 4.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 7.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, nan, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 3.0, 2.0, 3.0, 2.0, 1.0, 4.0, 2.0, 2.0, 2.0, 1.0, 35.0, nan, nan, nan, 30000.0, 0.0, 70000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 38000.0, 2.0, 1.0, 35.0, 17.0, nan, nan, 50000.0, 0.0, 80000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 30000.0, 2.0, 1.0, 1.0, 0.0, nan, nan, nan, nan, 2.0, 2.0, 2021.0, 152.0], ['acgx', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 4.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 5.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 2.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 2.0, 1.0, 1.0, 1.0, 3.0, 1.0, 2.0, 1.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 2.0, 24.0, 6.0, nan, nan, 20000.0, 0.0, -30000.0, 0.0, -60000.0, 0.0, -60000.0, 0.0, 0.0, 1.0, 3.0, 4.0, 0.0, nan, nan, nan, nan, nan, 2.0, 2021.0, 144.0]]

In [12]:
combined_data.shape

(5162, 186)

In [13]:
long_data = combined_data.copy()

In [14]:

# Dictionary of feature categories
feature_groups = {
    'categorical_nominal': [
        'ragender',  # Gender
        'sgender_03', 'sgender_12',  # Spouse gender
        'urban_03', 'urban_12',  # Rural/Urban
        'married_03', 'married_12',  # Marital status
        'rjlocc_m_03', 'rjlocc_m_12',  # Occupation category
        'rjobend_reason_03', 'rjobend_reason_12',  # Job end reason
        'a22_12',  # US job type
        'a33b_12',  # US residency status
        'j11_12',  # Floor material
    ],
    
    'categorical_ordinal': [
        'age_03', 'age_12',  # Age groups
        'edu_gru_03', 'edu_gru_12',  # Education level
        'n_living_child_03', 'n_living_child_12',  # Number of children
        'glob_hlth_03', 'glob_hlth_12',  # Self-reported health
        'bmi_03', 'bmi_12',  # BMI categories
        'decis_famil_03', 'decis_famil_12',  # Family decision weight
        'decis_personal_03', 'decis_personal_12',  # Personal decision weight
        'employment_03', 'employment_12',  # Employment status
        'rameduc_m', 'rafeduc_m',  # Parents' education
        'rrelgimp_03', 'rrelgimp_12',  # Religion importance
        'rrfcntx_m_12',  # Friend contact frequency
        'rsocact_m_12',  # Social activity frequency
        'rrelgwk_12',  # Religious service participation
        'a34_12',  # English proficiency
        'memory_12',  # Self-reported memory
        'satis_ideal_12', 'satis_excel_12', 'satis_fine_12',
        'cosas_imp_12', 'wouldnt_change_12'  # Life satisfaction measures
    ],
    
    'binary_indicators': [
        'migration_03', 'migration_12',  # US migration
        'adl_dress_03', 'adl_dress_12',  # ADL limitations
        'adl_walk_03', 'adl_walk_12',
        'adl_bath_03', 'adl_bath_12',
        'adl_eat_03', 'adl_eat_12',
        'adl_bed_03', 'adl_bed_12',
        'adl_toilet_03', 'adl_toilet_12',
        'iadl_money_03', 'iadl_money_12',  # IADL limitations
        'iadl_meds_03', 'iadl_meds_12',
        'iadl_shop_03', 'iadl_shop_12',
        'iadl_meals_03', 'iadl_meals_12',
        'depressed_03', 'depressed_12',  # Mental health indicators
        'hard_03', 'hard_12',
        'restless_03', 'restless_12',
        'happy_03', 'happy_12',
        'lonely_03', 'lonely_12',
        'enjoy_03', 'enjoy_12',
        'sad_03', 'sad_12',
        'tired_03', 'tired_12',
        'energetic_03', 'energetic_12',
        'cesd_depressed_03', 'cesd_depressed_12',
        # Health conditions
        'hypertension_03', 'hypertension_12',
        'diabetes_03', 'diabetes_12',
        'resp_ill_03', 'resp_ill_12',
        'arthritis_03', 'arthritis_12',
        'hrt_attack_03', 'hrt_attack_12',
        'stroke_03', 'stroke_12',
        'cancer_03', 'cancer_12',
        # Health behaviors
        'exer_3xwk_03', 'exer_3xwk_12',
        'alcohol_03', 'alcohol_12',
        'tobacco_03', 'tobacco_12',
        # Healthcare utilization
        'test_chol_03', 'test_chol_12',
        'test_tuber_03', 'test_tuber_12',
        'test_diab_03', 'test_diab_12',
        'test_pres_03', 'test_pres_12',
        'hosp_03', 'hosp_12',
        'visit_med_03', 'visit_med_12',
        'out_proc_03', 'out_proc_12',
        'visit_dental_03', 'visit_dental_12',
        # Insurance coverage
        'imss_03', 'imss_12',
        'issste_03', 'issste_12',
        'pem_def_mar_03', 'pem_def_mar_12',
        'insur_private_03', 'insur_private_12',
        'insur_other_03', 'insur_other_12',
        'seg_pop_12',
        'insured_03', 'insured_12',
        # Activities
        'care_adult_12', 'care_child_12',
        'volunteer_12', 'attends_class_12',
        'attends_club_12', 'reads_12',
        'games_12', 'table_games_12',
        'comms_tel_comp_12', 'act_mant_12',
        'tv_12', 'sewing_12'
    ],
    
    'numerical_continuous': [
        'n_mar_03', 'n_mar_12',  # Number of marriages
        'n_adl_03', 'n_adl_12',  # Number of ADL limitations
        'n_iadl_03', 'n_iadl_12',  # Number of IADL limitations
        'n_depr_03', 'n_depr_12',  # Number of depression symptoms
        'n_illnesses_03', 'n_illnesses_12',  # Number of illnesses
        'rjob_hrswk_03', 'rjob_hrswk_12',  # Working hours
        'rjob_end_03', 'rjob_end_12',  # Job end year
        # Income and earnings
        'rearnings_03', 'rearnings_12',
        'searnings_03', 'searnings_12',
        'hincome_03', 'hincome_12',
        'hinc_business_03', 'hinc_business_12',
        'hinc_rent_03', 'hinc_rent_12',
        'hinc_assets_03', 'hinc_assets_12',
        'hinc_cap_03', 'hinc_cap_12',
        'rinc_pension_03', 'rinc_pension_12',
        'sinc_pension_03', 'sinc_pension_12',
        'a16a_12',  # Year first left for US
        'a21_12'  # Total years in US
    ],
    
    'identifier': ['uid']  # Unique identifier
}

In [15]:
# Create a copy of the DataFrame to avoid modifying the original data
combined_data_cleaned = combined_data.copy()

# Calculate the threshold for dropping features
threshold = 0.4 * len(combined_data_cleaned)  # 40% of the total rows

# Identify columns to drop (those with more than 40% missing values)
cols_to_drop = combined_data_cleaned.columns[combined_data_cleaned.isnull().sum() > threshold]

# Drop the identified columns
combined_data_cleaned.drop(columns=cols_to_drop, inplace=True)

# Print the columns that were dropped
print("Dropped columns with more than 40% missing values:", cols_to_drop.tolist())

# Handling NaN values based on variable types after dropping columns
for col in combined_data_cleaned.columns:
    if col in feature_groups['numerical_continuous']:
        # Fill numerical variables with the mean
        combined_data_cleaned[col].fillna(combined_data_cleaned[col].mean(), inplace=True)

    elif col in feature_groups['categorical_ordinal'] or col in feature_groups['categorical_nominal']:
        # For both ordinal and nominal variables, use backward fill
        combined_data_cleaned[col].bfill(inplace=True)

    elif col in feature_groups['binary_indicators']:
        # For binary indicators, fill with the mode
        combined_data_cleaned[col].fillna(combined_data_cleaned[col].mode()[0], inplace=True)

# Optionally, check for remaining NaN values
remaining_nans = combined_data_cleaned.isnull().sum()
print("Remaining NaN values after filling:", remaining_nans[remaining_nans > 0])  # Print remaining columns with NaN values

# Display the cleaned data
print(combined_data_cleaned.head())

Dropped columns with more than 40% missing values: ['bmi_03', 'decis_famil_03', 'sgender_03', 'rjob_hrswk_03', 'rjlocc_m_03', 'rjob_end_03', 'rjobend_reason_03', 'searnings_03', 'sinc_pension_03', 'rjob_hrswk_12', 'rjlocc_m_12', 'rjob_end_12', 'rjobend_reason_12', 'a16a_12', 'a21_12', 'a22_12', 'a33b_12']
Remaining NaN values after filling: vax_flu_12         320
vax_pneu_12        420
rafeduc_m            1
year               819
composite_score    819
dtype: int64
    uid  age_03  urban_03  married_03  n_mar_03  edu_gru_03  \
0  aace     1.0       1.0         3.0  1.133275         3.0
1  aanz     1.0       1.0         3.0  1.133275         3.0
2  aape     1.0       1.0         3.0  1.133275         3.0
3  aape     1.0       1.0         3.0  1.133275         3.0
4  aard     1.0       1.0         3.0  1.000000         3.0

   n_living_child_03  migration_03  glob_hlth_03  adl_dress_03  ...  \
0                1.0           0.0           4.0           0.0  ...
1                1.0           0.0           4.0           0.0  ...
2                1.0           0.0           4.0           0.0  ...
3                1.0           0.0           4.0           0.0  ...
4                1.0           0.0           4.0           0.0  ...

   rinc_pension_12  sinc_pension_12  rrelgimp_12  rrfcntx_m_12  rsocact_m_12  \
0              0.0         0.000000          2.0           9.0           9.0
1              0.0         0.000000          1.0           9.0           1.0
2              0.0         0.000000          2.0           6.0           2.0
3              0.0         0.000000          2.0           6.0           2.0
4              0.0     11946.026987          1.0           4.0           9.0

   rrelgwk_12  a34_12  j11_12    year  composite_score
0         0.0     2.0     2.0  2021.0            175.0
1         0.0     2.0     2.0  2021.0            206.0
2         0.0     2.0     1.0  2016.0            161.0
3         0.0     2.0     1.0  2021.0            144.0
4         1.0     2.0     2.0  2021.0            104.0

[5 rows x 169 columns]

In [16]:
print(combined_data_cleaned.head(10))

    uid  age_03  urban_03  married_03  n_mar_03  edu_gru_03  \
0  aace     1.0       1.0         3.0  1.133275         3.0
1  aanz     1.0       1.0         3.0  1.133275         3.0
2  aape     1.0       1.0         3.0  1.133275         3.0
3  aape     1.0       1.0         3.0  1.133275         3.0
4  aard     1.0       1.0         3.0  1.000000         3.0
5  ablr     1.0       0.0         1.0  1.133275         1.0
6  abme     1.0       0.0         1.0  1.000000         1.0
7  abrn     1.0       0.0         1.0  2.000000         0.0
8  acet     1.0       1.0         1.0  1.000000         3.0
9  acgx     3.0       0.0         1.0  1.133275         0.0

   n_living_child_03  migration_03  glob_hlth_03  adl_dress_03  ...  \
0                1.0           0.0           4.0           0.0  ...
1                1.0           0.0           4.0           0.0  ...
2                1.0           0.0           4.0           0.0  ...
3                1.0           0.0           4.0           0.0  ...
4                1.0           0.0           4.0           0.0  ...
5                3.0           0.0           4.0           0.0  ...
6                3.0           0.0           4.0           0.0  ...
7                3.0           0.0           4.0           0.0  ...
8                0.0           0.0           4.0           0.0  ...
9                2.0           0.0           5.0           0.0  ...

   rinc_pension_12  sinc_pension_12  rrelgimp_12  rrfcntx_m_12  rsocact_m_12  \
0              0.0         0.000000          2.0           9.0           9.0
1              0.0         0.000000          1.0           9.0           1.0
2              0.0         0.000000          2.0           6.0           2.0
3              0.0         0.000000          2.0           6.0           2.0
4              0.0     11946.026987          1.0           4.0           9.0
5              0.0         0.000000          1.0           3.0           3.0
6              0.0         0.000000          1.0           9.0           9.0
7              0.0         0.000000          2.0           8.0           9.0
8              0.0     30000.000000          2.0           1.0           1.0
9              0.0         0.000000          1.0           3.0           4.0

   rrelgwk_12  a34_12  j11_12    year  composite_score
0         0.0     2.0     2.0  2021.0            175.0
1         0.0     2.0     2.0  2021.0            206.0
2         0.0     2.0     1.0  2016.0            161.0
3         0.0     2.0     1.0  2021.0            144.0
4         1.0     2.0     2.0  2021.0            104.0
5         0.0     2.0     1.0  2021.0            183.0
6         0.0     2.0     2.0  2021.0            106.0
7         0.0     2.0     2.0  2021.0            144.0
8         0.0     2.0     2.0  2021.0            152.0
9         0.0     2.0     2.0  2021.0            144.0

[10 rows x 169 columns]

In [17]:
combined_data_cleaned.dropna(inplace=True)

In [18]:
print((combined_data_cleaned.isnull().sum()).sort_values(ascending=False))

uid                0
decis_famil_12     0
out_proc_12        0
visit_dental_12    0
imss_12            0
                  ..
employment_03      0
age_12             0
urban_12           0
married_12         0
composite_score    0
Length: 169, dtype: int64

In [19]:
combined_data_cleaned = combined_data_cleaned.drop(columns='uid',axis=1)

In [20]:
print((combined_data_cleaned.columns).to_list())

['age_03', 'urban_03', 'married_03', 'n_mar_03', 'edu_gru_03', 'n_living_child_03', 'migration_03', 'glob_hlth_03', 'adl_dress_03', 'adl_walk_03', 'adl_bath_03', 'adl_eat_03', 'adl_bed_03', 'adl_toilet_03', 'n_adl_03', 'iadl_money_03', 'iadl_meds_03', 'iadl_shop_03', 'iadl_meals_03', 'n_iadl_03', 'depressed_03', 'hard_03', 'restless_03', 'happy_03', 'lonely_03', 'enjoy_03', 'sad_03', 'tired_03', 'energetic_03', 'n_depr_03', 'cesd_depressed_03', 'hypertension_03', 'diabetes_03', 'resp_ill_03', 'arthritis_03', 'hrt_attack_03', 'stroke_03', 'cancer_03', 'n_illnesses_03', 'exer_3xwk_03', 'alcohol_03', 'tobacco_03', 'test_chol_03', 'test_tuber_03', 'test_diab_03', 'test_pres_03', 'hosp_03', 'visit_med_03', 'out_proc_03', 'visit_dental_03', 'imss_03', 'issste_03', 'pem_def_mar_03', 'insur_private_03', 'insur_other_03', 'insured_03', 'decis_personal_03', 'employment_03', 'age_12', 'urban_12', 'married_12', 'n_mar_12', 'edu_gru_12', 'n_living_child_12', 'migration_12', 'glob_hlth_12', 'adl_dress_12', 'adl_walk_12', 'adl_bath_12', 'adl_eat_12', 'adl_bed_12', 'adl_toilet_12', 'n_adl_12', 'iadl_money_12', 'iadl_meds_12', 'iadl_shop_12', 'iadl_meals_12', 'n_iadl_12', 'depressed_12', 'hard_12', 'restless_12', 'happy_12', 'lonely_12', 'enjoy_12', 'sad_12', 'tired_12', 'energetic_12', 'n_depr_12', 'cesd_depressed_12', 'hypertension_12', 'diabetes_12', 'resp_ill_12', 'arthritis_12', 'hrt_attack_12', 'stroke_12', 'cancer_12', 'n_illnesses_12', 'bmi_12', 'exer_3xwk_12', 'alcohol_12', 'tobacco_12', 'test_chol_12', 'test_tuber_12', 'test_diab_12', 'test_pres_12', 'hosp_12', 'visit_med_12', 'out_proc_12', 'visit_dental_12', 'imss_12', 'issste_12', 'pem_def_mar_12', 'insur_private_12', 'insur_other_12', 'insured_12', 'decis_famil_12', 'decis_personal_12', 'employment_12', 'vax_flu_12', 'vax_pneu_12', 'seg_pop_12', 'care_adult_12', 'care_child_12', 'volunteer_12', 'attends_class_12', 'attends_club_12', 'reads_12', 'games_12', 'table_games_12', 'comms_tel_comp_12', 'act_mant_12', 'tv_12', 'sewing_12', 'satis_ideal_12', 'satis_excel_12', 'satis_fine_12', 'cosas_imp_12', 'wouldnt_change_12', 'memory_12', 'ragender', 'rameduc_m', 'rafeduc_m', 'rearnings_03', 'hincome_03', 'hinc_business_03', 'hinc_rent_03', 'hinc_assets_03', 'hinc_cap_03', 'rinc_pension_03', 'rrelgimp_03', 'sgender_12', 'rearnings_12', 'searnings_12', 'hincome_12', 'hinc_business_12', 'hinc_rent_12', 'hinc_assets_12', 'hinc_cap_12', 'rinc_pension_12', 'sinc_pension_12', 'rrelgimp_12', 'rrfcntx_m_12', 'rsocact_m_12', 'rrelgwk_12', 'a34_12', 'j11_12', 'year', 'composite_score']

In [21]:
# Calculate the correlation matrix
correlation_matrix = combined_data_cleaned.corr()

# Count correlations greater than 0.6 or less than -0.6
high_correlations_count = ((correlation_matrix > 0.6) | (correlation_matrix < -0.6)).sum().sum()

print(f"Total correlations greater than 0.6 or less than -0.6: {high_correlations_count}")

# Filter the correlation matrix
filtered_corr = correlation_matrix[(correlation_matrix > 0.6) | (correlation_matrix < -0.6)]

# Drop rows and columns that are entirely NaN
filtered_corr_cleaned = filtered_corr.dropna(axis=0, how='all').dropna(axis=1, how='all')

# Display the cleaned filtered correlation matrix
print("Filtered Correlation Matrix (values > 0.6 or < -0.6):")
print(filtered_corr_cleaned)

Total correlations greater than 0.6 or less than -0.6: 276
Filtered Correlation Matrix (values > 0.6 or < -0.6):
                 age_03  urban_03  married_03  n_mar_03  edu_gru_03  \
age_03              1.0       NaN         NaN       NaN         NaN
urban_03            NaN       1.0         NaN       NaN         NaN
married_03          NaN       NaN         1.0       NaN         NaN
n_mar_03            NaN       NaN         NaN       1.0         NaN
edu_gru_03          NaN       NaN         NaN       NaN         1.0
...                 ...       ...         ...       ...         ...
rrelgwk_12          NaN       NaN         NaN       NaN         NaN
a34_12              NaN       NaN         NaN       NaN         NaN
j11_12              NaN       NaN         NaN       NaN         NaN
year                NaN       NaN         NaN       NaN         NaN
composite_score     NaN       NaN         NaN       NaN         NaN

                 n_living_child_03  migration_03  glob_hlth_03  adl_dress_03  \
age_03                         NaN           NaN           NaN           NaN
urban_03                       NaN           NaN           NaN           NaN
married_03                     NaN           NaN           NaN           NaN
n_mar_03                       NaN           NaN           NaN           NaN
edu_gru_03                     NaN           NaN           NaN           NaN
...                            ...           ...           ...           ...
rrelgwk_12                     NaN           NaN           NaN           NaN
a34_12                         NaN           NaN           NaN           NaN
j11_12                         NaN           NaN           NaN           NaN
year                           NaN           NaN           NaN           NaN
composite_score                NaN           NaN           NaN           NaN

                 adl_walk_03  ...  rinc_pension_12  sinc_pension_12  \
age_03                   NaN  ...              NaN              NaN
urban_03                 NaN  ...              NaN              NaN
married_03               NaN  ...              NaN              NaN
n_mar_03                 NaN  ...              NaN              NaN
edu_gru_03               NaN  ...              NaN              NaN
...                      ...  ...              ...              ...
rrelgwk_12               NaN  ...              NaN              NaN
a34_12                   NaN  ...              NaN              NaN
j11_12                   NaN  ...              NaN              NaN
year                     NaN  ...              NaN              NaN
composite_score          NaN  ...              NaN              NaN

                 rrelgimp_12  rrfcntx_m_12  rsocact_m_12  rrelgwk_12  a34_12  \
age_03                   NaN           NaN           NaN         NaN     NaN
urban_03                 NaN           NaN           NaN         NaN     NaN
married_03               NaN           NaN           NaN         NaN     NaN
n_mar_03                 NaN           NaN           NaN         NaN     NaN
edu_gru_03               NaN           NaN           NaN         NaN     NaN
...                      ...           ...           ...         ...     ...
rrelgwk_12               NaN           NaN           NaN         1.0     NaN
a34_12                   NaN           NaN           NaN         NaN     1.0
j11_12                   NaN           NaN           NaN         NaN     NaN
year                     NaN           NaN           NaN         NaN     NaN
composite_score          NaN           NaN           NaN         NaN     NaN

                 j11_12  year  composite_score
age_03              NaN   NaN              NaN
urban_03            NaN   NaN              NaN
married_03          NaN   NaN              NaN
n_mar_03            NaN   NaN              NaN
edu_gru_03          NaN   NaN              NaN
...                 ...   ...              ...
rrelgwk_12          NaN   NaN              NaN
a34_12              NaN   NaN              NaN
j11_12              1.0   NaN              NaN
year                NaN   1.0              NaN
composite_score     NaN   NaN              1.0

[168 rows x 168 columns]

1. Health and Functionality Features

- Overall Health Score: Combine self-reported global health and the number of ADL/IADL limitations to create a composite health score.

- Formula: overall_health_score = (self_reported_health) - (n_adl + n_iadl)
- Physical Limitations: Create a binary feature indicating any physical limitations.

- Formula: physical_limitations = max(adl_dress, adl_walk, adl_bath, adl_eat, adl_bed, adl_toilet)
- Depression Symptoms Score: Combine multiple depression-related features to create a composite depression score.

- Formula: depression_score = n_depr + (depressed + sad + lonely + tired + restless)

In [22]:
# 1. Health and Functionality Features
# Overall Health Score: Composite health score
combined_data_cleaned['overall_health_score'] = (
    combined_data_cleaned['glob_hlth_03'] - 
    combined_data_cleaned['n_adl_03'] - 
    combined_data_cleaned['n_iadl_03']
)

# Physical Limitations: Binary feature indicating any physical limitations
combined_data_cleaned['physical_limitations'] = (
    (combined_data_cleaned[['adl_dress_03', 'adl_walk_03', 'adl_bath_03', 
                            'adl_eat_03', 'adl_bed_03', 'adl_toilet_03']] > 0).any(axis=1).astype(int)
)

# Depression Symptoms Score: Composite score based on depression-related features
combined_data_cleaned['depression_score'] = (
    combined_data_cleaned['n_depr_03'] + 
    combined_data_cleaned[['depressed_03', 'sad_03', 'lonely_03', 'tired_03', 'restless_03']].sum(axis=1)
)

2. Social Determinants of Health

- Social Isolation Score: Create a score based on social activities, frequency of seeing friends and relatives, and participation in religious services.

- Formula: social_isolation_score = (frequency_of_social_activities + rrelgwk) / 2
- Economic Strain Index: Create an index that reflects financial stability based on income and health coverage.

- ormula: economic_strain_index = (1 - insured) + (1 - (insur_private + insur_other)) + (hincome < threshold)

In [23]:
# 2. Social Determinants of Health
# Social Isolation Score: Score based on social activities and social contact
combined_data_cleaned['social_isolation_score'] = (
    (combined_data_cleaned['rrelgwk_12'] + combined_data_cleaned['seg_pop_12']) / 2
)

# Economic Strain Index: Index reflecting financial stability based on income and health coverage
combined_data_cleaned['economic_strain_index'] = (
    (1 - combined_data_cleaned['insured_12']) + 
    (1 - (combined_data_cleaned['insur_private_12'] + combined_data_cleaned['insur_other_12'])) + 
    (combined_data_cleaned['hincome_12'] < 20000).astype(int)  # Example threshold
)

3. Lifestyle Features

-Healthy Lifestyle Score: Create a score based on exercise, diet (considering alcohol and tobacco use), and health check-ups.

- Formula: healthy_lifestyle_score = (exer_3xwk + (1 - alcohol) + (1 - tobacco) + test_chol + test_diab + test_pres)
- Mental Engagement Score: Measure engagement in activities that can help maintain cognitive function (e.g., reading, games).

Formula: mental_engagement_score = (reads + games + sewing + tv)

In [24]:
# 3. Lifestyle Features
# Healthy Lifestyle Score: Score based on lifestyle factors
combined_data_cleaned['healthy_lifestyle_score'] = (
    combined_data_cleaned['exer_3xwk_12'] + 
    (1 - combined_data_cleaned['alcohol_12']) + 
    (1 - combined_data_cleaned['tobacco_12']) + 
    combined_data_cleaned[['test_chol_12', 'test_diab_12', 'test_pres_12']].sum(axis=1)
)

# Mental Engagement Score: Engagement in activities
combined_data_cleaned['mental_engagement_score'] = (
    combined_data_cleaned[['reads_12', 'games_12', 'sewing_12', 'tv_12']].sum(axis=1)
)

4. Interaction Features

- Interaction of Age and Health: Capture the interaction between age group and self-reported health.

- Formula: age_health_interaction = age * glob_hlth (where age is converted into a numeric value)
- Education and Health: Create an interaction feature between education level and overall health score.

- Formula: education_health_interaction = edu_gru * overall_health_score

In [25]:

# 4. Interaction Features
# Interaction of Age and Health: Interaction between age and self-reported health
combined_data_cleaned['age_health_interaction'] = (
    combined_data_cleaned['age_12'] * combined_data_cleaned['glob_hlth_12']
)

# Education and Health: Interaction feature between education level and overall health score
combined_data_cleaned['education_health_interaction'] = (
    combined_data_cleaned['edu_gru_12'] * combined_data_cleaned['overall_health_score']
)

5. Temporal Features

- Change in Health Over Time: Calculate the change in the number of ADL and IADL limitations from 2003 to 2012.

- Formula: change_in_adl = n_adl_12 - n_adl_03
- Formula: change_in_iadl = n_iadl_12 - n_iadl_03
- Longitudinal Change in Depression: Measure the change in depression score over the years.

- Formula: change_in_depression = depression_score_12 - depression_score_03

In [26]:

# 5. Temporal Features
# Change in Health Over Time: Changes in ADL and IADL limitations from 2003 to 2012
combined_data_cleaned['change_in_adl'] = (
    combined_data_cleaned['n_adl_12'] - combined_data_cleaned['n_adl_03']
)
combined_data_cleaned['change_in_iadl'] = (
    combined_data_cleaned['n_iadl_12'] - combined_data_cleaned['n_iadl_03']
)

# Longitudinal Change in Depression: Change in depression score over the years
combined_data_cleaned['change_in_depression'] = (
    combined_data_cleaned['n_depr_12'] - combined_data_cleaned['n_depr_03']
)

6. Aggregate Features

- Aggregate Illness Count: Create a new feature that counts the number of chronic illnesses reported (hypertension, diabetes, etc.).

- Formula: chronic_illness_count = (hypertension + diabetes + resp_ill + arthritis + hrt_attack + stroke + cancer)
- Total Caregiving Index: A combined measure reflecting the amount of time spent caregiving, considering both adult and child care.

- Formula: total_caregiving_index = care_adult + care_child

In [27]:
# 6. Aggregate Features
# Aggregate Illness Count: Counting chronic illnesses
combined_data_cleaned['chronic_illness_count'] = (
    combined_data_cleaned[['hypertension_03', 'diabetes_03', 'resp_ill_03', 
                           'arthritis_03', 'hrt_attack_03', 'stroke_03', 
                           'cancer_03']].sum(axis=1)
)

# Total Caregiving Index: Time spent caregiving for adults and children
combined_data_cleaned['total_caregiving_index'] = (
    combined_data_cleaned['care_adult_12'] + 
    combined_data_cleaned['care_child_12']
)

In [28]:
combined_data_cleaned.head()

,age_03,urban_03,married_03,n_mar_03,edu_gru_03,n_living_child_03,migration_03,glob_hlth_03,adl_dress_03,adl_walk_03,...,economic_strain_index,healthy_lifestyle_score,mental_engagement_score,age_health_interaction,education_health_interaction,change_in_adl,change_in_iadl,change_in_depression,chronic_illness_count,total_caregiving_index
0,1.0,1.0,3.0,1.133275,3.0,1.0,0.0,4.0,0.0,0.0,...,0.0,5.0,2.0,8.0,0.000000,0.115188,-0.047181,-3.485267,0.0,0.0
1,1.0,1.0,3.0,1.133275,3.0,1.0,0.0,4.0,0.0,0.0,...,1.0,6.0,3.0,4.0,11.637394,-0.073687,-0.047181,0.514733,0.0,1.0
2,1.0,1.0,3.0,1.133275,3.0,1.0,0.0,4.0,0.0,0.0,...,2.0,5.0,3.0,4.0,3.879131,0.926313,-0.047181,0.514733,0.0,1.0
3,1.0,1.0,3.0,1.133275,3.0,1.0,0.0,4.0,0.0,0.0,...,2.0,5.0,3.0,4.0,3.879131,0.926313,-0.047181,0.514733,0.0,1.0
4,1.0,1.0,3.0,1.000000,3.0,1.0,0.0,4.0,0.0,0.0,...,2.0,4.0,3.0,8.0,12.000000,0.000000,0.000000,2.000000,1.0,0.0

In [29]:
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

# Assuming `combined_data_cleaned` is already loaded
X = combined_data_cleaned.drop(columns=['composite_score'])
y = combined_data_cleaned['composite_score']

# Preprocessing: Scaling and Handling Outliers
# Pipeline for continuous features
numerical_features = X.select_dtypes(include=['float64', 'int64']).columns
numerical_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='median')),  # Handling NaNs
    ('scaler', StandardScaler())  # Scaling the data
])

# Applying the transformation
preprocessor = ColumnTransformer([
    ('num', numerical_pipeline, numerical_features)
])

# Preprocessing the data
X = preprocessor.fit_transform(X)

### Using SelectKBest with Different Scoring Functions

We’ll use SelectKBest with chi2 (requires non-negative data) and mutual_info_regression:

In [30]:
from sklearn.feature_selection import SelectKBest, chi2, mutual_info_classif, mutual_info_regression, f_regression

In [31]:
# Ensuring non-negative data for chi2
X_non_neg = np.where(X < 0, X - X.min(axis=0), X)

# SelectKBest with chi2
chi2_selector = SelectKBest(score_func=chi2, k='all')
chi2_selector.fit(X_non_neg, y)
chi2_scores = chi2_selector.scores_

# SelectKBest with mutual information
mutual_info_selector = SelectKBest(score_func=mutual_info_regression, k='all')
mutual_info_selector.fit(X, y)
mutual_info_scores = mutual_info_selector.scores_

# SelectKBest with f_regression (ANOVA F-value)
f_reg_selector = SelectKBest(score_func=f_regression, k='all')
f_reg_selector.fit(X, y)
f_reg_scores = f_reg_selector.scores_

In [32]:
from sklearn.feature_selection import SelectKBest, chi2, mutual_info_regression, f_regression
import pandas as pd

# Adjust actual_feature_names to match the number of features in X
if not isinstance(X, pd.DataFrame):
    # Match feature names to the shape of X if they're mismatched
    actual_feature_names = combined_data_cleaned.columns[:X.shape[1]].tolist()
    X_df = pd.DataFrame(X, columns=actual_feature_names)
else:
    X_df = X

# Ensure non-negative data for chi2 by adjusting any negative values
X_non_neg = X_df.apply(lambda x: x - x.min() if x.min() < 0 else x)

# SelectKBest with chi2
chi2_selector = SelectKBest(score_func=chi2, k='all')
chi2_selector.fit(X_non_neg, y)
chi2_scores = chi2_selector.scores_

# SelectKBest with mutual information
mutual_info_selector = SelectKBest(score_func=mutual_info_regression, k='all')
mutual_info_selector.fit(X_df, y)
mutual_info_scores = mutual_info_selector.scores_

# SelectKBest with f_regression (ANOVA F-value)
f_reg_selector = SelectKBest(score_func=f_regression, k='all')
f_reg_selector.fit(X_df, y)
f_reg_scores = f_reg_selector.scores_

# Combining scores into a DataFrame for ranking
feature_scores = pd.DataFrame({
    'feature': X_df.columns,
    'chi2': chi2_scores,
    'mutual_info': mutual_info_scores,
    'f_regression': f_reg_scores
})

# Ranking features in descending order for each score type
feature_scores['chi2_rank'] = feature_scores['chi2'].rank(ascending=False)
feature_scores['mutual_info_rank'] = feature_scores['mutual_info'].rank(ascending=False)
feature_scores['f_regression_rank'] = feature_scores['f_regression'].rank(ascending=False)

# Calculating the average rank across methods
feature_scores['average_rank'] = feature_scores[['chi2_rank', 'mutual_info_rank', 'f_regression_rank']].mean(axis=1)

# Sorting features by their average rank (lower rank means higher importance)
most_important_features = feature_scores.sort_values('average_rank').reset_index(drop=True)

# Displaying the top features based on their average rank
print(most_important_features[['feature', 'average_rank']].head(15))

                    feature  average_rank
0                edu_gru_12     15.000000
1                  games_12     23.000000
2   mental_engagement_score     27.333333
3                 rameduc_m     28.333333
4              rearnings_12     28.666667
5                edu_gru_03     31.333333
6              rearnings_03     31.333333
7            table_games_12     34.000000
8                    j11_12     34.000000
9                  reads_12     35.000000
10          rinc_pension_12     38.333333
11  healthy_lifestyle_score     39.666667
12                  hard_03     42.333333
13                rafeduc_m     43.000000
14    economic_strain_index     43.333333

In [33]:
combined_data_cleaned

,age_03,urban_03,married_03,n_mar_03,edu_gru_03,n_living_child_03,migration_03,glob_hlth_03,adl_dress_03,adl_walk_03,...,economic_strain_index,healthy_lifestyle_score,mental_engagement_score,age_health_interaction,education_health_interaction,change_in_adl,change_in_iadl,change_in_depression,chronic_illness_count,total_caregiving_index
0,1.0,1.0,3.0,1.133275,3.0,1.0,0.0,4.0,0.0,0.0,...,0.0,5.0,2.0,8.0,0.000000,0.115188,-0.047181,-3.485267,0.0,0.0
1,1.0,1.0,3.0,1.133275,3.0,1.0,0.0,4.0,0.0,0.0,...,1.0,6.0,3.0,4.0,11.637394,-0.073687,-0.047181,0.514733,0.0,1.0
2,1.0,1.0,3.0,1.133275,3.0,1.0,0.0,4.0,0.0,0.0,...,2.0,5.0,3.0,4.0,3.879131,0.926313,-0.047181,0.514733,0.0,1.0
3,1.0,1.0,3.0,1.133275,3.0,1.0,0.0,4.0,0.0,0.0,...,2.0,5.0,3.0,4.0,3.879131,0.926313,-0.047181,0.514733,0.0,1.0
4,1.0,1.0,3.0,1.000000,3.0,1.0,0.0,4.0,0.0,0.0,...,2.0,4.0,3.0,8.0,12.000000,0.000000,0.000000,2.000000,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4337,1.0,0.0,1.0,1.000000,1.0,4.0,0.0,5.0,0.0,0.0,...,1.0,4.0,3.0,4.0,5.000000,0.000000,0.000000,1.000000,2.0,0.0
4338,1.0,0.0,1.0,1.000000,1.0,4.0,0.0,5.0,0.0,0.0,...,1.0,4.0,3.0,4.0,5.000000,0.000000,0.000000,1.000000,2.0,0.0
4339,1.0,0.0,3.0,1.000000,1.0,1.0,0.0,4.0,0.0,0.0,...,2.0,3.0,0.0,6.0,4.000000,0.000000,0.000000,1.000000,2.0,0.0
4340,1.0,0.0,3.0,1.000000,1.0,1.0,0.0,4.0,0.0,0.0,...,2.0,3.0,0.0,6.0,4.000000,0.000000,0.000000,1.000000,2.0,0.0
4342,1.0,1.0,1.0,3.000000,0.0,4.0,0.0,4.0,0.0,0.0,...,1.0,6.0,1.0,8.0,0.000000,0.000000,0.000000,-1.000000,1.0,1.0

### Feature Importances from Tree-Based Models

We’ll use RandomForestRegressor and DecisionTreeRegressor to calculate importance scores:

In [34]:
from sklearn.tree import DecisionTreeRegressor

In [35]:
# Feature importances from Random Forest
rf = RandomForestRegressor(random_state=42)
rf.fit(X, y)
rf_importances = rf.feature_importances_

# Feature importances from Decision Tree
dt = DecisionTreeRegressor(random_state=42)
dt.fit(X, y)
dt_importances = dt.feature_importances_

### Feature Importances from Lasso Regression

Lasso regression performs feature selection by applying L1 regularization.

In [36]:
from sklearn.linear_model import LassoCV

In [37]:
# Feature importance from Lasso Regression
lasso = LassoCV(cv=5, random_state=42)
lasso.fit(X, y)
lasso_importances = np.abs(lasso.coef_)

### Organizing Feature Importance Scores 

Combine all feature importance scores into a DataFrame for comparison:

In [38]:
# Assuming you have already run your feature selection code and have your scores calculated

# Combining scores into a DataFrame for ranking
feature_importances_df = pd.DataFrame({
    'Feature': X_df.columns,  # Use X_df to access the column names
    'Chi2': chi2_scores,
    'Mutual_Info': mutual_info_scores,
    'F_Regression': f_reg_scores,
    'DT_Importances': dt_importances,
    'Lasso_Importances': lasso_importances
})

# Ranking features in descending order for each score type
feature_importances_df['chi2_rank'] = feature_importances_df['Chi2'].rank(ascending=False)
feature_importances_df['mutual_info_rank'] = feature_importances_df['Mutual_Info'].rank(ascending=False)
feature_importances_df['f_regression_rank'] = feature_importances_df['F_Regression'].rank(ascending=False)
feature_importances_df['dt_rank'] = feature_importances_df['DT_Importances'].rank(ascending=False)
feature_importances_df['lasso_rank'] = feature_importances_df['Lasso_Importances'].rank(ascending=False)

# Calculating the average rank across methods
feature_importances_df['average_rank'] = feature_importances_df[['chi2_rank', 'mutual_info_rank', 'f_regression_rank', 'dt_rank', 'lasso_rank']].mean(axis=1)

# Sorting features by their average rank (lower rank means higher importance)
most_important_features = feature_importances_df.sort_values('average_rank').reset_index(drop=True)

# Displaying the top features based on their average rank
print(most_important_features[['Feature', 'average_rank']].head(15))

                    Feature  average_rank
0                edu_gru_12           9.4
1                    j11_12          25.0
2                 rameduc_m          26.2
3                    age_12          27.6
4     economic_strain_index          27.6
5            table_games_12          32.4
6                  reads_12          32.4
7              rrfcntx_m_12          32.4
8   healthy_lifestyle_score          36.2
9         n_living_child_12          36.2
10             rearnings_12          40.2
11               hincome_03          40.8
12             rsocact_m_12          41.4
13            care_child_12          41.8
14                   age_03          41.8

Selecting the Most Frequently Ranked Features

Now, we will find the top features that consistently rank highly across different methods.

In [39]:
# Sorting features by average rank
top_features = feature_importances_df.sort_values(by='average_rank').head(15)
top_features_list = top_features['Feature'].tolist()
print("Top features across all methods:", top_features_list)

Top features across all methods: ['edu_gru_12', 'j11_12', 'rameduc_m', 'age_12', 'economic_strain_index', 'table_games_12', 'reads_12', 'rrfcntx_m_12', 'healthy_lifestyle_score', 'n_living_child_12', 'rearnings_12', 'hincome_03', 'rsocact_m_12', 'care_child_12', 'age_03']

Specifying the Number of Top Features: Decide on the number of top features to keep. For example, let’s say we want the top 15 features.

In [40]:

print(most_important_features.columns)
top_features = most_important_features['Feature'].head(15).tolist()

# Extract the top features from X_df based on the identified top features
X_top = X_df[top_features]

Index(['Feature', 'Chi2', 'Mutual_Info', 'F_Regression', 'DT_Importances',
       'Lasso_Importances', 'chi2_rank', 'mutual_info_rank',
       'f_regression_rank', 'dt_rank', 'lasso_rank', 'average_rank'],
      dtype='object')

In [41]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_top_scaled, y, test_size=0.2, random_state=42)

NameError: name 'X_top_scaled' is not defined

In [ ]:


scaler = StandardScaler()
X_top_scaled = scaler.fit_transform(X_top)

Recommended Metrics for Different Scenarios

High Focus on Identifying All Sick Individuals:

Recall: This should be your primary metric if maximizing the count of correctly identified sick individuals is most important.
Balance Between Identifying Sick Individuals and Avoiding False Alarms:

F1-score: This is helpful if you want a balance between high recall (catching sick individuals) and high precision (avoiding false positives).
Secondary Metrics for Insight:

Confusion Matrix: To visually check true positives, false positives, and false negatives.
ROC-AUC: To check the model’s overall ability to distinguish sick versus healthy individuals.

In [44]:
from sklearn.metrics import make_scorer, recall_score, f1_score, roc_auc_score, confusion_matrix

In [45]:
# Define Custom Metrics for Evaluation
# ==========================
def recall_scorer(y_true, y_pred):
    return recall_score(y_true, y_pred, average='weighted')

def f1_scorer(y_true, y_pred):
    return f1_score(y_true, y_pred, average='weighted')

# Define the evaluation metrics
scoring = {
    'Recall': make_scorer(recall_scorer),
    'F1-Score': make_scorer(f1_scorer),
}

In [46]:
# Initialize Results Storage
# ==========================
results = []

# ==========================
# Cross-Validation Setup
# ==========================
cv = TimeSeriesSplit(n_splits=5)

In [69]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.model_selection import GridSearchCV, TimeSeriesSplit

In [71]:
# Ridge Regression
ridge_model = Ridge()
ridge_param_grid = {'alpha': [0.1, 1.0, 10]}
cv = TimeSeriesSplit(n_splits=5)

ridge_grid_search = GridSearchCV(ridge_model, ridge_param_grid, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)
ridge_grid_search.fit(X_train, y_train)
ridge_best_model = ridge_grid_search.best_estimator_
ridge_y_pred = ridge_best_model.predict(X_test)

# Calculate metrics for Ridge Regression
ridge_mae = mean_absolute_error(y_test, ridge_y_pred)
ridge_mse = mean_squared_error(y_test, ridge_y_pred)
ridge_rmse = np.sqrt(ridge_mse)
ridge_r2 = r2_score(y_test, ridge_y_pred)

# Store results for Ridge Regression
ridge_results = {
    'Model': 'Ridge',
    'Best Parameters': ridge_grid_search.best_params_,
    'MAE': ridge_mae,
    'MSE': ridge_mse,
    'RMSE': ridge_rmse,
    'R-squared': ridge_r2
}

In [72]:
# Lasso Regression
lasso_model = Lasso()
lasso_param_grid = {'alpha': [0.01, 0.1, 1.0]}

lasso_grid_search = GridSearchCV(lasso_model, lasso_param_grid, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)
lasso_grid_search.fit(X_train, y_train)
lasso_best_model = lasso_grid_search.best_estimator_
lasso_y_pred = lasso_best_model.predict(X_test)

# Calculate metrics for Lasso Regression
lasso_mae = mean_absolute_error(y_test, lasso_y_pred)
lasso_mse = mean_squared_error(y_test, lasso_y_pred)
lasso_rmse = np.sqrt(lasso_mse)
lasso_r2 = r2_score(y_test, lasso_y_pred)

# Store results for Lasso Regression
lasso_results = {
    'Model': 'Lasso',
    'Best Parameters': lasso_grid_search.best_params_,
    'MAE': lasso_mae,
    'MSE': lasso_mse,
    'RMSE': lasso_rmse,
    'R-squared': lasso_r2
}

In [73]:
# K-Neighbors Regression
knn_model = KNeighborsRegressor()
knn_param_grid = {'n_neighbors': [3, 5, 7]}

knn_grid_search = GridSearchCV(knn_model, knn_param_grid, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)
knn_grid_search.fit(X_train, y_train)
knn_best_model = knn_grid_search.best_estimator_
knn_y_pred = knn_best_model.predict(X_test)

# Calculate metrics for K-Neighbors Regression
knn_mae = mean_absolute_error(y_test, knn_y_pred)
knn_mse = mean_squared_error(y_test, knn_y_pred)
knn_rmse = np.sqrt(knn_mse)
knn_r2 = r2_score(y_test, knn_y_pred)

# Store results for K-Neighbors Regression
knn_results = {
    'Model': 'KNeighbors',
    'Best Parameters': knn_grid_search.best_params_,
    'MAE': knn_mae,
    'MSE': knn_mse,
    'RMSE': knn_rmse,
    'R-squared': knn_r2
}

In [74]:
# Random Forest Regression
rf_model = RandomForestRegressor()
rf_param_grid = {'n_estimators': [50, 100, 200]}

rf_grid_search = GridSearchCV(rf_model, rf_param_grid, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)
rf_grid_search.fit(X_train, y_train)
rf_best_model = rf_grid_search.best_estimator_
rf_y_pred = rf_best_model.predict(X_test)

# Calculate metrics for Random Forest Regression
rf_mae = mean_absolute_error(y_test, rf_y_pred)
rf_mse = mean_squared_error(y_test, rf_y_pred)
rf_rmse = np.sqrt(rf_mse)
rf_r2 = r2_score(y_test, rf_y_pred)

# Store results for Random Forest Regression
rf_results = {
    'Model': 'Random Forest',
    'Best Parameters': rf_grid_search.best_params_,
    'MAE': rf_mae,
    'MSE': rf_mse,
    'RMSE': rf_rmse,
    'R-squared': rf_r2
}

In [75]:
# Gradient Boosting Regression
gb_model = GradientBoostingRegressor()
gb_param_grid = {'n_estimators': [50, 100], 'learning_rate': [0.05, 0.1]}

gb_grid_search = GridSearchCV(gb_model, gb_param_grid, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)
gb_grid_search.fit(X_train, y_train)
gb_best_model = gb_grid_search.best_estimator_
gb_y_pred = gb_best_model.predict(X_test)

# Calculate metrics for Gradient Boosting Regression
gb_mae = mean_absolute_error(y_test, gb_y_pred)
gb_mse = mean_squared_error(y_test, gb_y_pred)
gb_rmse = np.sqrt(gb_mse)
gb_r2 = r2_score(y_test, gb_y_pred)

# Store results for Gradient Boosting Regression
gb_results = {
    'Model': 'Gradient Boosting',
    'Best Parameters': gb_grid_search.best_params_,
    'MAE': gb_mae,
    'MSE': gb_mse,
    'RMSE': gb_rmse,
    'R-squared': gb_r2
}

In [76]:
# XGBoost Regression
xgb_model = XGBRegressor()
xgb_param_grid = {'n_estimators': [50, 100], 'learning_rate': [0.05, 0.1]}

xgb_grid_search = GridSearchCV(xgb_model, xgb_param_grid, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)
xgb_grid_search.fit(X_train, y_train)
xgb_best_model = xgb_grid_search.best_estimator_
xgb_y_pred = xgb_best_model.predict(X_test)

# Calculate metrics for XGBoost Regression
xgb_mae = mean_absolute_error(y_test, xgb_y_pred)
xgb_mse = mean_squared_error(y_test, xgb_y_pred)
xgb_rmse = np.sqrt(xgb_mse)
xgb_r2 = r2_score(y_test, xgb_y_pred)

# Store results for XGBoost Regression
xgb_results = {
    'Model': 'XGBoost',
    'Best Parameters': xgb_grid_search.best_params_,
    'MAE': xgb_mae,
    'MSE': xgb_mse,
    'RMSE': xgb_rmse,
    'R-squared': xgb_r2
}

In [77]:
# LightGBM Regression
lgbm_model = LGBMRegressor()
lgbm_param_grid = {'n_estimators': [50, 100], 'learning_rate': [0.05, 0.1]}

lgbm_grid_search = GridSearchCV(lgbm_model, lgbm_param_grid, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)
lgbm_grid_search.fit(X_train, y_train)
lgbm_best_model = lgbm_grid_search.best_estimator_
lgbm_y_pred = lgbm_best_model.predict(X_test)

# Calculate metrics for LightGBM Regression
lgbm_mae = mean_absolute_error(y_test, lgbm_y_pred)
lgbm_mse = mean_squared_error(y_test, lgbm_y_pred)
lgbm_rmse = np.sqrt(lgbm_mse)
lgbm_r2 = r2_score(y_test, lgbm_y_pred)

# Store results for LightGBM Regression
lgbm_results = {
    'Model': 'LightGBM',
    'Best Parameters': lgbm_grid_search.best_params_,
    'MAE': lgbm_mae,
    'MSE': lgbm_mse,
    'RMSE': lgbm_rmse,
    'R-squared': lgbm_r2
}

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000401 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 236
[LightGBM] [Info] Number of data points in the train set: 3187, number of used features: 15
[LightGBM] [Info] Start training from score 157.892375

In [78]:
# CatBoost Regression
cat_model = CatBoostRegressor(verbose=0)
cat_param_grid = {'iterations': [50, 100], 'learning_rate': [0.05, 0.1]}

cat_grid_search = GridSearchCV(cat_model, cat_param_grid, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)
cat_grid_search.fit(X_train, y_train)
cat_best_model = cat_grid_search.best_estimator_
cat_y_pred = cat_best_model.predict(X_test)

# Calculate metrics for CatBoost Regression
cat_mae = mean_absolute_error(y_test, cat_y_pred)
cat_mse = mean_squared_error(y_test, cat_y_pred)
cat_rmse = np.sqrt(cat_mse)
cat_r2 = r2_score(y_test, cat_y_pred)

# Store results for CatBoost Regression
cat_results = {
    'Model': 'CatBoost',
    'Best Parameters': cat_grid_search.best_params_,
    'MAE': cat_mae,
    'MSE': cat_mse,
    'RMSE': cat_rmse,
    'R-squared': cat_r2
}

In [79]:
# Combine all results into a DataFrame
results_df = pd.DataFrame([
    ridge_results,
    lasso_results,
    knn_results,
    rf_results,
    gb_results,
    xgb_results,
    lgbm_results,
    cat_results
])

# Print the results
print(results_df)

               Model                               Best Parameters        MAE  \
0              Ridge                                 {'alpha': 10}  32.194873
1              Lasso                                {'alpha': 0.1}  32.200801
2         KNeighbors                            {'n_neighbors': 7}  35.085141
3      Random Forest                         {'n_estimators': 200}  30.561123
4  Gradient Boosting    {'learning_rate': 0.1, 'n_estimators': 50}  32.091949
5            XGBoost  {'learning_rate': 0.05, 'n_estimators': 100}  31.751859
6           LightGBM  {'learning_rate': 0.05, 'n_estimators': 100}  31.853513
7           CatBoost     {'iterations': 100, 'learning_rate': 0.1}  31.753972

           MSE       RMSE  R-squared
0  1687.586761  41.080248   0.529308
1  1687.883441  41.083859   0.529225
2  1996.999155  44.687796   0.443008
3  1602.757876  40.034459   0.552968
4  1675.471961  40.932529   0.532687
5  1661.244342  40.758365   0.536655
6  1684.076611  41.037502   0.530287
7  1643.254107  40.537071   0.541673

In [128]:
# Convert wide to long format
data_long = pd.wide_to_long(
    long_data ,
    stubnames=[
        'age', 'urban', 'married', 'n_mar', 'edu_gru', 'n_living_child', 'migration', 
        'glob_hlth', 'adl_dress', 'adl_walk', 'adl_bath', 'adl_eat', 'adl_bed', 'adl_toilet', 
        'n_adl', 'iadl_money', 'iadl_meds', 'iadl_shop', 'iadl_meals', 'n_iadl', 'depressed', 
        'hard', 'restless', 'happy', 'lonely', 'enjoy', 'sad', 'tired', 'energetic', 'n_depr', 
        'cesd_depressed', 'hypertension', 'diabetes', 'resp_ill', 'arthritis', 'hrt_attack', 
        'stroke', 'cancer', 'n_illnesses', 'bmi', 'exer_3xwk', 'alcohol', 'tobacco', 
        'test_chol', 'test_tuber', 'test_diab', 'test_pres', 'hosp', 'visit_med', 
        'out_proc', 'visit_dental', 'imss', 'issste', 'pem_def_mar', 'insur_private', 
        'insur_other', 'insured', 'decis_famil', 'decis_personal', 'employment', 
        'rjob_hrswk', 'rjlocc_m', 'rjob_end', 'rjobend_reason', 'rearnings', 
        'searnings', 'hincome', 'hinc_business', 'hinc_rent', 'hinc_assets', 'hinc_cap', 
        'rinc_pension', 'sinc_pension', 'rrelgimp', 'rrfcntx_m', 'rsocact_m', 'rrelgwk', 
        'a34', 'j11'
    ],
    i=['uid', 'year', 'composite_score'],  # Use 'uid', 'year', and 'composite_score' as identifiers
    j='time',  # Variable to capture time (03 or 12)
    sep='_',  # Separator used in wide-format column names
    suffix='\\d+'  # Regular expression to capture suffixes (03 or 12)
).reset_index()

# Display the first few rows to verify
data_long.head()

,uid,year,composite_score,time,seg_pop_12,comms_tel_comp_12,tv_12,vax_flu_12,table_games_12,satis_excel_12,...,hinc_assets,hinc_cap,rinc_pension,sinc_pension,rrelgimp,rrfcntx_m,rsocact_m,rrelgwk,a34,j11
0,aace,2021.0,175.0,3,1.0,0.0,1.0,0.0,0.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,aace,2021.0,175.0,12,1.0,0.0,1.0,0.0,0.0,3.0,...,0.0,10000.0,0.0,0.0,2.0,9.0,9.0,0.0,NaN,2.0
2,aanz,2021.0,206.0,3,0.0,0.0,1.0,1.0,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,aanz,2021.0,206.0,12,0.0,0.0,1.0,1.0,0.0,2.0,...,0.0,0.0,0.0,0.0,1.0,9.0,1.0,0.0,NaN,2.0
4,aape,2016.0,161.0,3,0.0,1.0,1.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [129]:
data_long.shape

(10324, 113)

In [130]:
# Printing the missing values sorted in descending order
print(data_long.isna().sum().sort_values(ascending=False).to_list())

[10244, 10208, 10192, 10192, 9036, 8995, 7128, 7040, 6588, 5482, 5470, 5468, 5275, 4952, 4592, 4395, 4395, 3652, 3371, 2270, 2251, 2247, 2247, 2228, 2225, 2223, 2222, 2220, 2216, 2211, 2210, 2210, 2209, 2208, 2207, 2206, 2206, 2205, 2205, 2205, 2205, 2204, 2204, 2204, 1962, 1904, 1884, 1882, 1879, 1874, 1866, 1863, 1859, 1859, 1858, 1851, 1850, 1848, 1847, 1847, 1847, 1844, 1842, 1841, 1841, 1840, 1840, 1840, 1840, 1839, 1839, 1838, 1837, 1837, 1837, 1836, 1836, 1835, 1835, 1835, 1835, 1819, 1819, 1819, 1819, 1638, 1638, 1506, 1250, 840, 790, 722, 704, 692, 658, 642, 640, 640, 624, 622, 620, 618, 618, 616, 616, 616, 612, 612, 612, 266, 0, 0, 0]

In [131]:
# Printing the missing values with column names, sorted in descending order
print(data_long.isna().sum().sort_values(ascending=False))

a16a_12            10244
a22_12             10208
a33b_12            10192
a21_12             10192
rjob_end            9036
                   ...
attends_club_12      612
seg_pop_12           266
time                   0
ragender               0
uid                    0
Length: 113, dtype: int64

In [132]:
numeric_data = data_long.select_dtypes(include=['float64', 'int64'])
categorical_data = data_long.select_dtypes(exclude=['float64', 'int64'])

In [133]:

missing_percentages = (data_long.isna().sum() / len(data_long)) * 100


high_missing_columns = missing_percentages[missing_percentages > 40].index

data_long = data_long.drop(columns=high_missing_columns)


print("Columns remaining after dropping those with more than 40% missing values:")
print(data_long.columns)

Columns remaining after dropping those with more than 40% missing values:
Index(['uid', 'year', 'composite_score', 'time', 'seg_pop_12',
       'comms_tel_comp_12', 'tv_12', 'vax_flu_12', 'table_games_12',
       'satis_excel_12', 'volunteer_12', 'wouldnt_change_12',
       'attends_club_12', 'reads_12', 'ragender', 'care_child_12',
       'satis_ideal_12', 'games_12', 'satis_fine_12', 'attends_class_12',
       'act_mant_12', 'cosas_imp_12', 'vax_pneu_12', 'memory_12', 'sewing_12',
       'sgender_12', 'care_adult_12', 'rameduc_m', 'rafeduc_m', 'age', 'urban',
       'married', 'n_mar', 'edu_gru', 'n_living_child', 'migration',
       'glob_hlth', 'adl_dress', 'adl_walk', 'adl_bath', 'adl_eat', 'adl_bed',
       'adl_toilet', 'n_adl', 'iadl_money', 'iadl_meds', 'iadl_shop',
       'iadl_meals', 'n_iadl', 'depressed', 'hard', 'restless', 'happy',
       'lonely', 'enjoy', 'sad', 'tired', 'energetic', 'n_depr',
       'cesd_depressed', 'hypertension', 'diabetes', 'resp_ill', 'arthritis',
       'hrt_attack', 'stroke', 'cancer', 'n_illnesses', 'bmi', 'exer_3xwk',
       'alcohol', 'tobacco', 'test_chol', 'test_tuber', 'test_diab',
       'test_pres', 'hosp', 'visit_med', 'out_proc', 'visit_dental', 'imss',
       'issste', 'pem_def_mar', 'insur_private', 'insur_other', 'insured',
       'decis_personal', 'employment', 'rearnings', 'hincome', 'hinc_business',
       'hinc_rent', 'hinc_assets', 'hinc_cap', 'rinc_pension', 'rrelgimp'],
      dtype='object')

In [134]:

imputer_numeric = SimpleImputer(strategy='median')
imputer_categorical = SimpleImputer(strategy='most_frequent')


numeric_data_imputed = pd.DataFrame(imputer_numeric.fit_transform(numeric_data), columns=numeric_data.columns)
categorical_data_imputed = pd.DataFrame(imputer_categorical.fit_transform(categorical_data), columns=categorical_data.columns)


data_long_imputed = pd.concat([numeric_data_imputed, categorical_data_imputed], axis=1)


print("Number of missing values after imputation:")

Number of missing values after imputation:

In [135]:
print(data_long_imputed.isna().sum().sum())

0

In [136]:
data_long_imputed.head()

,year,composite_score,time,seg_pop_12,comms_tel_comp_12,tv_12,vax_flu_12,table_games_12,satis_excel_12,volunteer_12,...,hinc_cap,rinc_pension,sinc_pension,rrelgimp,rrfcntx_m,rsocact_m,rrelgwk,a34,j11,uid
0,2021.0,175.0,3.0,1.0,0.0,1.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,1.0,4.0,8.0,0.0,2.0,1.0,aace
1,2021.0,175.0,12.0,1.0,0.0,1.0,0.0,0.0,3.0,0.0,...,10000.0,0.0,0.0,2.0,9.0,9.0,0.0,2.0,2.0,aace
2,2021.0,206.0,3.0,0.0,0.0,1.0,1.0,0.0,2.0,0.0,...,0.0,0.0,0.0,1.0,4.0,8.0,0.0,2.0,1.0,aanz
3,2021.0,206.0,12.0,0.0,0.0,1.0,1.0,0.0,2.0,0.0,...,0.0,0.0,0.0,1.0,9.0,1.0,0.0,2.0,2.0,aanz
4,2016.0,161.0,3.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,4.0,8.0,0.0,2.0,1.0,aape

In [137]:
data_long_imputed.dtypes.unique()

array([dtype('float64'), dtype('O')], dtype=object)

In [138]:

unique_values = data_long_imputed.apply(lambda x: x.unique())


for col, unique_vals in unique_values.items():
    print(f"Column: {col} - Unique values: {unique_vals}")

Column: year - Unique values: [2021. 2016.]
Column: composite_score - Unique values: [175. 206. 161. 144. 104. 183. 106. 152.  13. 193.  38. 272. 254.  87.
  92. 203. 117.  84.  17.  48.  93. 140.  69. 218.  78. 122. 157. 162.
  40. 126. 178. 137.  76. 202.  86. 133. 225. 131. 231. 154.  71.  64.
 118. 151. 127. 163. 179. 198. 108. 119.  91. 107. 174. 120.  66.  56.
 246. 195. 281. 289. 159. 121. 200. 248. 258. 191. 209.  39. 267. 247.
 150. 223. 226. 205. 158. 185.  60. 146. 167.  63. 204.  52. 181. 220.
 215. 229.  97. 234. 232. 115.  54. 103. 186. 256.  99. 171.  51.  47.
 124. 147.  68. 130. 136. 148. 311. 134. 153. 100. 221. 199.  14.  42.
 143.  25. 164.  74.  20. 216.   4. 235. 141. 264. 269. 173. 155. 125.
 165. 194. 214. 277.  65. 184. 212. 210. 102.  53.  21.  57.  89.  80.
 101. 245. 236.  26. 105. 251.  88. 197.  95. 213. 109. 169. 189.  50.
  45. 240. 135. 177. 252. 156. 145. 176. 149. 116. 170.  98. 201. 237.
 129. 139. 196.  90. 211. 142.  75.  72.  22. 166. 113.  30. 187. 244.
 111. 160. 217. 222.  62.  73. 238.  43. 307. 250. 219. 207. 110.  23.
  96.  29.  79. 190.  34. 285. 257.  85.  32. 294. 114. 172. 224. 253.
 112. 298. 295. 132.  55.  27.  19. 180. 243.  94.  10. 128.  83. 271.
 290.  59. 188.  46. 138.  82. 123. 260. 208. 239. 241.  70. 306. 265.
   8. 266. 233. 275.  15. 230. 182. 268. 305. 262.  24. 255. 263.  81.
 278. 274. 228. 242.  67. 287.  44. 273.  37. 168. 276. 270. 293.  12.
 288. 249.  33. 292. 227.  77.  41. 308. 192.  16.  61.  18.  36. 286.
  58.  49.  35. 261. 283.  31. 320. 299. 332. 259.  28. 330. 312. 280.
 282. 316. 302. 303. 325. 333. 309. 304. 296. 317. 334. 331. 279.]
Column: time - Unique values: [ 3. 12.]
Column: seg_pop_12 - Unique values: [1. 0.]
Column: comms_tel_comp_12 - Unique values: [0. 1.]
Column: tv_12 - Unique values: [1. 0.]
Column: vax_flu_12 - Unique values: [0. 1.]
Column: table_games_12 - Unique values: [0. 1.]
Column: satis_excel_12 - Unique values: [3. 2. 1.]
Column: volunteer_12 - Unique values: [0. 1.]
Column: sgender_03 - Unique values: [1. 2.]
Column: wouldnt_change_12 - Unique values: [3. 1. 2.]
Column: attends_club_12 - Unique values: [0. 1.]
Column: reads_12 - Unique values: [1. 0.]
Column: ragender - Unique values: [1. 2.]
Column: care_child_12 - Unique values: [0. 1.]
Column: satis_ideal_12 - Unique values: [3. 1. 2.]
Column: games_12 - Unique values: [0. 1.]
Column: satis_fine_12 - Unique values: [1. 3. 2.]
Column: a22_12 - Unique values: [1. 3. 2. 8. 4. 5. 7.]
Column: attends_class_12 - Unique values: [0. 1.]
Column: act_mant_12 - Unique values: [1. 0.]
Column: cosas_imp_12 - Unique values: [1. 2. 3.]
Column: a16a_12 - Unique values: [1972. 1978. 1987. 1965. 1960. 1970. 1951. 2002. 1975. 1993. 2012. 1962.
 1976. 2010. 2005. 1957. 1945. 1985. 1942. 1964. 1958. 1969. 1968. 1974.
 1940. 2011. 1997.]
Column: vax_pneu_12 - Unique values: [0. 1.]
Column: memory_12 - Unique values: [2. 4. 3. 5. 1.]
Column: a33b_12 - Unique values: [3. 1. 2.]
Column: sewing_12 - Unique values: [0. 1.]
Column: a21_12 - Unique values: [ 2.  1. 52.  3. 40. 15.  7. 30.  4.  5.  6. 36. 10. 27. 34. 32. 12.]
Column: sgender_12 - Unique values: [2. 1.]
Column: care_adult_12 - Unique values: [0. 1.]
Column: rameduc_m - Unique values: [1. 2. 3. 4.]
Column: rafeduc_m - Unique values: [1. 2. 4. 3.]
Column: age - Unique values: [2. 1. 3. 4. 0.]
Column: urban - Unique values: [1. 0.]
Column: married - Unique values: [1. 3. 2. 4.]
Column: n_mar - Unique values: [1. 2. 3. 4. 0. 5. 7.]
Column: edu_gru - Unique values: [1. 0. 3. 2. 4.]
Column: n_living_child - Unique values: [2. 1. 3. 0. 4.]
Column: migration - Unique values: [0. 1.]
Column: glob_hlth - Unique values: [4. 5. 3. 2. 1.]
Column: adl_dress - Unique values: [0. 1.]
Column: adl_walk - Unique values: [0. 1.]
Column: adl_bath - Unique values: [0. 1.]
Column: adl_eat - Unique values: [0. 1.]
Column: adl_bed - Unique values: [0. 1.]
Column: adl_toilet - Unique values: [0. 1.]
Column: n_adl - Unique values: [0. 1. 3. 2. 5. 4.]
Column: iadl_money - Unique values: [0. 1.]
Column: iadl_meds - Unique values: [0. 1.]
Column: iadl_shop - Unique values: [0. 1.]
Column: iadl_meals - Unique values: [0. 1.]
Column: n_iadl - Unique values: [0. 1. 2. 3. 4.]
Column: depressed - Unique values: [0. 1.]
Column: hard - Unique values: [0. 1.]
Column: restless - Unique values: [0. 1.]
Column: happy - Unique values: [1. 0.]
Column: lonely - Unique values: [0. 1.]
Column: enjoy - Unique values: [1. 0.]
Column: sad - Unique values: [0. 1.]
Column: tired - Unique values: [1. 0.]
Column: energetic - Unique values: [0. 1.]
Column: n_depr - Unique values: [3. 0. 4. 6. 8. 5. 7. 9. 2. 1.]
Column: cesd_depressed - Unique values: [0. 1.]
Column: hypertension - Unique values: [0. 1.]
Column: diabetes - Unique values: [0. 1.]
Column: resp_ill - Unique values: [0. 1.]
Column: arthritis - Unique values: [0. 1.]
Column: hrt_attack - Unique values: [0. 1.]
Column: stroke - Unique values: [0. 1.]
Column: cancer - Unique values: [0. 1.]
Column: n_illnesses - Unique values: [1. 0. 3. 2. 4. 5.]
Column: bmi - Unique values: [3. 4. 2. 1. 5.]
Column: exer_3xwk - Unique values: [0. 1.]
Column: alcohol - Unique values: [0. 1.]
Column: tobacco - Unique values: [0. 1.]
Column: test_chol - Unique values: [1. 0.]
Column: test_tuber - Unique values: [0. 1.]
Column: test_diab - Unique values: [1. 0.]
Column: test_pres - Unique values: [1. 0.]
Column: hosp - Unique values: [0. 1.]
Column: visit_med - Unique values: [1. 0.]
Column: out_proc - Unique values: [0. 1.]
Column: visit_dental - Unique values: [0. 1.]
Column: imss - Unique values: [0. 1.]
Column: issste - Unique values: [0. 1.]
Column: pem_def_mar - Unique values: [0. 1.]
Column: insur_private - Unique values: [0. 1.]
Column: insur_other - Unique values: [0. 1.]
Column: insured - Unique values: [1. 0.]
Column: decis_famil - Unique values: [2. 3. 1.]
Column: decis_personal - Unique values: [1. 2. 3.]
Column: employment - Unique values: [3. 1. 2. 4.]
Column: rjob_hrswk - Unique values: [ 42.  66.  72.  60.  30.  48.  35.  24.   5.  19.  36.  45.  39.  63.
  56.  55.  12.  84.   9.  52.  28.   0.   6.  40.  18.  14.  25.  57.
  54.  49.  15.  10.  16.  20.  98.  21.  44.  70.  58.   4.  50.  90.
  93.  47.  61.   8.  46.  99.  87.  64.  77.  96.  91.  13.   3.  65.
  26.  67.   7.  38.  59.  94.  23.  51.  81.  43.  68.  29.  34.  33.
  53.  71.  73.  37.  31.  76. 111.  32.  41.  27.  22.  74.  79.  80.
  62.  82.  69.  11.  97.  88. 109.  85.   1.  83.  78. 105. 168.  17.
  75.  86. 119. 112.]
Column: rjlocc_m - Unique values: [11.  6. 18.  8. 14. 17.  9. 15. 16.  4.  3. 12. 10.  1. 13.  7.  2. 19.
  5.]
Column: rjob_end - Unique values: [1996. 2003. 2007. 1973. 1962. 2010. 2012. 1995. 1987. 2005. 1967. 2008.
 1993. 2001. 2002. 1950. 2004. 1994. 1953. 1949. 1991. 1985. 2000. 1978.
 1992. 1997. 1989. 1963. 2011. 1999. 1952. 1984. 1980. 1971. 1969. 1968.
 1988. 1964. 2006. 1960. 1946. 2009. 1998. 1958. 1990. 1986. 1959. 1983.
 1972. 1961. 1981. 1970. 1979. 1982. 1951. 1977. 1965. 1974. 1945. 1941.
 1954. 1948. 1935. 1947. 1943. 1955. 1975. 1944. 1976. 1956. 1966. 1957.
 1937. 1933.]
Column: rjobend_reason - Unique values: [4. 8. 5. 3. 1.]
Column: rearnings - Unique values: [0.00e+00 7.00e+04 1.00e+04 3.00e+04 5.00e+04 2.00e+04 6.00e+04 1.90e+04
 1.00e+05 4.80e+04 6.00e+03 2.90e+05 1.08e+05 8.00e+04 6.80e+04 8.00e+03
 5.80e+04 2.60e+05 1.50e+05 2.60e+04 2.10e+04 5.20e+04 4.00e+04 3.60e+04
 1.20e+04 4.10e+04 5.00e+03 2.40e+04 2.50e+04 4.40e+04 1.30e+05 1.30e+04
 3.00e+03 1.10e+04 1.90e+05 3.50e+04 1.12e+05 8.70e+04 1.10e+05 3.90e+04
 2.20e+04 5.60e+04 1.40e+04 9.80e+04 1.70e+04 2.90e+04 3.80e+04 3.40e+04
 1.20e+05 1.03e+06 7.90e+04 5.10e+04 3.10e+04 9.00e+04 7.00e+03 7.20e+04
 4.60e+05 5.40e+04 4.30e+04 6.50e+04 7.80e+04 2.00e+05 3.60e+05 6.30e+04
 1.98e+05 9.40e+04 4.90e+04 1.40e+05 8.80e+04 4.30e+05 3.00e+05 4.00e+03
 1.80e+04 1.80e+05 1.49e+05 1.87e+05 9.00e+03 6.10e+04 7.60e+04 6.60e+04
 1.56e+05 1.00e+03 6.70e+04 1.96e+05 2.16e+05 1.59e+05 2.22e+05 1.02e+05
 2.70e+04 1.60e+04 1.57e+05 1.28e+05 2.40e+05 8.10e+05 7.70e+04 5.30e+04
 1.14e+05 2.48e+05 6.90e+04 9.50e+04 1.70e+05 1.51e+05 3.84e+05 3.70e+04
 2.45e+05 4.20e+04 7.10e+04 9.60e+04 1.16e+06 1.62e+05 3.30e+04 8.90e+04
 2.28e+05 1.74e+05 1.63e+05 1.25e+05 2.50e+05 4.60e+04 2.30e+04 1.50e+04
 6.20e+04 3.20e+04 6.10e+05 7.50e+04 7.30e+04 5.80e+05 4.70e+04 7.40e+05
 8.50e+04 6.40e+04 2.70e+05 2.20e+05 4.50e+04 2.32e+05 7.40e+04 8.40e+04
 2.80e+05 1.86e+05 1.54e+05 1.64e+05 2.80e+04 9.10e+04 7.20e+05 2.12e+05
 5.70e+04 4.20e+05 6.90e+05 1.38e+05 8.60e+04 3.08e+05 6.80e+05 5.90e+04
 9.20e+04 1.60e+05 2.00e+03 8.30e+04 2.10e+05 1.76e+05 1.89e+05 1.94e+05
 2.37e+05 3.10e+05 2.08e+05 1.27e+05 5.50e+04 2.54e+05 8.10e+04 1.09e+05
 1.07e+05 1.82e+05 3.40e+05 1.68e+05 1.00e+06 7.50e+05 2.75e+05]
Column: searnings - Unique values: [      0.  160000.  100000.   20000.   60000.   30000.   50000.   10000.
   70000.  150000.   80000.  200000. 1370000.   40000.  120000.  300000.
  140000.  110000.  360000.  210000.  240000.  130000.   90000.  570000.
  180000.  190000.  250000.  220000.  790000.  450000.  170000.  350000.
  320000.  260000.  530000.  280000.  270000.  610000.  430000.  310000.
 1030000.  960000.  680000. 1020000.]
Column: hincome - Unique values: [ 2.000e+04  1.400e+05  7.000e+04  0.000e+00  1.000e+04  3.000e+04
  8.000e+04 -3.000e+04  1.600e+05  1.300e+05  6.000e+04  2.500e+05
  1.000e+05  4.600e+05  1.100e+05  5.000e+04  1.700e+05  4.000e+04
  9.000e+04  1.200e+05 -1.000e+04  2.900e+05  2.550e+06  5.800e+05
  1.520e+06  1.800e+05  5.000e+05  3.600e+05  9.100e+05  2.700e+05
  2.800e+05  6.900e+05  1.500e+05  3.300e+05  1.900e+05  1.060e+06
  2.300e+05  2.150e+06  2.400e+05  3.100e+05  3.200e+05  9.000e+05
  2.000e+05  1.030e+06  3.000e+05  2.200e+05  8.900e+05  9.900e+05
  6.200e+05  8.200e+05  4.700e+05  2.600e+05  3.700e+05  4.100e+05
  3.800e+05  1.230e+06  2.100e+05  4.000e+05  1.200e+06  6.100e+05
  1.110e+06  4.900e+05  8.700e+05  1.080e+06  7.200e+05  4.300e+05
  3.400e+05  5.700e+05  3.500e+05  7.600e+05  1.810e+06  6.000e+05
  1.310e+06 -1.900e+05  4.200e+05  2.050e+06  9.800e+05  3.602e+07
  7.900e+05  1.050e+06  2.400e+06  7.000e+05  4.800e+05  1.000e+06
  1.170e+06  4.500e+05  1.590e+06  6.500e+05  5.200e+05  5.500e+05
  6.400e+05  1.650e+06  1.160e+06  1.470e+06  4.400e+05  5.530e+06
 -1.500e+05  3.900e+05  5.300e+05  2.290e+06  1.420e+06  6.020e+06
  1.480e+06 -9.000e+04  6.300e+05  1.210e+06  7.400e+05  1.070e+06
 -2.000e+04  4.300e+06  5.900e+05  9.600e+05  5.400e+05  1.040e+06
  7.100e+05  6.800e+05  1.140e+06  8.600e+05 -5.000e+04  5.100e+05
  8.300e+05  6.600e+05  1.440e+06  8.400e+05  6.700e+05  2.270e+06
 -2.000e+05  1.020e+06  7.800e+05  8.000e+05 -8.000e+04  9.400e+05
  7.500e+05  3.630e+06]
Column: hinc_business - Unique values: [0.00e+00 1.00e+04 7.00e+04 1.20e+05 2.40e+05 4.60e+05 1.60e+05 1.10e+05
 4.00e+04 3.00e+04 2.00e+04 1.00e+05 1.80e+05 4.90e+05 3.60e+05 9.10e+05
 8.00e+04 5.80e+05 6.00e+04 2.30e+05 1.05e+06 5.00e+04 1.32e+06 8.40e+05
 3.30e+05 1.50e+05 1.30e+05 2.80e+05 2.00e+05 8.90e+05 9.70e+05 8.00e+05
 4.10e+05 1.90e+05 4.00e+05 9.00e+04 4.30e+05 1.07e+06 7.20e+05 2.20e+05
 1.80e+06 1.27e+06 2.05e+06 1.40e+05 3.60e+07 1.70e+05 6.90e+05 9.80e+05
 4.40e+05 1.38e+06 1.59e+06 3.50e+05 6.00e+05 1.43e+06 3.80e+05 9.90e+05
 3.70e+05 1.20e+06 2.29e+06 8.70e+05 4.80e+05 7.90e+05 1.37e+06 1.02e+06
 7.50e+05 5.60e+05 9.60e+05 5.70e+05 3.00e+05 1.52e+06 5.90e+05 5.40e+05
 7.10e+05 1.14e+06 6.20e+05 2.50e+05 6.10e+05 5.30e+05 6.50e+05 1.65e+06
 1.44e+06 6.60e+05 2.24e+06 8.30e+05 7.60e+05 9.40e+05]
Column: hinc_rent - Unique values: [      0.  -60000.  -10000.   20000.   90000.   60000.   10000.  820000.
  300000.  900000.  -30000.   40000.  220000.  -40000.  340000.  840000.
 -360000.   50000.   80000.   30000.  -20000. -210000.  420000. 1200000.
  -50000.  130000.  100000. -160000.  140000. -140000.  120000.  540000.
 -170000. -100000. -120000.  400000.  170000.  160000.  110000. -180000.
  -80000.   70000.  200000. -200000.  710000.  600000.]
Column: hinc_assets - Unique values: [     0.   8000. 232000.  18000.   1000.   2000.  14000.  22000.   6000.
  10000.  91000.  11000.   5000.  19000.  24000.  89000.  12000.   4000.
  31000. 129000.  93000.  15000.   3000.  40000.   9000. 105000.  72000.
  36000.  13000.  26000.  41000. 103000.  16000. 180000.   7000.  27000.
  20000.  17000.  73000.  98000.  25000.  74000.  42000.  60000. 360000.
  84000.  77000.]
Column: hinc_cap - Unique values: [ 0.00e+00  1.00e+04  7.00e+04 -6.00e+04  1.20e+05  2.40e+05  4.60e+05
  1.60e+05  1.10e+05  4.00e+04 -1.00e+04  3.00e+04  2.00e+04  9.00e+04
  6.00e+04  1.00e+05  1.80e+05  4.90e+05  3.60e+05  9.10e+05  2.30e+05
  8.00e+04  5.80e+05  1.05e+06  5.00e+04  2.15e+06  3.00e+05  9.00e+05
 -3.00e+04  8.40e+05  3.30e+05  1.50e+05  1.30e+05  2.80e+05  2.00e+05
  8.90e+05  9.70e+05  8.00e+05  4.10e+05  2.20e+05  1.90e+05  4.00e+05
 -4.00e+04  3.40e+05  4.30e+05  1.07e+06  1.80e+06 -2.00e+04  1.27e+06
 -2.10e+05  4.20e+05  1.20e+06  2.05e+06  1.40e+05  3.80e+05  3.60e+07
  1.70e+05  6.90e+05  9.80e+05  4.40e+05  1.22e+06  1.59e+06  3.50e+05
  6.00e+05  1.43e+06 -1.40e+05  9.90e+05 -1.70e+05  3.70e+05  2.29e+06
  8.70e+05  4.80e+05  7.90e+05  1.37e+06  1.02e+06  7.50e+05  5.60e+05
  1.46e+06  9.60e+05 -1.20e+05  7.20e+05  5.70e+05 -5.00e+04  1.52e+06
  5.90e+05  5.40e+05  7.10e+05  2.70e+05  1.14e+06  2.10e+05  6.20e+05
  2.50e+05  6.10e+05  5.30e+05  6.50e+05  1.65e+06  1.44e+06  6.60e+05
  2.24e+06 -2.00e+05  8.30e+05  7.70e+05 -8.00e+04  9.40e+05]
Column: rinc_pension - Unique values: [     0.  16000.  30000. 170000.  20000.  10000.  70000.  72000.  34000.
  60000. 120000.  50000.  80000.  14000.  55000.  17000.  24000.  40000.
  13000.  18000.  36000. 100000.  22000.  19000.  82000.  23000. 200000.
  98000. 130000.   8000.  96000. 168000. 108000.  83000.  12000.  48000.
 180000.  71000. 150000.   7000. 240000.  76000. 110000. 264000. 720000.
  84000.  42000. 220000.  51000.  11000. 144000. 260000.  54000. 360000.
 600000. 960000. 140000. 480000.  33000. 190000.  26000.  41000.  44000.
   4000.   2000. 430000.   3000.  90000.  35000. 250000. 137000.  46000.
  15000. 156000. 230000.  61000.  49000.  28000. 158000. 160000. 310000.
   6000.  31000.  25000.  64000.  58000.  32000.  52000.  38000. 320000.
 290000.  66000.  29000.  85000. 149000. 300000.   5000. 114000.  73000.
 204000. 340000.]
Column: sinc_pension - Unique values: [      0.   38000.   30000.   14000.   40000.   10000.  120000.   20000.
   80000.   25000.   16000.  240000.   60000.   22000.   96000.   17000.
   35000.   18000.  200000.    2000.  100000.   84000.   70000.  216000.
   28000.   24000.   12000.   48000.  180000.   41000.   54000.   50000.
   13000.   11000.  144000.   72000.  480000.  190000.  140000.   81000.
  130000.   23000.  160000.  110000.   76000.  170000.  108000.   42000.
  340000.  150000.   49000.    5000.   29000.   97000.   36000.  114000.
   19000.  132000. 1200000.   58000.   44000.  127000.   31000.  168000.
   15000.   90000.  220000.  156000.  204000.  360000.   32000.  115000.
  109000.   66000.  260000.  185000.  280000.    8000.  600000.  230000.
   21000.  192000.   98000.   61000.   52000.   34000. 1080000.  228000.]
Column: rrelgimp - Unique values: [1. 2. 3.]
Column: rrfcntx_m - Unique values: [4. 9. 6. 3. 8. 1. 2. 7. 5.]
Column: rsocact_m - Unique values: [8. 9. 1. 2. 3. 4. 7. 6. 5.]
Column: rrelgwk - Unique values: [0. 1.]
Column: a34 - Unique values: [2. 1.]
Column: j11 - Unique values: [1. 2. 3.]
Column: uid - Unique values: ['aace' 'aanz' 'aape' ... 'zzez' 'zzft' 'zzhd']

In [139]:

data_long_imputed = pd.get_dummies(data_long_imputed, columns=['uid'])


print(data_long_imputed.head())

     year  composite_score  time  seg_pop_12  comms_tel_comp_12  tv_12  \
0  2021.0            175.0   3.0         1.0                0.0    1.0
1  2021.0            175.0  12.0         1.0                0.0    1.0
2  2021.0            206.0   3.0         0.0                0.0    1.0
3  2021.0            206.0  12.0         0.0                0.0    1.0
4  2016.0            161.0   3.0         0.0                1.0    1.0

   vax_flu_12  table_games_12  satis_excel_12  volunteer_12  ...  uid_zytb  \
0         0.0             0.0             3.0           0.0  ...     False
1         0.0             0.0             3.0           0.0  ...     False
2         1.0             0.0             2.0           0.0  ...     False
3         1.0             0.0             2.0           0.0  ...     False
4         0.0             0.0             1.0           0.0  ...     False

   uid_zyxh  uid_zzab  uid_zzag  uid_zzci  uid_zzez  uid_zzft  uid_zzhd  \
0     False     False     False     False     False     False     False
1     False     False     False     False     False     False     False
2     False     False     False     False     False     False     False
3     False     False     False     False     False     False     False
4     False     False     False     False     False     False     False

   uid_zzjb  uid_zzti
0     False     False
1     False     False
2     False     False
3     False     False
4     False     False

[5 rows x 4207 columns]

In [140]:
X = data_long_imputed.drop(columns=['composite_score'])  # Drop target and any non-feature columns
y = data_long_imputed['composite_score']

In [141]:
X_train, X_test, y_train, y_test =  train_test_split(X,y , test_size=0.3, random_state=42)

In [83]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from catboost import CatBoostRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import cross_val_score, TimeSeriesSplit
from sklearn.pipeline import Pipeline
from sklearn.metrics import make_scorer, mean_absolute_error, mean_squared_error, r2_score
import pandas as pd
import numpy as np
from prophet import Prophet

In [106]:
# Linear Regression
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)
lr_y_pred = lr_model.predict(X_test)

lr_results = {
    'Model': 'Linear Regression',
    'MAE': mean_absolute_error(y_test, lr_y_pred),
    'MSE': mean_squared_error(y_test, lr_y_pred),
    'RMSE': np.sqrt(mean_squared_error(y_test, lr_y_pred)),
    'R-squared': r2_score(y_test, lr_y_pred)
}
model_results.append(lr_results)

In [107]:
# Ridge Regression
ridge_model = Ridge()
ridge_param_grid = {'alpha': [0.1, 1.0, 10]}
ridge_grid_search = GridSearchCV(ridge_model, ridge_param_grid, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)
ridge_grid_search.fit(X_train, y_train)
ridge_best_model = ridge_grid_search.best_estimator_
ridge_y_pred = ridge_best_model.predict(X_test)

ridge_results = {
    'Model': 'Ridge',
    'Best Parameters': ridge_grid_search.best_params_,
    'MAE': mean_absolute_error(y_test, ridge_y_pred),
    'MSE': mean_squared_error(y_test, ridge_y_pred),
    'RMSE': np.sqrt(mean_squared_error(y_test, ridge_y_pred)),
    'R-squared': r2_score(y_test, ridge_y_pred)
}
model_results.append(ridge_results)

In [108]:
# Lasso Regression
lasso_model = Lasso()
lasso_param_grid = {'alpha': [0.1, 1.0, 10]}
lasso_grid_search = GridSearchCV(lasso_model, lasso_param_grid, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)
lasso_grid_search.fit(X_train, y_train)
lasso_best_model = lasso_grid_search.best_estimator_
lasso_y_pred = lasso_best_model.predict(X_test)

lasso_results = {
    'Model': 'Lasso',
    'Best Parameters': lasso_grid_search.best_params_,
    'MAE': mean_absolute_error(y_test, lasso_y_pred),
    'MSE': mean_squared_error(y_test, lasso_y_pred),
    'RMSE': np.sqrt(mean_squared_error(y_test, lasso_y_pred)),
    'R-squared': r2_score(y_test, lasso_y_pred)
}
model_results.append(lasso_results)

In [109]:
# ElasticNet Regression
en_model = ElasticNet()
en_param_grid = {'alpha': [0.1, 1.0, 10], 'l1_ratio': [0.2, 0.5, 0.8]}
en_grid_search = GridSearchCV(en_model, en_param_grid, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)
en_grid_search.fit(X_train, y_train)
en_best_model = en_grid_search.best_estimator_
en_y_pred = en_best_model.predict(X_test)

en_results = {
    'Model': 'ElasticNet',
    'Best Parameters': en_grid_search.best_params_,
    'MAE': mean_absolute_error(y_test, en_y_pred),
    'MSE': mean_squared_error(y_test, en_y_pred),
    'RMSE': np.sqrt(mean_squared_error(y_test, en_y_pred)),
    'R-squared': r2_score(y_test, en_y_pred)
}
model_results.append(en_results)

In [110]:
# DecisionTree Regressor
dt_model = DecisionTreeRegressor()
dt_param_grid = {'max_depth': [5, 10, None], 'min_samples_split': [2, 5]}
dt_grid_search = GridSearchCV(dt_model, dt_param_grid, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)
dt_grid_search.fit(X_train, y_train)
dt_best_model = dt_grid_search.best_estimator_
dt_y_pred = dt_best_model.predict(X_test)

dt_results = {
    'Model': 'DecisionTree',
    'Best Parameters': dt_grid_search.best_params_,
    'MAE': mean_absolute_error(y_test, dt_y_pred),
    'MSE': mean_squared_error(y_test, dt_y_pred),
    'RMSE': np.sqrt(mean_squared_error(y_test, dt_y_pred)),
    'R-squared': r2_score(y_test, dt_y_pred)
}
model_results.append(dt_results)

In [111]:
# Random Forest Regressor
rf_model = RandomForestRegressor()
rf_param_grid = {'n_estimators': [50, 100], 'max_depth': [5, 10, None]}
rf_grid_search = GridSearchCV(rf_model, rf_param_grid, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)
rf_grid_search.fit(X_train, y_train)
rf_best_model = rf_grid_search.best_estimator_
rf_y_pred = rf_best_model.predict(X_test)

rf_results = {
    'Model': 'Random Forest',
    'Best Parameters': rf_grid_search.best_params_,
    'MAE': mean_absolute_error(y_test, rf_y_pred),
    'MSE': mean_squared_error(y_test, rf_y_pred),
    'RMSE': np.sqrt(mean_squared_error(y_test, rf_y_pred)),
    'R-squared': r2_score(y_test, rf_y_pred)
}
model_results.append(rf_results)

In [112]:
# Gradient Boosting Regressor
gb_model = GradientBoostingRegressor()
gb_param_grid = {'n_estimators': [50, 100], 'learning_rate': [0.01, 0.1]}
gb_grid_search = GridSearchCV(gb_model, gb_param_grid, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)
gb_grid_search.fit(X_train, y_train)
gb_best_model = gb_grid_search.best_estimator_
gb_y_pred = gb_best_model.predict(X_test)

gb_results = {
    'Model': 'Gradient Boosting',
    'Best Parameters': gb_grid_search.best_params_,
    'MAE': mean_absolute_error(y_test, gb_y_pred),
    'MSE': mean_squared_error(y_test, gb_y_pred),
    'RMSE': np.sqrt(mean_squared_error(y_test, gb_y_pred)),
    'R-squared': r2_score(y_test, gb_y_pred)
}
model_results.append(gb_results)

In [113]:
# XGBoost Regression
xgb_model = XGBRegressor()
xgb_param_grid = {'n_estimators': [50, 100], 'learning_rate': [0.05, 0.1]}
xgb_grid_search = GridSearchCV(xgb_model, xgb_param_grid, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)
xgb_grid_search.fit(X_train, y_train)
xgb_best_model = xgb_grid_search.best_estimator_
xgb_y_pred = xgb_best_model.predict(X_test)

xgb_results = {
    'Model': 'XGBoost',
    'Best Parameters': xgb_grid_search.best_params_,
    'MAE': mean_absolute_error(y_test, xgb_y_pred),
    'MSE': mean_squared_error(y_test, xgb_y_pred),
    'RMSE': np.sqrt(mean_squared_error(y_test, xgb_y_pred)),
    'R-squared': r2_score(y_test, xgb_y_pred)
}
model_results.append(xgb_results)

In [116]:
from lightgbm import LGBMRegressor

In [118]:
# LightGBM Regression
lgbm_model = LGBMRegressor()
lgbm_param_grid = {'n_estimators': [50, 100], 'learning_rate': [0.01, 0.1]}
lgbm_grid_search = GridSearchCV(lgbm_model, lgbm_param_grid, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)
lgbm_grid_search.fit(X_train, y_train)
lgbm_best_model = lgbm_grid_search.best_estimator_
lgbm_y_pred = lgbm_best_model.predict(X_test)

lgbm_results = {
    'Model': 'LightGBM',
    'Best Parameters': lgbm_grid_search.best_params_,
    'MAE': mean_absolute_error(y_test, lgbm_y_pred),
    'MSE': mean_squared_error(y_test, lgbm_y_pred),
    'RMSE': np.sqrt(mean_squared_error(y_test, lgbm_y_pred)),
    'R-squared': r2_score(y_test, lgbm_y_pred)
}
model_results.append(lgbm_results)

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.004648 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 977
[LightGBM] [Info] Number of data points in the train set: 7226, number of used features: 111
[LightGBM] [Info] Start training from score 157.145862

In [119]:
# CatBoost Regression
catboost_model = CatBoostRegressor(verbose=0)
catboost_model.fit(X_train, y_train)
catboost_y_pred = catboost_model.predict(X_test)

catboost_results = {
    'Model': 'CatBoost',
    'MAE': mean_absolute_error(y_test, catboost_y_pred),
    'MSE': mean_squared_error(y_test, catboost_y_pred),
    'RMSE': np.sqrt(mean_squared_error(y_test, catboost_y_pred)),
    'R-squared': r2_score(y_test, catboost_y_pred)
}
model_results.append(catboost_results)

In [120]:
model_results

[{'Model': 'Linear Regression',
  'MAE': 14.443170892090407,
  'MSE': 661.2595449323884,
  'RMSE': 25.71496733290533,
  'R-squared': 0.7846370306721786},
 {'Model': 'Ridge',
  'Best Parameters': {'alpha': 0.1},
  'MAE': 15.639970190323652,
  'MSE': 636.2851862390061,
  'RMSE': 25.224693977113102,
  'R-squared': 0.7927708293999003},
 {'Model': 'Lasso',
  'Best Parameters': {'alpha': 0.1},
  'MAE': 33.710358005506905,
  'MSE': 1834.7836462733503,
  'RMSE': 42.83437458716247,
  'R-squared': 0.40243667231153835},
 {'Model': 'ElasticNet',
  'Best Parameters': {'alpha': 0.1, 'l1_ratio': 0.5},
  'MAE': 33.803437171661464,
  'MSE': 1848.5305498521022,
  'RMSE': 42.9945409308217,
  'R-squared': 0.3979594984144327},
 {'Model': 'DecisionTree',
  'Best Parameters': {'max_depth': 5, 'min_samples_split': 2},
  'MAE': 35.621103725919184,
  'MSE': 2081.7136198825633,
  'RMSE': 45.625799936905906,
  'R-squared': 0.3220150394745286},
 {'Model': 'Random Forest',
  'Best Parameters': {'max_depth': None, 'n_estimators': 100},
  'MAE': 29.837863137508073,
  'MSE': 1469.6708980632663,
  'RMSE': 38.33628696239721,
  'R-squared': 0.5213487790577702},
 {'Model': 'Gradient Boosting',
  'Best Parameters': {'learning_rate': 0.1, 'n_estimators': 100},
  'MAE': 33.09612053791795,
  'MSE': 1749.7915010940596,
  'RMSE': 41.83050921389865,
  'R-squared': 0.43011742322943236},
 {'Model': 'XGBoost',
  'Best Parameters': {'learning_rate': 0.1, 'n_estimators': 100},
  'MAE': 31.915931731212364,
  'MSE': 1631.7593113906516,
  'RMSE': 40.39504067816558,
  'R-squared': 0.4685588537472931},
 {'Model': 'LightGBM',
  'Best Parameters': {'learning_rate': 0.1, 'n_estimators': 100},
  'MAE': 31.413385429644112,
  'MSE': 1595.3624095231146,
  'RMSE': 39.94198805171213,
  'R-squared': 0.48041281475337216},
 {'Model': 'CatBoost',
  'MAE': 31.144867047624924,
  'MSE': 1524.810810543648,
  'RMSE': 39.04882598163033,
  'R-squared': 0.5033904820906311}]

In [122]:
results_df = pd.DataFrame(model_results)

results_df = results_df.sort_values(by='RMSE', ascending=True)


print(results_df)

               Model        MAE          MSE       RMSE  R-squared  \
1              Ridge  15.639970   636.285186  25.224694   0.792771
0  Linear Regression  14.443171   661.259545  25.714967   0.784637
5      Random Forest  29.837863  1469.670898  38.336287   0.521349
9           CatBoost  31.144867  1524.810811  39.048826   0.503390
8           LightGBM  31.413385  1595.362410  39.941988   0.480413
7            XGBoost  31.915932  1631.759311  40.395041   0.468559
6  Gradient Boosting  33.096121  1749.791501  41.830509   0.430117
2              Lasso  33.710358  1834.783646  42.834375   0.402437
3         ElasticNet  33.803437  1848.530550  42.994541   0.397959
4       DecisionTree  35.621104  2081.713620  45.625800   0.322015

                               Best Parameters
1                               {'alpha': 0.1}
0                                          NaN
5     {'max_depth': None, 'n_estimators': 100}
9                                          NaN
8  {'learning_rate': 0.1, 'n_estimators': 100}
7  {'learning_rate': 0.1, 'n_estimators': 100}
6  {'learning_rate': 0.1, 'n_estimators': 100}
2                               {'alpha': 0.1}
3              {'alpha': 0.1, 'l1_ratio': 0.5}
4     {'max_depth': 5, 'min_samples_split': 2}

In [123]:
import pickle

In [124]:


# Save the trained model to a file
with open('best_ridge_model.pkl', 'wb') as file:
    pickle.dump(ridge_best_model, file)

In [125]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
import joblib