In [188]:
# Core Libraries
import pandas as pd
import numpy as np
import joblib
import logging
import re
import warnings

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Data Processing
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV, TimeSeriesSplit
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.compose import ColumnTransformer

# Feature Selection and Permutation Importance
from sklearn.feature_selection import SelectKBest, chi2, mutual_info_classif
from sklearn.inspection import permutation_importance

# Regression Models
from sklearn.linear_model import Ridge, Lasso
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.neighbors import KNeighborsRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from catboost import CatBoostRegressor
from sklearn.neural_network import MLPRegressor

# Classification Models (used in feature importance or metrics evaluation)
from sklearn.linear_model import LogisticRegression

# Metrics
from sklearn.metrics import (
    classification_report,
    accuracy_score,
    confusion_matrix,
    recall_score,
    f1_score,
    roc_auc_score,
    make_scorer
)

# General Settings
warnings.filterwarnings('ignore')

In [189]:
# Loading data
train_data = pd.read_csv('C:/Users/Hp/Desktop/Capstone Project/Data/train_features.csv')
train_labels = pd.read_csv('C:/Users/Hp/Desktop/Capstone Project/Data/train_labels.csv')
test_data = pd.read_csv('C:/Users/Hp/Desktop/Capstone Project/Data/test_features.csv')

In [190]:
train_data.head()

,uid,age_03,urban_03,married_03,n_mar_03,edu_gru_03,n_living_child_03,migration_03,glob_hlth_03,adl_dress_03,...,rrelgimp_12,rrfcntx_m_12,rsocact_m_12,rrelgwk_12,a16a_12,a21_12,a22_12,a33b_12,a34_12,j11_12
0,aace,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.somewhat important,9.Never,9.Never,0.No,NaN,NaN,NaN,NaN,NaN,Concrete 2
1,aanz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.very important,9.Never,1.Almost every day,0.No,NaN,NaN,NaN,NaN,NaN,Concrete 2
2,aape,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.somewhat important,6.2 or 3 times a month,2.4 or more times a week,0.No,NaN,NaN,NaN,NaN,NaN,"Wood, mosaic, or other covering 1"
3,aard,1. 50–59,"1. 100,000+",3. Widowed,1.0,3. 7–9 years,1. 1 or 2,0.0,4. Fair,0.0,...,1.very important,4.Once a week,9.Never,1.Yes,NaN,NaN,NaN,NaN,No 2,Concrete 2
4,ablr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.very important,3.2 or 3 times a week,3.2 or 3 times a week,0.No,NaN,NaN,NaN,NaN,NaN,"Wood, mosaic, or other covering 1"

In [191]:
train_labels.head()

    uid  year  composite_score
0  aace  2021              175
1  aanz  2021              206
2  aape  2016              161
3  aape  2021              144
4  aard  2021              104

In [192]:
test_data.head()

,uid,age_03,urban_03,married_03,n_mar_03,edu_gru_03,n_living_child_03,migration_03,glob_hlth_03,adl_dress_03,...,rrelgimp_12,rrfcntx_m_12,rsocact_m_12,rrelgwk_12,a16a_12,a21_12,a22_12,a33b_12,a34_12,j11_12
0,abxu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Wood, mosaic, or other covering 1"
1,aeol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.very important,9.Never,9.Never,1.Yes,NaN,NaN,NaN,NaN,NaN,Concrete 2
2,afnb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.very important,9.Never,3.2 or 3 times a week,1.Yes,NaN,NaN,NaN,NaN,NaN,"Wood, mosaic, or other covering 1"
3,ajfh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.somewhat important,9.Never,5.4 or more times a month,0.No,NaN,NaN,NaN,NaN,NaN,"Wood, mosaic, or other covering 1"
4,ajvq,2. 60–69,"1. 100,000+",1. Married or in civil union,1.0,4. 10+ years,1. 1 or 2,0.0,NaN,NaN,...,2.somewhat important,1.Almost every day,4.Once a week,0.No,NaN,NaN,NaN,NaN,No 2,"Wood, mosaic, or other covering 1"

In [193]:
# Check the data types of the 'uid' column in each dataframe
print(train_data.shape)
print(train_labels.shape)
print(test_data.shape)

(3276, 184)
(4343, 3)
(819, 184)

In [194]:
combined_data = pd.concat([train_data, test_data], axis=0, ignore_index=True)

In [195]:
# This will add labels only for rows in the training data
combined_data = pd.merge(combined_data, train_labels, on='uid', how='left')

# Check the shape and a few rows to confirm
print("Combined data shape after merging:", combined_data.shape)
print(combined_data.head())

Combined data shape after merging: (5162, 186)
    uid    age_03     urban_03  married_03  n_mar_03    edu_gru_03  \
0  aace       NaN          NaN         NaN       NaN           NaN
1  aanz       NaN          NaN         NaN       NaN           NaN
2  aape       NaN          NaN         NaN       NaN           NaN
3  aape       NaN          NaN         NaN       NaN           NaN
4  aard  1. 50–59  1. 100,000+  3. Widowed       1.0  3. 7–9 years

  n_living_child_03  migration_03 glob_hlth_03  adl_dress_03  ...  \
0               NaN           NaN          NaN           NaN  ...
1               NaN           NaN          NaN           NaN  ...
2               NaN           NaN          NaN           NaN  ...
3               NaN           NaN          NaN           NaN  ...
4         1. 1 or 2           0.0      4. Fair           0.0  ...

               rsocact_m_12  rrelgwk_12  a16a_12  a21_12  a22_12  a33b_12  \
0                   9.Never        0.No      NaN     NaN     NaN      NaN
1        1.Almost every day        0.No      NaN     NaN     NaN      NaN
2  2.4 or more times a week        0.No      NaN     NaN     NaN      NaN
3  2.4 or more times a week        0.No      NaN     NaN     NaN      NaN
4                   9.Never       1.Yes      NaN     NaN     NaN      NaN

   a34_12                             j11_12    year  composite_score
0     NaN                         Concrete 2  2021.0            175.0
1     NaN                         Concrete 2  2021.0            206.0
2     NaN  Wood, mosaic, or other covering 1  2016.0            161.0
3     NaN  Wood, mosaic, or other covering 1  2021.0            144.0
4    No 2                         Concrete 2  2021.0            104.0

[5 rows x 186 columns]

In [196]:
numeric_data = combined_data.select_dtypes(include=['float64', 'int64'])
categorical_data = combined_data.select_dtypes(exclude=['float64', 'int64'])

In [197]:

missing_percentages = (combined_data.isna().sum() / len(combined_data)) * 100


high_missing_columns = missing_percentages[missing_percentages > 40].index

combined_data = combined_data.drop(columns=high_missing_columns)


print("Columns remaining after dropping those with more than 40% missing values:")
print(combined_data.columns)

Columns remaining after dropping those with more than 40% missing values:
Index(['uid', 'age_03', 'urban_03', 'married_03', 'n_mar_03', 'edu_gru_03',
       'n_living_child_03', 'migration_03', 'glob_hlth_03', 'adl_dress_03',
       ...
       'rinc_pension_12', 'sinc_pension_12', 'rrelgimp_12', 'rrfcntx_m_12',
       'rsocact_m_12', 'rrelgwk_12', 'a34_12', 'j11_12', 'year',
       'composite_score'],
      dtype='object', length=169)

In [198]:

imputer_numeric = SimpleImputer(strategy='median')
imputer_categorical = SimpleImputer(strategy='most_frequent')


numeric_data_imputed = pd.DataFrame(imputer_numeric.fit_transform(numeric_data), columns=numeric_data.columns)
categorical_data_imputed = pd.DataFrame(imputer_categorical.fit_transform(categorical_data), columns=categorical_data.columns)


combined_data_imputed = pd.concat([numeric_data_imputed, categorical_data_imputed], axis=1)


print("Number of missing values after imputation:")

Number of missing values after imputation:

In [199]:
print(combined_data_imputed.isna().sum().sum())

0

In [200]:
combined_data_imputed.head()

,n_mar_03,migration_03,adl_dress_03,adl_walk_03,adl_bath_03,adl_eat_03,adl_bed_03,adl_toilet_03,n_adl_03,iadl_money_03,...,rjlocc_m_12,rjobend_reason_12,rrelgimp_12,rrfcntx_m_12,rsocact_m_12,rrelgwk_12,a22_12,a33b_12,a34_12,j11_12
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"6.Workers in Agriculture, Livestock, Forestry,...",8.Other,2.somewhat important,9.Never,9.Never,0.No,Agriculture/ Animal breeding 01,Neither 3,No 2,Concrete 2
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,18.Safety and Security Personnel,8.Other,1.very important,9.Never,1.Almost every day,0.No,Agriculture/ Animal breeding 01,Neither 3,No 2,Concrete 2
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"8.Artisans and Workers in Production, Repair, ...",8.Other,2.somewhat important,6.2 or 3 times a month,2.4 or more times a week,0.No,Agriculture/ Animal breeding 01,Neither 3,No 2,"Wood, mosaic, or other covering 1"
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"8.Artisans and Workers in Production, Repair, ...",8.Other,2.somewhat important,6.2 or 3 times a month,2.4 or more times a week,0.No,Agriculture/ Animal breeding 01,Neither 3,No 2,"Wood, mosaic, or other covering 1"
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"8.Artisans and Workers in Production, Repair, ...",8.Other,1.very important,4.Once a week,9.Never,1.Yes,Agriculture/ Animal breeding 01,Neither 3,No 2,Concrete 2

In [201]:
# Define mappings for each categorical column
mappings = {
    'age_03': {
        '1. 50–59': 1,
        '3. 70–79': 3,
        '2. 60–69': 2,
        '0. 49 or younger': 0,
        '4. 80+': 4
    },
    'urban_03': {
        '1. 100,000+': 1,
        '0. <100,000': 0
    },
    'married_03': {
        '3. Widowed': 3,
        '1. Married or in civil union': 1,
        '4. Single': 4,
        '2. Separated or divorced': 2
    },
    'edu_gru_03': {
        '3. 7–9 years': 3,
        '1. 1–5 years': 1,
        '0. No education': 0,
        '2. 6 years': 2,
        '4. 10+ years': 4
    },
    'n_living_child_03': {
        '1. 1 or 2': 1,
        '3. 5 or 6': 3,
        '0. No children': 0,
        '2. 3 or 4': 2,
        '4. 7+': 4
    },
    'glob_hlth_03': {
        '4. Fair': 4,
        '5. Poor': 5,
        '3. Good': 3,
        '1. Excellent': 1,
        '2. Very good': 2
    },
    'employment_03': {
        '3. Dedicated to household chores': 3,
        '1. Currently Working': 1,
        '2. Currently looking for work': 2,
        '4. Retired, incapacitated, or does not work': 4
    },
    'age_12': {
        '2. 60–69': 2,
        '1. 50–59': 1,
        '4. 80+': 4,
        '3. 70–79': 3,
        '0. 49 or younger': 0
    },
    'urban_12': {
        '0. <100,000': 0,
        '1. 100,000+': 1
    },
    'married_12': {
        '1. Married or in civil union': 1,
        '3. Widowed': 3,
        '2. Separated or divorced': 2,
        '4. Single': 4
    },
    'edu_gru_12': {
        '0. No education': 0,
        '3. 7–9 years': 3,
        '1. 1–5 years': 1,
        '2. 6 years': 2,
        '4. 10+ years': 4
    },
    'n_living_child_12': {
        '1. 1 or 2': 1,
        '3. 5 or 6': 3,
        '0. No children': 0,
        '2. 3 or 4': 2,
        '4. 7+': 4
    },
    'glob_hlth_12': {
        '4. Fair': 4,
        '3. Good': 3,
        '2. Very good': 2,
        '5. Poor': 5,
        '1. Excellent': 1
    },
    'bmi_12': {
        '3. Overweight': 3,
        '4. Obese': 4,
        '2. Normal weight': 2,
        '1. Underweight': 1,
        '5. Morbidly obese': 5
    },
    'decis_famil_12': {
        '2. Approximately equal weight': 2,
        '3. Spouse': 3,
        '1. Respondent': 1
    },
    'decis_personal_12': {
        '1. A lot': 1,
        '2. A little': 2,
        '3. None': 3
    },
    'employment_12': {
        '1. Currently Working': 1,
        '2. Currently looking for work': 2,
        '3. Dedicated to household chores': 3,
        '4. Retired, incapacitated, or does not work': 4
    },
    'satis_ideal_12': {
        '3. Disagrees': 3,
        '1. Agrees': 1,
        '2. Neither agrees nor disagrees': 2
    },
    'satis_excel_12': {
        '3. Disagrees': 3,
        '2. Neither agrees nor disagrees': 2,
        '1. Agrees': 1
    },
    'satis_fine_12': {
        '1. Agrees': 1,
        '3. Disagrees': 3,
        '2. Neither agrees nor disagrees': 2
    },
    'cosas_imp_12': {
        '1. Agrees': 1,
        '2. Neither agrees nor disagrees': 2,
        '3. Disagrees': 3
    },
    'wouldnt_change_12': {
        '3. Disagrees': 3,
        '1. Agrees': 1,
        '2. Neither agrees nor disagrees': 2
    },
    'memory_12': {
        '2. Very good': 2,
        '4. Fair': 4,
        '3. Good': 3,
        '5. Poor': 5,
        '1. Excellent': 1
    },
    'ragender': {
        '1.Man': 1,
        '2.Woman': 2
    },
    'rameduc_m': {
        '1.None': 1,
        '2.Some primary': 2,
        '3.Primary': 3,
        '4.More than primary': 4
    },
    'rafeduc_m': {
        '1.None': 1,
        '2.Some primary': 2,
        '4.More than primary': 4,
        '3.Primary': 3
    },
    'sgender_03': {
        '2.Woman': 2,
        '1.Man': 1
    },
    'rrelgimp_03': {
        '1.very important': 1,
        '2.somewhat important': 2,
        '3.not important': 3
    },
    'sgender_12': {
        '2.Woman': 2,
        '1.Man': 1
    },
    'rjlocc_m_12': {
        '6.Workers in Agriculture, Livestock, Forestry, and Fishing': 6,
        '18.Safety and Security Personnel': 18,
        '8.Artisans and Workers in Production, Repair, Maintenance': 8,
        '14.Merchants and Sales Representatives': 14,
        '17.Domestic Workers': 17,
        '9.Operators of Fixed Machinery and Equipment for Ind. Production': 9,
        '15.Traveling Salespeople and Traveling Salespeople of Services': 15,
        '16.Workers in the Service Industry': 16,
        '4.Workers in Art, Shows, and Sports': 4,
        '3.Educators': 3,
        '12.Department Heads/Coordinators/Supervisors in Admin and Service Activities': 12,
        '10.Asst/Laborers etc in Ind. Production, Repair, Maintenance': 10,
        '1.Professionals': 1,
        '13.Administrative Support Staff': 13,
        '11.Drivers and Asst Drivers of Mobile Machinery and Transport Vehicles': 11,
        '7.Bosses/Supervisors etc in Artistic, Ind. Production, Repair, Maintenance Activities': 7,
        '2.Technicians': 2,
        '5.Officials and Directors Public, Private, and Social Sectors': 5
    },
    'rrelgimp_12': {
        '2.somewhat important': 2,
        '1.very important': 1,
        '3.not important': 3
    },
    'rrfcntx_m_12': {
        '9.Never': 9,
        '6.2 or 3 times a month': 6,
        '4.Once a week': 4,
        '3.2 or 3 times a week': 3,
        '8.Almost Never, sporadic': 8,
        '1.Almost every day': 1,
        '2.4 or more times a week': 2,
        '7.Once a month': 7,
        '5.4 or more times a month': 5
    },
    'rsocact_m_12': {
        '9.Never': 9,
        '1.Almost every day': 1,
        '2.4 or more times a week': 2,
        '3.2 or 3 times a week': 3,
        '4.Once a week': 4,
        '8.Almost Never, sporadic': 8,
        '5.2 or 3 times a month': 5,
        '6.Once a month': 6,
        '7.4 or more times a month': 7
    },
    'rrelgwk_12': {
        '0.No': 0,
        '1.Yes': 1
    },
    'a34_12': {
        'No 2': 0,
        'Yes 1': 1
    },
    'j11_12': {
        'Wood, mosaic, or other covering 1': 1,
        'Concrete 2': 2,
        'Mud 3': 3
    }
    }

In [202]:
# Apply mappings only to the columns that exist in the DataFrame
for column, mapping in mappings.items():
    if column in combined_data_imputed.columns:
        combined_data_imputed[column] = combined_data_imputed[column].map(mapping)
    else:
        print(f"Column {column} not found in the DataFrame, skipping mapping.")
        
# Check the updated DataFrame
combined_data_imputed.head()

,n_mar_03,migration_03,adl_dress_03,adl_walk_03,adl_bath_03,adl_eat_03,adl_bed_03,adl_toilet_03,n_adl_03,iadl_money_03,...,rjlocc_m_12,rjobend_reason_12,rrelgimp_12,rrfcntx_m_12,rsocact_m_12,rrelgwk_12,a22_12,a33b_12,a34_12,j11_12
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6,8.Other,2,9,9.0,0,Agriculture/ Animal breeding 01,Neither 3,0,2
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,18,8.Other,1,9,1.0,0,Agriculture/ Animal breeding 01,Neither 3,0,2
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8,8.Other,2,6,2.0,0,Agriculture/ Animal breeding 01,Neither 3,0,1
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8,8.Other,2,6,2.0,0,Agriculture/ Animal breeding 01,Neither 3,0,1
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8,8.Other,1,4,9.0,1,Agriculture/ Animal breeding 01,Neither 3,0,2

In [203]:
combined_data_imputed.dtypes.unique()

array([dtype('float64'), dtype('O'), dtype('int64')], dtype=object)

In [204]:
combined_data_imputed.drop(columns = 'uid', inplace=True)

In [205]:
combined_data_imputed

,n_mar_03,migration_03,adl_dress_03,adl_walk_03,adl_bath_03,adl_eat_03,adl_bed_03,adl_toilet_03,n_adl_03,iadl_money_03,...,rjlocc_m_12,rjobend_reason_12,rrelgimp_12,rrfcntx_m_12,rsocact_m_12,rrelgwk_12,a22_12,a33b_12,a34_12,j11_12
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6,8.Other,2,9,9.0,0,Agriculture/ Animal breeding 01,Neither 3,0,2
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,18,8.Other,1,9,1.0,0,Agriculture/ Animal breeding 01,Neither 3,0,2
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8,8.Other,2,6,2.0,0,Agriculture/ Animal breeding 01,Neither 3,0,1
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8,8.Other,2,6,2.0,0,Agriculture/ Animal breeding 01,Neither 3,0,1
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8,8.Other,1,4,9.0,1,Agriculture/ Animal breeding 01,Neither 3,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5157,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8,8.Other,1,9,NaN,0,Agriculture/ Animal breeding 01,Neither 3,0,2
5158,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8,8.Other,1,3,9.0,0,Agriculture/ Animal breeding 01,Neither 3,0,2
5159,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,16,5.Family reason,1,4,9.0,0,Agriculture/ Animal breeding 01,Neither 3,0,1
5160,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8,8.Other,1,9,3.0,0,Agriculture/ Animal breeding 01,Neither 3,0,1
5161,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8,8.Other,1,1,9.0,0,Agriculture/ Animal breeding 01,Neither 3,0,2

In [206]:

unique_values = combined_data_imputed.apply(lambda x: x.unique())


for col, unique_vals in unique_values.items():
    print(f"Column: {col} - Unique values: {unique_vals}")

Column: n_mar_03 - Unique values: [1. 2. 3. 0. 4. 5.]
Column: migration_03 - Unique values: [0. 1.]
Column: adl_dress_03 - Unique values: [0. 1.]
Column: adl_walk_03 - Unique values: [0. 1.]
Column: adl_bath_03 - Unique values: [0. 1.]
Column: adl_eat_03 - Unique values: [0. 1.]
Column: adl_bed_03 - Unique values: [0. 1.]
Column: adl_toilet_03 - Unique values: [0. 1.]
Column: n_adl_03 - Unique values: [0. 1. 2. 3. 5. 4.]
Column: iadl_money_03 - Unique values: [0. 1.]
Column: iadl_meds_03 - Unique values: [0. 1.]
Column: iadl_shop_03 - Unique values: [0. 1.]
Column: iadl_meals_03 - Unique values: [0. 1.]
Column: n_iadl_03 - Unique values: [0. 1. 3. 2. 4.]
Column: depressed_03 - Unique values: [0. 1.]
Column: hard_03 - Unique values: [0. 1.]
Column: restless_03 - Unique values: [0. 1.]
Column: happy_03 - Unique values: [1. 0.]
Column: lonely_03 - Unique values: [0. 1.]
Column: enjoy_03 - Unique values: [1. 0.]
Column: sad_03 - Unique values: [0. 1.]
Column: tired_03 - Unique values: [1. 0.]
Column: energetic_03 - Unique values: [0. 1.]
Column: n_depr_03 - Unique values: [3. 6. 7. 5. 9. 4. 2. 1. 0. 8.]
Column: cesd_depressed_03 - Unique values: [0. 1.]
Column: hypertension_03 - Unique values: [0. 1.]
Column: diabetes_03 - Unique values: [0. 1.]
Column: resp_ill_03 - Unique values: [0. 1.]
Column: arthritis_03 - Unique values: [0. 1.]
Column: hrt_attack_03 - Unique values: [0. 1.]
Column: stroke_03 - Unique values: [0. 1.]
Column: cancer_03 - Unique values: [0. 1.]
Column: n_illnesses_03 - Unique values: [1. 0. 3. 2. 4. 5.]
Column: exer_3xwk_03 - Unique values: [0. 1.]
Column: alcohol_03 - Unique values: [0. 1.]
Column: tobacco_03 - Unique values: [0. 1.]
Column: test_chol_03 - Unique values: [1. 0.]
Column: test_tuber_03 - Unique values: [0. 1.]
Column: test_diab_03 - Unique values: [1. 0.]
Column: test_pres_03 - Unique values: [1. 0.]
Column: hosp_03 - Unique values: [0. 1.]
Column: visit_med_03 - Unique values: [1. 0.]
Column: out_proc_03 - Unique values: [0. 1.]
Column: visit_dental_03 - Unique values: [0. 1.]
Column: imss_03 - Unique values: [0. 1.]
Column: issste_03 - Unique values: [0. 1.]
Column: pem_def_mar_03 - Unique values: [0. 1.]
Column: insur_private_03 - Unique values: [0. 1.]
Column: insur_other_03 - Unique values: [0. 1.]
Column: insured_03 - Unique values: [1. 0.]
Column: decis_personal_03 - Unique values: [1. 2. 3.]
Column: n_mar_12 - Unique values: [1. 2. 3. 4. 0. 5. 7.]
Column: migration_12 - Unique values: [0. 1.]
Column: adl_dress_12 - Unique values: [0. 1.]
Column: adl_walk_12 - Unique values: [0. 1.]
Column: adl_bath_12 - Unique values: [0. 1.]
Column: adl_eat_12 - Unique values: [0. 1.]
Column: adl_bed_12 - Unique values: [0. 1.]
Column: adl_toilet_12 - Unique values: [0. 1.]
Column: n_adl_12 - Unique values: [0. 1. 3. 2. 5. 4.]
Column: iadl_money_12 - Unique values: [0. 1.]
Column: iadl_meds_12 - Unique values: [0. 1.]
Column: iadl_shop_12 - Unique values: [0. 1.]
Column: iadl_meals_12 - Unique values: [0. 1.]
Column: n_iadl_12 - Unique values: [0. 1. 2. 3. 4.]
Column: depressed_12 - Unique values: [0. 1.]
Column: hard_12 - Unique values: [0. 1.]
Column: restless_12 - Unique values: [0. 1.]
Column: happy_12 - Unique values: [1. 0.]
Column: lonely_12 - Unique values: [0. 1.]
Column: enjoy_12 - Unique values: [1. 0.]
Column: sad_12 - Unique values: [0. 1.]
Column: tired_12 - Unique values: [0. 1.]
Column: energetic_12 - Unique values: [1. 0.]
Column: n_depr_12 - Unique values: [0. 4. 8. 5. 3. 7. 6. 1. 2. 9.]
Column: cesd_depressed_12 - Unique values: [0. 1.]
Column: hypertension_12 - Unique values: [1. 0.]
Column: diabetes_12 - Unique values: [0. 1.]
Column: resp_ill_12 - Unique values: [0. 1.]
Column: arthritis_12 - Unique values: [0. 1.]
Column: hrt_attack_12 - Unique values: [0. 1.]
Column: stroke_12 - Unique values: [0. 1.]
Column: cancer_12 - Unique values: [0. 1.]
Column: n_illnesses_12 - Unique values: [1. 0. 3. 2. 4. 5.]
Column: exer_3xwk_12 - Unique values: [1. 0.]
Column: alcohol_12 - Unique values: [0. 1.]
Column: tobacco_12 - Unique values: [0. 1.]
Column: test_chol_12 - Unique values: [0. 1.]
Column: test_tuber_12 - Unique values: [0. 1.]
Column: test_diab_12 - Unique values: [1. 0.]
Column: test_pres_12 - Unique values: [1. 0.]
Column: hosp_12 - Unique values: [0. 1.]
Column: visit_med_12 - Unique values: [1. 0.]
Column: out_proc_12 - Unique values: [0. 1.]
Column: visit_dental_12 - Unique values: [0. 1.]
Column: imss_12 - Unique values: [0. 1.]
Column: issste_12 - Unique values: [0. 1.]
Column: pem_def_mar_12 - Unique values: [0. 1.]
Column: insur_private_12 - Unique values: [0. 1.]
Column: insur_other_12 - Unique values: [1. 0.]
Column: insured_12 - Unique values: [1. 0.]
Column: vax_flu_12 - Unique values: [0. 1.]
Column: vax_pneu_12 - Unique values: [0. 1.]
Column: seg_pop_12 - Unique values: [1. 0.]
Column: care_adult_12 - Unique values: [0. 1.]
Column: care_child_12 - Unique values: [0. 1.]
Column: volunteer_12 - Unique values: [0. 1.]
Column: attends_class_12 - Unique values: [0. 1.]
Column: attends_club_12 - Unique values: [0. 1.]
Column: reads_12 - Unique values: [1. 0.]
Column: games_12 - Unique values: [0. 1.]
Column: table_games_12 - Unique values: [0. 1.]
Column: comms_tel_comp_12 - Unique values: [0. 1.]
Column: act_mant_12 - Unique values: [1. 0.]
Column: tv_12 - Unique values: [1. 0.]
Column: sewing_12 - Unique values: [0. 1.]
Column: rjob_hrswk_03 - Unique values: [44. 30. 48. 35.  5. 72. 36. 42. 63. 45. 12.  6. 40. 55. 18. 57. 15. 60.
 84. 39. 16. 21. 70. 56. 50. 20. 66. 90. 49. 47.  9. 25. 99.  4. 28. 87.
 64. 77. 52. 24. 54. 13. 46. 26. 14.  7. 10. 94. 23. 81.  3. 68. 58. 71.
 73. 76. 32. 38. 27. 91. 22.  8. 74. 79. 31. 80. 67. 62. 82. 65. 59. 29.
 88. 85.  1. 43. 78. 34. 17. 53. 33. 19. 11.]
Column: rjob_end_03 - Unique values: [1995. 2003. 1973. 1967. 1993. 2001. 2002. 1953. 1991. 1985. 2000. 1978.
 1997. 1999. 1971. 1969. 1968. 1996. 1998. 1958. 1986. 1983. 1972. 1988.
 1981. 1951. 1977. 1979. 1994. 1989. 1965. 1990. 1970. 1963. 1992. 1974.
 1941. 1982. 1960. 1980. 1987. 1943. 1976. 1961. 1964. 1975. 1984. 1948.
 1950. 1966. 1944.]
Column: rearnings_03 - Unique values: [     0.  30000.  19000.  48000.   6000. 108000.  68000.   8000.  58000.
 260000.  26000.  21000.  52000.  36000.  12000.  41000.   5000.  24000.
  25000.  44000.  50000. 130000.  13000.   3000.  11000.  35000. 112000.
  87000.  39000.  22000.  56000.  14000.  98000.  20000.  17000.  29000.
  38000.  34000.  10000.  79000.  51000.  31000.   7000.  72000.  54000.
  43000.  65000.  78000.  60000.  40000.  63000. 100000. 198000.  94000.
  49000.  88000.   4000.  18000. 180000. 149000. 187000.   9000.  61000.
  76000.  66000. 156000.   1000.  67000. 196000. 216000. 159000. 222000.
 102000.  27000.  16000.  70000.  80000. 157000. 128000. 110000. 240000.
  77000.  53000. 114000. 248000.  69000.  95000. 151000. 384000.  37000.
 245000.  42000.  71000.  96000. 162000.  33000.  89000. 228000. 174000.
 163000. 125000.  46000.  23000. 150000.  15000.  62000.  32000.  75000.
  73000.  47000.  85000.  64000.  90000.  45000. 232000.  74000.  84000.
 186000. 154000. 164000.  28000.  91000. 212000.  57000. 138000.  86000.
 308000.  59000.  92000.   2000. 140000.  83000. 176000. 189000. 194000.
 237000. 208000. 127000.  55000. 254000.  81000. 109000. 107000. 360000.
 182000. 168000. 275000.]
Column: searnings_03 - Unique values: [      0.  100000.   20000.   30000.   10000.   70000.  150000.   60000.
   80000.  200000.   50000.  120000.  300000.  140000.   40000.  360000.
  570000.  160000.  190000.   90000.  220000.  110000.  170000.  260000.
  270000.  240000.  130000.  960000.  210000. 1020000.  180000.  430000.]
Column: hincome_03 - Unique values: [  30000.       0.   70000.   20000.  130000.  100000.  460000.   10000.
  160000.   40000.   50000.  170000.  110000.  250000.  140000.   90000.
   60000. 2550000.  580000.   80000.  690000.  330000.  230000.  120000.
 2150000.  310000.  320000.  900000.  -10000.  150000.  200000.  300000.
  890000.  990000.  820000.  180000.  260000.  370000.  410000.  400000.
 1200000.  270000.  280000.  570000.  190000.  210000.  350000.  220000.
  760000.  360000. 1310000.  420000.  380000.  700000.  240000.  490000.
  520000.  480000.  -30000. 1470000.  440000.  870000.  600000.  390000.
  620000.  430000.  540000. 1040000.  710000.  450000. 1050000.  470000.
  530000.  660000.  840000.  670000. 1210000. 1020000.  500000.  830000.
  800000.  940000. 3630000.]
Column: hinc_business_03 - Unique values: [      0.   70000.  120000.  460000.  160000.   40000.   30000.   20000.
  240000.  100000.   10000.   80000.  580000.  230000.   50000. 1320000.
  150000.  130000.  280000.  200000.  890000.  970000.  800000.  400000.
   90000.   60000.  110000.  330000.  220000. 1270000.  140000.  180000.
  170000.  690000.  360000.  350000.  380000.  990000.  870000.  480000.
  600000.  750000.  560000.  440000.  430000.  570000.  300000.  540000.
  710000.  190000.  620000.  250000. 1020000.  530000.  650000.  660000.
 1200000.  490000.  830000.  590000.  760000.  940000.]
Column: hinc_rent_03 - Unique values: [      0.   20000.   60000.   10000.  820000.  300000.  900000.  -30000.
  -10000.   40000.  220000.  -40000.   80000.   30000.  420000.   50000.
  -50000.  130000.  100000.  140000.  -20000.  120000. -100000.  170000.
  160000.  110000.  200000.]
Column: hinc_assets_03 - Unique values: [    0.  8000. 18000.  1000.  2000. 14000. 10000. 11000.  5000. 24000.
 12000. 22000.  4000.  3000. 15000. 40000.  9000. 31000. 36000. 13000.
  6000. 26000. 16000. 27000. 25000.  7000.]
Column: hinc_cap_03 - Unique values: [      0.   70000.  120000.  460000.  160000.   40000.   30000.   20000.
  240000.   60000.  100000.   10000.   80000.  580000.  230000.   50000.
 2150000.  300000.  900000.  -30000.  150000.  130000.  280000.  200000.
  890000.  970000.  800000.  220000.  400000.   90000.  110000.  330000.
 1270000.  420000.  140000.  380000.  180000.  170000.  690000.  360000.
  -20000.  350000.  -10000.  990000.  870000.  480000.  600000.  750000.
  560000.  440000.  430000.  570000.  540000.  710000.  210000.  620000.
  250000. 1020000.  530000.  650000.  660000. 1200000.  490000.  830000.
  590000.  770000.  940000.]
Column: rinc_pension_03 - Unique values: [     0.  16000.  72000.  34000. 120000.  10000.  14000.  55000.  17000.
  24000.  13000.  18000.  36000.  22000.  19000.  82000.  20000.  23000.
  98000.   8000.  96000. 168000. 108000.  83000.  12000.  48000. 180000.
  71000.   7000.  76000. 264000.  30000.  84000.  42000.  51000.  11000.
 144000.  54000. 360000.  33000.  26000.  41000.  44000.   4000.  60000.
   2000.   3000.  35000. 137000.  46000.  15000. 156000.  61000.  49000.
  28000. 158000.  40000.   6000.  31000.  25000.  64000.  58000.  32000.
  52000.  70000.  38000.  90000. 480000.  66000.  29000.  85000. 149000.
   5000. 114000.  73000. 204000.]
Column: sinc_pension_03 - Unique values: [     0.  38000.  14000.  25000.  16000.  60000.  22000.  96000.  17000.
  35000.  18000.  30000.  10000.   2000.  84000. 216000.  28000.  20000.
  24000.  12000.  48000. 180000.  41000.  54000.  13000.  11000. 144000.
  72000. 120000.  81000. 130000.  23000.  76000. 108000.  42000.  49000.
   5000.  29000.  97000.  36000. 114000.  19000. 132000.  58000.  44000.
 127000.  70000.  31000. 168000.  15000. 156000. 204000.  32000. 115000.
 109000.  66000. 185000.   8000. 360000.  21000. 192000.  98000.  61000.
  52000.  34000. 228000. 240000.]
Column: rjob_hrswk_12 - Unique values: [ 66.  72.  40.  60.  35.  24.  42.  19.  36.  48.  45.  39.  56.  55.
   5.  84.  30.   9.  52.  28.   0.  14.  25.  54.  49.  10.  16.  20.
  98.  44.  58.   4.  93.  21.  61.  12.   8.  70.  46.  15.  96.  91.
   3.  50.  18.   6.  65.  77.  67.  26.  38.  59.  47.  51.  64.  43.
  68.  29.  34.  33.  53.  37.  31. 111.  41.  94.  32.  23.  27.  22.
  73.  69.  11.  97. 109.  90.  71.  63.  57.  87.  82.  83. 105.  80.
 168.  85.  62.  81.  75.  78.   7.  86. 119. 112.]
Column: rjob_end_12 - Unique values: [1998. 2007. 1962. 2010. 2012. 1995. 1987. 2005. 2003. 2008. 1996. 1950.
 2004. 1994. 1949. 2000. 1992. 1989. 1963. 2001. 2011. 1952. 1984. 1980.
 1988. 1964. 2006. 1960. 1946. 2009. 1973. 1990. 1959. 1961. 1972. 1970.
 1971. 1979. 1982. 1977. 2002. 1958. 1978. 1974. 1991. 1945. 1968. 1954.
 1997. 1948. 1967. 1993. 1983. 1951. 1935. 1986. 1965. 1947. 1955. 1981.
 1969. 1975. 1944. 1976. 1956. 1999. 1966. 1943. 1957. 1941. 1985. 1953.
 1937. 1933.]
Column: rearnings_12 - Unique values: [      0.   70000.   10000.   30000.   50000.   20000.   60000.  100000.
  290000.   80000.  150000.   40000.  190000.  110000.  120000. 1030000.
   90000.  460000.  200000.  360000.  140000.  430000.  300000.  180000.
  130000.  810000.  170000. 1160000.  250000.  610000.  580000.  240000.
  740000.  270000.  220000.  280000.  720000.  420000.  690000.  680000.
  160000.  260000.  210000.  310000.  340000. 1000000.  750000.]
Column: searnings_12 - Unique values: [      0.  160000.   60000.   50000.  100000. 1370000.   40000.   70000.
   30000.   20000.   10000.  140000.   80000.  110000.  210000.  240000.
  130000.   90000.  300000.  180000.  250000.  120000.  790000.  190000.
  450000.  170000.  350000.  320000.  530000.  280000.  220000.  150000.
  610000.  430000.  310000. 1030000.  680000.]
Column: hincome_12 - Unique values: [ 1.400e+05  7.000e+04  0.000e+00  1.000e+04  3.000e+04  8.000e+04
 -3.000e+04  1.600e+05  6.000e+04  2.500e+05  1.100e+05  5.000e+04
  1.700e+05  2.000e+04  4.000e+04  1.000e+05  9.000e+04  1.200e+05
  1.300e+05 -1.000e+04  2.900e+05  1.520e+06  1.800e+05  5.000e+05
  3.600e+05  9.100e+05  2.700e+05  2.800e+05  1.500e+05  1.900e+05
  1.060e+06  2.400e+05  2.000e+05  3.300e+05  1.030e+06  2.200e+05
  2.300e+05  6.200e+05  4.700e+05  3.800e+05  2.600e+05  1.230e+06
  2.100e+05  6.100e+05  1.110e+06  4.900e+05  8.700e+05  1.080e+06
  7.200e+05  4.300e+05  3.400e+05  3.000e+05  1.810e+06  6.000e+05
 -1.900e+05  1.200e+06  2.050e+06  3.700e+05  9.800e+05  3.602e+07
  7.900e+05  1.050e+06  2.400e+06  4.800e+05  1.000e+06  6.900e+05
  3.200e+05  1.170e+06  4.500e+05  1.590e+06  6.500e+05  5.500e+05
  4.200e+05  3.500e+05  6.400e+05  1.650e+06  3.100e+05  1.160e+06
  4.000e+05  5.530e+06  5.800e+05 -1.500e+05  3.900e+05  5.300e+05
  2.290e+06  1.420e+06  6.020e+06  1.480e+06 -9.000e+04  6.300e+05
  1.210e+06  7.400e+05  1.070e+06 -2.000e+04  4.300e+06  5.900e+05
  9.600e+05  6.800e+05  1.140e+06  8.600e+05 -5.000e+04  5.100e+05
  8.300e+05  5.700e+05  6.600e+05  1.440e+06  2.270e+06  5.400e+05
 -2.000e+05  7.800e+05  7.100e+05 -8.000e+04  4.100e+05  7.500e+05]
Column: hinc_business_12 - Unique values: [1.00e+04 0.00e+00 2.40e+05 1.10e+05 4.00e+04 3.00e+04 1.80e+05 4.90e+05
 3.60e+05 9.10e+05 2.00e+04 1.00e+05 6.00e+04 7.00e+04 1.05e+06 8.40e+05
 3.30e+05 4.10e+05 1.50e+05 1.90e+05 8.00e+04 4.30e+05 1.07e+06 7.20e+05
 5.00e+04 1.20e+05 1.80e+06 1.60e+05 2.05e+06 3.60e+07 9.80e+05 4.40e+05
 1.38e+06 1.59e+06 6.00e+05 1.43e+06 1.40e+05 3.70e+05 1.20e+06 2.29e+06
 7.90e+05 1.37e+06 1.02e+06 3.50e+05 1.27e+06 9.60e+05 2.00e+05 5.80e+05
 1.52e+06 5.90e+05 1.70e+05 4.80e+05 1.14e+06 2.30e+05 9.00e+04 6.10e+05
 3.00e+05 1.65e+06 1.44e+06 2.24e+06 2.20e+05 5.70e+05 9.70e+05]
Column: hinc_rent_12 - Unique values: [      0.  -60000.  -10000.   90000.   10000.   20000.   60000.  -40000.
  340000.   40000.  840000. -360000.   50000.  -20000. -210000. 1200000.
 -160000. -140000.  100000.  540000. -170000.   80000.   30000. -120000.
  400000.  -50000.  110000. -180000.  -80000.  170000.   70000.  -30000.
 -200000.  160000.  710000.  120000.  600000.]
Column: hinc_assets_12 - Unique values: [     0.   8000. 232000.  22000.   6000.   1000.  91000.  19000.  89000.
  31000. 129000.  93000.  15000. 105000.  72000.  12000.  36000.  41000.
  11000. 103000.  16000. 180000.   7000.   2000.  20000.  17000.   5000.
  73000.  98000.  74000.  24000.  42000.  60000. 360000.  14000.   4000.
  84000.  77000.  18000.  26000.]
Column: hinc_cap_12 - Unique values: [ 1.00e+04  0.00e+00 -6.00e+04  2.40e+05  1.10e+05 -1.00e+04  4.00e+04
  9.00e+04  3.00e+04  1.80e+05  4.90e+05  3.60e+05  9.10e+05  2.30e+05
  2.00e+04  1.00e+05  6.00e+04  7.00e+04  1.05e+06  8.40e+05  3.30e+05
  4.10e+05  1.50e+05  1.90e+05 -4.00e+04  8.00e+04  3.40e+05  4.30e+05
  1.07e+06  1.30e+05  5.00e+04  1.20e+05  1.80e+06  1.60e+05 -2.00e+04
 -2.10e+05  1.20e+06  2.05e+06  3.60e+07  9.80e+05  4.40e+05  1.22e+06
  1.59e+06  6.00e+05  1.43e+06 -1.40e+05  1.40e+05  5.80e+05 -1.70e+05
  3.70e+05  2.29e+06  7.90e+05  1.37e+06  1.02e+06  3.50e+05  1.46e+06
  9.60e+05 -1.20e+05  7.20e+05 -5.00e+04  1.52e+06  5.90e+05  1.70e+05
  2.70e+05  4.80e+05  1.14e+06 -3.00e+04  6.10e+05  3.00e+05  1.65e+06
  1.44e+06  2.24e+06 -2.00e+05  5.70e+05  7.10e+05  2.00e+05 -8.00e+04
  9.70e+05]
Column: rinc_pension_12 - Unique values: [     0.  30000. 170000.  20000.  10000.  70000.  60000.  50000.  80000.
  40000. 120000. 100000. 200000. 130000. 150000. 240000. 110000. 720000.
 220000. 260000. 600000. 960000. 140000. 480000. 190000. 430000. 360000.
  90000. 250000. 230000. 180000. 160000. 310000. 320000. 290000. 300000.
 340000.]
Column: sinc_pension_12 - Unique values: [      0.   30000.   40000.   10000.  120000.   20000.   80000.  240000.
  200000.  100000.   70000.   60000.   50000.  480000.  190000.  140000.
  160000.  110000.  170000.  340000.  150000.  130000.  180000. 1200000.
   90000.  220000.  360000.  260000.  280000.  600000.  230000. 1080000.]
Column: a16a_12 - Unique values: [1972. 1978. 1987. 1965. 1960. 1970. 1951. 2002. 1975. 1993. 2012. 1962.
 1976. 2010. 2005. 1957. 1945. 1985. 1942. 1964. 1958. 1969. 1968. 1974.
 1940. 2011. 1997.]
Column: a21_12 - Unique values: [ 2.  1. 52.  3. 40. 15.  7. 30.  4.  5.  6. 36. 10. 27. 34. 32. 12.]
Column: year - Unique values: [2021. 2016.]
Column: composite_score - Unique values: [175. 206. 161. 144. 104. 183. 106. 152.  13. 193.  38. 272. 254.  87.
  92. 203. 117.  84.  17.  48.  93. 140.  69. 218.  78. 122. 157. 162.
  40. 126. 178. 137.  76. 202.  86. 133. 225. 131. 231. 154.  71.  64.
 118. 151. 127. 163. 179. 198. 108. 119.  91. 107. 174. 120.  66.  56.
 246. 195. 281. 289. 159. 121. 200. 248. 258. 191. 209.  39. 267. 247.
 150. 223. 226. 205. 158. 185.  60. 146. 167.  63. 204.  52. 181. 220.
 215. 229.  97. 234. 232. 115.  54. 103. 186. 256.  99. 171.  51.  47.
 124. 147.  68. 130. 136. 148. 311. 134. 153. 100. 221. 199.  14.  42.
 143.  25. 164.  74.  20. 216.   4. 235. 141. 264. 269. 173. 155. 125.
 165. 194. 214. 277.  65. 184. 212. 210. 102.  53.  21.  57.  89.  80.
 101. 245. 236.  26. 105. 251.  88. 197.  95. 213. 109. 169. 189.  50.
  45. 240. 135. 177. 252. 156. 145. 176. 149. 116. 170.  98. 201. 237.
 129. 139. 196.  90. 211. 142.  75.  72.  22. 166. 113.  30. 187. 244.
 111. 160. 217. 222.  62.  73. 238.  43. 307. 250. 219. 207. 110.  23.
  96.  29.  79. 190.  34. 285. 257.  85.  32. 294. 114. 172. 224. 253.
 112. 298. 295. 132.  55.  27.  19. 180. 243.  94.  10. 128.  83. 271.
 290.  59. 188.  46. 138.  82. 123. 260. 208. 239. 241.  70. 306. 265.
   8. 266. 233. 275.  15. 230. 182. 268. 305. 262.  24. 255. 263.  81.
 278. 274. 228. 242.  67. 287.  44. 273.  37. 168. 276. 270. 293.  12.
 288. 249.  33. 292. 227.  77.  41. 308. 192.  16.  61.  18.  36. 286.
  58.  49.  35. 261. 283.  31. 320. 299. 332. 259.  28. 330. 312. 280.
 282. 316. 302. 303. 325. 333. 309. 304. 296. 317. 334. 331. 279.]
Column: age_03 - Unique values: [1 3 2 0 4]
Column: urban_03 - Unique values: [1 0]
Column: married_03 - Unique values: [1 3 4 2]
Column: edu_gru_03 - Unique values: [1 3 0 2 4]
Column: n_living_child_03 - Unique values: [2 1 3 0 4]
Column: glob_hlth_03 - Unique values: [4 5 3 1 2]
Column: bmi_03 - Unique values: ['3. Overweight' '4. Obese' '1. Underweight' '2. Normal weight'
 '5. Morbidly obese']
Column: decis_famil_03 - Unique values: ['2. Approximately equal weight' '1. Respondent' '3. Spouse']

In [207]:
combined_data_imputed

,n_mar_03,migration_03,adl_dress_03,adl_walk_03,adl_bath_03,adl_eat_03,adl_bed_03,adl_toilet_03,n_adl_03,iadl_money_03,...,rjlocc_m_12,rjobend_reason_12,rrelgimp_12,rrfcntx_m_12,rsocact_m_12,rrelgwk_12,a22_12,a33b_12,a34_12,j11_12
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6,8.Other,2,9,9.0,0,Agriculture/ Animal breeding 01,Neither 3,0,2
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,18,8.Other,1,9,1.0,0,Agriculture/ Animal breeding 01,Neither 3,0,2
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8,8.Other,2,6,2.0,0,Agriculture/ Animal breeding 01,Neither 3,0,1
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8,8.Other,2,6,2.0,0,Agriculture/ Animal breeding 01,Neither 3,0,1
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8,8.Other,1,4,9.0,1,Agriculture/ Animal breeding 01,Neither 3,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5157,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8,8.Other,1,9,NaN,0,Agriculture/ Animal breeding 01,Neither 3,0,2
5158,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8,8.Other,1,3,9.0,0,Agriculture/ Animal breeding 01,Neither 3,0,2
5159,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,16,5.Family reason,1,4,9.0,0,Agriculture/ Animal breeding 01,Neither 3,0,1
5160,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8,8.Other,1,9,3.0,0,Agriculture/ Animal breeding 01,Neither 3,0,1
5161,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8,8.Other,1,1,9.0,0,Agriculture/ Animal breeding 01,Neither 3,0,2

In [208]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

# Regular expression pattern to match columns with numbers and letters
pattern = r'\d+\.\s*[a-zA-Z]+'

# Step 1: Identify ordinal columns (columns with both numbers and letters)
ordinal_columns = [col for col in combined_data_imputed.columns if combined_data_imputed[col].astype(str).str.contains(pattern).any()]

# Step 2: Filter the DataFrame to select only the ordinal columns
ordinal_data = combined_data_imputed[ordinal_columns]

# Step 3: Ensure consistent data types (convert all to string and handle missing values)
for col in ordinal_columns:
    # Convert all values to string (to avoid mixing numbers and strings)
    combined_data_imputed[col] = combined_data_imputed[col].astype(str)

    # Handle missing values (replace NaN with a placeholder like 'Unknown')
    combined_data_imputed[col] = combined_data_imputed[col].fillna('Unknown')

# Step 4: Apply encoding to the ordinal columns using OrdinalEncoder
encoder = OrdinalEncoder()

# Iterate through the filtered columns and apply encoding
for col in ordinal_columns:
    # Encode the column and assign back to the original DataFrame
    combined_data_imputed[col] = encoder.fit_transform(combined_data_imputed[[col]])

# Display the first few rows of the encoded DataFrame
print(combined_data_imputed[ordinal_columns].head())

   bmi_03  decis_famil_03  rjlocc_m_03  rjobend_reason_03  rjobend_reason_12
0     2.0             1.0         16.0                3.0                4.0
1     2.0             1.0         16.0                3.0                4.0
2     2.0             1.0         16.0                3.0                4.0
3     2.0             1.0         16.0                3.0                4.0
4     2.0             1.0         16.0                2.0                4.0

In [209]:
# Convert the first few rows of the DataFrame into a list
combined_data_imputed.head().values.tolist()

[[1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  0.0,
  1.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  1.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  1.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  1.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  1.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  1.0,
  1.0,
  0.0,
  44.0,
  1995.0,
  0.0,
  0.0,
  30000.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  66.0,
  1998.0,
  0.0,
  0.0,
  140000.0,
  10000.0,
  0.0,
  0.0,
  10000.0,
  0.0,
  0.0,
  1972.0,
  2.0,
  2021.0,
  175.0,
  1,
  1,
  1,
  1,
  2,
  4,
  2.0,
  1.0,
  1,
  2,
  0,
  1,
  0,
  1,
  4,
  3,
  2,
  1,
  1,
  3,
  3,
  1,
  1,
  3,
  2,
  1,
  1,
  1,
  1,
  16.0,
  3.0,
  1,
  2,
  6,
  4.0,
  2,
  9,
  9.0,
  0,
  'Agriculture/ Animal breeding 01',
  'Neither 3',
  0,
  2],
 [1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  0.0,
  1.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  1.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  1.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  1.0,
  0.0,
  1.0,
  1.0,
  0.0,
  0.0,
  4.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  1.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  1.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  1.0,
  1.0,
  1.0,
  0.0,
  0.0,
  1.0,
  1.0,
  0.0,
  44.0,
  1995.0,
  0.0,
  0.0,
  30000.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  72.0,
  1998.0,
  70000.0,
  0.0,
  70000.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1972.0,
  2.0,
  2021.0,
  206.0,
  1,
  1,
  1,
  1,
  2,
  4,
  2.0,
  1.0,
  1,
  1,
  1,
  1,
  3,
  1,
  4,
  3,
  2,
  1,
  1,
  3,
  2,
  1,
  2,
  1,
  4,
  1,
  1,
  1,
  1,
  16.0,
  3.0,
  1,
  2,
  18,
  4.0,
  1,
  9,
  1.0,
  0,
  'Agriculture/ Animal breeding 01',
  'Neither 3',
  0,
  2],
 [1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  0.0,
  1.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  1.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  1.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  1.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  4.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  1.0,
  0.0,
  1.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  1.0,
  44.0,
  1995.0,
  0.0,
  0.0,
  30000.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  40.0,
  1998.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1972.0,
  2.0,
  2016.0,
  161.0,
  1,
  1,
  1,
  1,
  2,
  4,
  2.0,
  1.0,
  1,
  1,
  0,
  1,
  1,
  3,
  4,
  4,
  3,
  1,
  2,
  1,
  1,
  1,
  1,
  1,
  4,
  2,
  2,
  2,
  1,
  16.0,
  3.0,
  1,
  1,
  8,
  4.0,
  2,
  6,
  2.0,
  0,
  'Agriculture/ Animal breeding 01',
  'Neither 3',
  0,
  1],
 [1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  0.0,
  1.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  1.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  1.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  1.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  4.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  1.0,
  0.0,
  1.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  1.0,
  44.0,
  1995.0,
  0.0,
  0.0,
  30000.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  40.0,
  1998.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1972.0,
  2.0,
  2021.0,
  144.0,
  1,
  1,
  1,
  1,
  2,
  4,
  2.0,
  1.0,
  1,
  1,
  0,
  1,
  1,
  3,
  4,
  4,
  3,
  1,
  2,
  1,
  1,
  1,
  1,
  1,
  4,
  2,
  2,
  2,
  1,
  16.0,
  3.0,
  1,
  1,
  8,
  4.0,
  2,
  6,
  2.0,
  0,
  'Agriculture/ Animal breeding 01',
  'Neither 3',
  0,
  1],
 [1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  0.0,
  6.0,
  1.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  1.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  1.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  1.0,
  1.0,
  0.0,
  1.0,
  0.0,
  1.0,
  1.0,
  1.0,
  8.0,
  1.0,
  1.0,
  1.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  3.0,
  0.0,
  1.0,
  0.0,
  1.0,
  0.0,
  1.0,
  1.0,
  1.0,
  1.0,
  0.0,
  1.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  1.0,
  1.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  1.0,
  1.0,
  1.0,
  1.0,
  44.0,
  2003.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  40.0,
  1998.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1972.0,
  2.0,
  2021.0,
  104.0,
  1,
  1,
  3,
  3,
  1,
  4,
  2.0,
  1.0,
  3,
  2,
  1,
  3,
  3,
  1,
  4,
  3,
  2,
  1,
  3,
  2,
  1,
  3,
  3,
  3,
  3,
  2,
  2,
  2,
  1,
  16.0,
  2.0,
  1,
  2,
  8,
  4.0,
  1,
  4,
  9.0,
  1,
  'Agriculture/ Animal breeding 01',
  'Neither 3',
  0,
  2]]

In [210]:
# Find columns that are not numeric
non_numeric_columns = combined_data_imputed.select_dtypes(exclude=['number']).columns
print(non_numeric_columns)

Index(['a22_12', 'a33b_12'], dtype='object')

In [211]:
combined_data_imputed.drop(columns=['a22_12', 'a33b_12','rsocact_m_12'], inplace=True, axis = 1)

In [212]:
combined_data_imputed.head().values.tolist()

[[1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  0.0,
  1.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  1.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  1.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  1.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  1.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  1.0,
  1.0,
  0.0,
  44.0,
  1995.0,
  0.0,
  0.0,
  30000.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  66.0,
  1998.0,
  0.0,
  0.0,
  140000.0,
  10000.0,
  0.0,
  0.0,
  10000.0,
  0.0,
  0.0,
  1972.0,
  2.0,
  2021.0,
  175.0,
  1.0,
  1.0,
  1.0,
  1.0,
  2.0,
  4.0,
  2.0,
  1.0,
  1.0,
  2.0,
  0.0,
  1.0,
  0.0,
  1.0,
  4.0,
  3.0,
  2.0,
  1.0,
  1.0,
  3.0,
  3.0,
  1.0,
  1.0,
  3.0,
  2.0,
  1.0,
  1.0,
  1.0,
  1.0,
  16.0,
  3.0,
  1.0,
  2.0,
  6.0,
  4.0,
  2.0,
  9.0,
  0.0,
  0.0,
  2.0],
 [1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  0.0,
  1.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  1.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  1.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  1.0,
  0.0,
  1.0,
  1.0,
  0.0,
  0.0,
  4.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  1.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  1.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  1.0,
  1.0,
  1.0,
  0.0,
  0.0,
  1.0,
  1.0,
  0.0,
  44.0,
  1995.0,
  0.0,
  0.0,
  30000.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  72.0,
  1998.0,
  70000.0,
  0.0,
  70000.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1972.0,
  2.0,
  2021.0,
  206.0,
  1.0,
  1.0,
  1.0,
  1.0,
  2.0,
  4.0,
  2.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  3.0,
  1.0,
  4.0,
  3.0,
  2.0,
  1.0,
  1.0,
  3.0,
  2.0,
  1.0,
  2.0,
  1.0,
  4.0,
  1.0,
  1.0,
  1.0,
  1.0,
  16.0,
  3.0,
  1.0,
  2.0,
  18.0,
  4.0,
  1.0,
  9.0,
  0.0,
  0.0,
  2.0],
 [1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  0.0,
  1.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  1.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  1.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  1.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  4.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  1.0,
  0.0,
  1.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  1.0,
  44.0,
  1995.0,
  0.0,
  0.0,
  30000.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  40.0,
  1998.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1972.0,
  2.0,
  2016.0,
  161.0,
  1.0,
  1.0,
  1.0,
  1.0,
  2.0,
  4.0,
  2.0,
  1.0,
  1.0,
  1.0,
  0.0,
  1.0,
  1.0,
  3.0,
  4.0,
  4.0,
  3.0,
  1.0,
  2.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  4.0,
  2.0,
  2.0,
  2.0,
  1.0,
  16.0,
  3.0,
  1.0,
  1.0,
  8.0,
  4.0,
  2.0,
  6.0,
  0.0,
  0.0,
  1.0],
 [1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  0.0,
  1.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  1.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  1.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  1.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  4.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  1.0,
  0.0,
  1.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  1.0,
  44.0,
  1995.0,
  0.0,
  0.0,
  30000.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  40.0,
  1998.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1972.0,
  2.0,
  2021.0,
  144.0,
  1.0,
  1.0,
  1.0,
  1.0,
  2.0,
  4.0,
  2.0,
  1.0,
  1.0,
  1.0,
  0.0,
  1.0,
  1.0,
  3.0,
  4.0,
  4.0,
  3.0,
  1.0,
  2.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  4.0,
  2.0,
  2.0,
  2.0,
  1.0,
  16.0,
  3.0,
  1.0,
  1.0,
  8.0,
  4.0,
  2.0,
  6.0,
  0.0,
  0.0,
  1.0],
 [1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  0.0,
  6.0,
  1.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  1.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  1.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  1.0,
  1.0,
  0.0,
  1.0,
  0.0,
  1.0,
  1.0,
  1.0,
  8.0,
  1.0,
  1.0,
  1.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  3.0,
  0.0,
  1.0,
  0.0,
  1.0,
  0.0,
  1.0,
  1.0,
  1.0,
  1.0,
  0.0,
  1.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  1.0,
  1.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  1.0,
  1.0,
  1.0,
  1.0,
  44.0,
  2003.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  40.0,
  1998.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1972.0,
  2.0,
  2021.0,
  104.0,
  1.0,
  1.0,
  3.0,
  3.0,
  1.0,
  4.0,
  2.0,
  1.0,
  3.0,
  2.0,
  1.0,
  3.0,
  3.0,
  1.0,
  4.0,
  3.0,
  2.0,
  1.0,
  3.0,
  2.0,
  1.0,
  3.0,
  3.0,
  3.0,
  3.0,
  2.0,
  2.0,
  2.0,
  1.0,
  16.0,
  2.0,
  1.0,
  2.0,
  8.0,
  4.0,
  1.0,
  4.0,
  1.0,
  0.0,
  2.0]]

In [213]:
print(combined_data_imputed.isnull().sum().sort_values(ascending=False))

n_mar_03         0
tv_12            0
rjob_hrswk_03    0
rjob_end_03      0
rearnings_03     0
                ..
iadl_shop_12     0
iadl_meals_12    0
n_iadl_12        0
depressed_12     0
j11_12           0
Length: 182, dtype: int64

In [214]:
X = combined_data_imputed.drop(columns=['composite_score'])  # Drop target and any non-feature columns
y = combined_data_imputed['composite_score']

In [215]:
X

,n_mar_03,migration_03,adl_dress_03,adl_walk_03,adl_bath_03,adl_eat_03,adl_bed_03,adl_toilet_03,n_adl_03,iadl_money_03,...,rjobend_reason_03,rrelgimp_03,sgender_12,rjlocc_m_12,rjobend_reason_12,rrelgimp_12,rrfcntx_m_12,rrelgwk_12,a34_12,j11_12
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,1,2,6,4.0,2,9,0,0,2
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,1,2,18,4.0,1,9,0,0,2
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,1,1,8,4.0,2,6,0,0,1
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,1,1,8,4.0,2,6,0,0,1
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1,2,8,4.0,1,4,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5157,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,1,1,8,4.0,1,9,0,0,2
5158,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,1,1,8,4.0,1,3,0,0,2
5159,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,1,2,16,3.0,1,4,0,0,1
5160,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,1,1,8,4.0,1,9,0,0,1
5161,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,1,2,8,4.0,1,1,0,0,2

In [216]:
from sklearn.feature_selection import SelectKBest, mutual_info_regression

In [217]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.feature_selection import SelectKBest, chi2, mutual_info_regression, f_regression
from sklearn.model_selection import train_test_split
from collections import Counter

# Scale data using MinMaxScaler to keep everything in the range [0, 1] for chi2
min_max_scaler = MinMaxScaler()
X_min_max_scaled = min_max_scaler.fit_transform(X)

# Apply SelectKBest with chi2 on the scaled data
chi2_selector = SelectKBest(chi2, k=10)
X_chi2 = chi2_selector.fit_transform(X_min_max_scaled, y)
chi2_selected_features = X.columns[chi2_selector.get_support()].tolist()

# Apply SelectKBest with mutual_info_regression on the scaled data
mi_selector = SelectKBest(mutual_info_regression, k=10)
X_mi = mi_selector.fit_transform(X_min_max_scaled, y)
mi_selected_features = X.columns[mi_selector.get_support()].tolist()

# Apply SelectKBest with f_regression on the scaled data
f_selector = SelectKBest(f_regression, k=10)
X_f = f_selector.fit_transform(X_min_max_scaled, y)
f_selected_features = X.columns[f_selector.get_support()].tolist()

# Combine selected features from all methods
all_selected_features = chi2_selected_features + mi_selected_features + f_selected_features

# Count the most common features
feature_counts = Counter(all_selected_features)
most_common_features = [feature for feature, count in feature_counts.most_common(10)]

print("Most Common 15 Selected Features:", most_common_features)

Most Common 10 Selected Features: ['edu_gru_12', 'age_03', 'edu_gru_03', 'age_12', 'n_living_child_12', 'rameduc_m', 'adl_walk_03', 'iadl_money_03', 'adl_walk_12', 'iadl_money_12']

In [218]:
# Assuming most_common_features is a list
features_to_remove = ['adl_walk_03', 'iadl_money_03', 'adl_walk_12', 'iadl_money_12']
most_common_features = [feature for feature in most_common_features if feature not in features_to_remove]

In [219]:
most_common_features

['edu_gru_12',
 'age_03',
 'edu_gru_03',
 'age_12',
 'n_living_child_12',
 'rameduc_m']

In [220]:
# Use these most common features for further modeling
X_selected = X[most_common_features]
X_train, X_test, y_train, y_test = train_test_split(X_selected, y, test_size=0.2, random_state=42)

In [221]:
X_train

      edu_gru_12  age_03  edu_gru_03  age_12  n_living_child_12  rameduc_m
4669           1       2           1       3                  4          2
4709           0       2           0       3                  4          1
4183           1       3           1       4                  1          1
1670           1       3           1       4                  4          1
99             1       1           1       1                  3          1
...          ...     ...         ...     ...                ...        ...
4426           1       1           1       2                  4          1
466            2       1           1       1                  1          1
3092           2       3           2       4                  4          2
3772           1       1           1       1                  2          1
860            1       1           1       2                  3          1

[4129 rows x 6 columns]

In [222]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from catboost import CatBoostRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import cross_val_score, TimeSeriesSplit
from sklearn.pipeline import Pipeline
from sklearn.metrics import make_scorer, mean_absolute_error, mean_squared_error, r2_score
import pandas as pd
import numpy as np
from prophet import Prophet

In [223]:
models_new_results = []

In [224]:
# Linear Regression
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)
lr_y_pred = lr_model.predict(X_test)

lr_results = {
    'Model': 'Linear Regression',
    'MAE': mean_absolute_error(y_test, lr_y_pred),
    'MSE': mean_squared_error(y_test, lr_y_pred),
    'RMSE': np.sqrt(mean_squared_error(y_test, lr_y_pred)),
    'R-squared': r2_score(y_test, lr_y_pred)
}
models_new_results.append(lr_results)

In [225]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import KFold, GridSearchCV
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

In [226]:
# Define the cross-validation strategy
cv = KFold(n_splits=5, shuffle=True, random_state=42)

# Ridge Regression
ridge_model = Ridge()
ridge_param_grid = {'alpha': [0.1, 1.0, 10]}
ridge_grid_search = GridSearchCV(ridge_model, ridge_param_grid, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)

# Fit the model
ridge_grid_search.fit(X_train, y_train)

# Get the best model from GridSearchCV
ridge_best_model = ridge_grid_search.best_estimator_

# Predict on the test set
ridge_y_pred = ridge_best_model.predict(X_test)

# Calculate performance metrics
ridge_results = {
    'Model': 'Ridge',
    'Best Parameters': ridge_grid_search.best_params_,
    'MAE': mean_absolute_error(y_test, ridge_y_pred),
    'MSE': mean_squared_error(y_test, ridge_y_pred),
    'RMSE': np.sqrt(mean_squared_error(y_test, ridge_y_pred)),
    'R-squared': r2_score(y_test, ridge_y_pred)
}

# Append the results to the list
models_new_results.append(ridge_results)

# Optionally, print the results
print(ridge_results)

{'Model': 'Ridge', 'Best Parameters': {'alpha': 10}, 'MAE': 33.18128890404382, 'MSE': 1758.979036059487, 'RMSE': 41.94018402510279, 'R-squared': 0.40056245592625095}

In [227]:
# Lasso Regression
lasso_model = Lasso()
lasso_param_grid = {'alpha': [0.1, 1.0, 10]}
lasso_grid_search = GridSearchCV(lasso_model, lasso_param_grid, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)
lasso_grid_search.fit(X_train, y_train)
lasso_best_model = lasso_grid_search.best_estimator_
lasso_y_pred = lasso_best_model.predict(X_test)

lasso_results = {
    'Model': 'Lasso',
    'Best Parameters': lasso_grid_search.best_params_,
    'MAE': mean_absolute_error(y_test, lasso_y_pred),
    'MSE': mean_squared_error(y_test, lasso_y_pred),
    'RMSE': np.sqrt(mean_squared_error(y_test, lasso_y_pred)),
    'R-squared': r2_score(y_test, lasso_y_pred)
}
models_new_results.append(lasso_results)

In [228]:
# ElasticNet Regression
en_model = ElasticNet()
en_param_grid = {'alpha': [0.1, 1.0, 10], 'l1_ratio': [0.2, 0.5, 0.8]}
en_grid_search = GridSearchCV(en_model, en_param_grid, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)
en_grid_search.fit(X_train, y_train)
en_best_model = en_grid_search.best_estimator_
en_y_pred = en_best_model.predict(X_test)

en_results = {
    'Model': 'ElasticNet',
    'Best Parameters': en_grid_search.best_params_,
    'MAE': mean_absolute_error(y_test, en_y_pred),
    'MSE': mean_squared_error(y_test, en_y_pred),
    'RMSE': np.sqrt(mean_squared_error(y_test, en_y_pred)),
    'R-squared': r2_score(y_test, en_y_pred)
}
models_new_results.append(en_results)

In [229]:
# Random Forest Regressor
rf_model = RandomForestRegressor()
rf_param_grid = {'n_estimators': [50, 100], 'max_depth': [5, 10, None]}
rf_grid_search = GridSearchCV(rf_model, rf_param_grid, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)
rf_grid_search.fit(X_train, y_train)
rf_best_model = rf_grid_search.best_estimator_
rf_y_pred = rf_best_model.predict(X_test)

rf_results = {
    'Model': 'Random Forest',
    'Best Parameters': rf_grid_search.best_params_,
    'MAE': mean_absolute_error(y_test, rf_y_pred),
    'MSE': mean_squared_error(y_test, rf_y_pred),
    'RMSE': np.sqrt(mean_squared_error(y_test, rf_y_pred)),
    'R-squared': r2_score(y_test, rf_y_pred)
}
models_new_results.append(rf_results)

In [230]:
# Gradient Boosting Regressor
gb_model = GradientBoostingRegressor()
gb_param_grid = {'n_estimators': [50, 100], 'learning_rate': [0.01, 0.1]}
gb_grid_search = GridSearchCV(gb_model, gb_param_grid, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)
gb_grid_search.fit(X_train, y_train)
gb_best_model = gb_grid_search.best_estimator_
gb_y_pred = gb_best_model.predict(X_test)

gb_results = {
    'Model': 'Gradient Boosting',
    'Best Parameters': gb_grid_search.best_params_,
    'MAE': mean_absolute_error(y_test, gb_y_pred),
    'MSE': mean_squared_error(y_test, gb_y_pred),
    'RMSE': np.sqrt(mean_squared_error(y_test, gb_y_pred)),
    'R-squared': r2_score(y_test, gb_y_pred)
}
models_new_results.append(gb_results)

In [231]:
# XGBoost Regression
xgb_model = XGBRegressor()
xgb_param_grid = {'n_estimators': [50, 100], 'learning_rate': [0.05, 0.1]}
xgb_grid_search = GridSearchCV(xgb_model, xgb_param_grid, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)
xgb_grid_search.fit(X_train, y_train)
xgb_best_model = xgb_grid_search.best_estimator_
xgb_y_pred = xgb_best_model.predict(X_test)

xgb_results = {
    'Model': 'XGBoost',
    'Best Parameters': xgb_grid_search.best_params_,
    'MAE': mean_absolute_error(y_test, xgb_y_pred),
    'MSE': mean_squared_error(y_test, xgb_y_pred),
    'RMSE': np.sqrt(mean_squared_error(y_test, xgb_y_pred)),
    'R-squared': r2_score(y_test, xgb_y_pred)
}
models_new_results.append(xgb_results)

In [232]:
from lightgbm import LGBMRegressor

In [233]:
# LightGBM Regression
lgbm_model = LGBMRegressor()
lgbm_param_grid = {'n_estimators': [50, 100], 'learning_rate': [0.01, 0.1]}
lgbm_grid_search = GridSearchCV(lgbm_model, lgbm_param_grid, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)
lgbm_grid_search.fit(X_train, y_train)
lgbm_best_model = lgbm_grid_search.best_estimator_
lgbm_y_pred = lgbm_best_model.predict(X_test)

lgbm_results = {
    'Model': 'LightGBM',
    'Best Parameters': lgbm_grid_search.best_params_,
    'MAE': mean_absolute_error(y_test, lgbm_y_pred),
    'MSE': mean_squared_error(y_test, lgbm_y_pred),
    'RMSE': np.sqrt(mean_squared_error(y_test, lgbm_y_pred)),
    'R-squared': r2_score(y_test, lgbm_y_pred)
}
models_new_results.append(lgbm_results)

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000091 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 30
[LightGBM] [Info] Number of data points in the train set: 4129, number of used features: 6
[LightGBM] [Info] Start training from score 156.212158

In [234]:
# CatBoost Regression
catboost_model = CatBoostRegressor(verbose=0)
catboost_model.fit(X_train, y_train)
catboost_y_pred = catboost_model.predict(X_test)

catboost_results = {
    'Model': 'CatBoost',
    'MAE': mean_absolute_error(y_test, catboost_y_pred),
    'MSE': mean_squared_error(y_test, catboost_y_pred),
    'RMSE': np.sqrt(mean_squared_error(y_test, catboost_y_pred)),
    'R-squared': r2_score(y_test, catboost_y_pred)
}
models_new_results.append(catboost_results)

In [235]:
models_new_results

[{'Model': 'Linear Regression',
  'MAE': 33.18213413124834,
  'MSE': 1759.2691964141359,
  'RMSE': 41.94364309897432,
  'R-squared': 0.4004635729908592},
 {'Model': 'Ridge',
  'Best Parameters': {'alpha': 10},
  'MAE': 33.18128890404382,
  'MSE': 1758.979036059487,
  'RMSE': 41.94018402510279,
  'R-squared': 0.40056245592625095},
 {'Model': 'Lasso',
  'Best Parameters': {'alpha': 0.1},
  'MAE': 33.17873883308108,
  'MSE': 1758.5207185562094,
  'RMSE': 41.93471972669198,
  'R-squared': 0.4007186446658202},
 {'Model': 'ElasticNet',
  'Best Parameters': {'alpha': 0.1, 'l1_ratio': 0.8},
  'MAE': 33.17475631503212,
  'MSE': 1756.5985976001577,
  'RMSE': 41.911795447107224,
  'R-squared': 0.40137367888833686},
 {'Model': 'Random Forest',
  'Best Parameters': {'max_depth': 5, 'n_estimators': 50},
  'MAE': 32.87694933352317,
  'MSE': 1675.5897725881916,
  'RMSE': 40.93396844416861,
  'R-squared': 0.4289804497013978},
 {'Model': 'Gradient Boosting',
  'Best Parameters': {'learning_rate': 0.1, 'n_estimators': 50},
  'MAE': 32.91069214662643,
  'MSE': 1687.1560222685237,
  'RMSE': 41.07500483589166,
  'R-squared': 0.42503881983521463},
 {'Model': 'XGBoost',
  'Best Parameters': {'learning_rate': 0.05, 'n_estimators': 50},
  'MAE': 32.72361430401724,
  'MSE': 1659.701943797156,
  'RMSE': 40.73943965983278,
  'R-squared': 0.4343948184209352},
 {'Model': 'LightGBM',
  'Best Parameters': {'learning_rate': 0.1, 'n_estimators': 50},
  'MAE': 32.70447253531851,
  'MSE': 1662.646414177132,
  'RMSE': 40.77556148205849,
  'R-squared': 0.4333913805987739},
 {'Model': 'CatBoost',
  'MAE': 32.49988766765865,
  'MSE': 1677.092882586275,
  'RMSE': 40.95232450772819,
  'R-squared': 0.42846820905085403}]

In [236]:
import pandas as pd

# Ensure models_new_results is a DataFrame
models_new_results = pd.DataFrame(models_new_results)  # If models_new_results was initially a list of dictionaries

In [237]:
# Group by model name and select the row with the best R-squared or lowest MAE
best_results = models_new_results.loc[models_new_results.groupby('Model')['RMSE'].idxmax()]

print(best_results)

               Model        MAE          MSE       RMSE  R-squared  \
8           CatBoost  32.499888  1677.092883  40.952325   0.428468
3         ElasticNet  33.174756  1756.598598  41.911795   0.401374
5  Gradient Boosting  32.910692  1687.156022  41.075005   0.425039
2              Lasso  33.178739  1758.520719  41.934720   0.400719
7           LightGBM  32.704473  1662.646414  40.775561   0.433391
0  Linear Regression  33.182134  1759.269196  41.943643   0.400464
4      Random Forest  32.876949  1675.589773  40.933968   0.428980
1              Ridge  33.181289  1758.979036  41.940184   0.400562
6            XGBoost  32.723614  1659.701944  40.739440   0.434395

                               Best Parameters
8                                          NaN
3              {'alpha': 0.1, 'l1_ratio': 0.8}
5   {'learning_rate': 0.1, 'n_estimators': 50}
2                               {'alpha': 0.1}
7   {'learning_rate': 0.1, 'n_estimators': 50}
0                                          NaN
4         {'max_depth': 5, 'n_estimators': 50}
1                                {'alpha': 10}
6  {'learning_rate': 0.05, 'n_estimators': 50}

In [238]:
import pickle

In [243]:


# Save the trained model to a file
with open('revised_ridge_model.pkl', 'wb') as file:
    pickle.dump(ridge_best_model, file)

In [240]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
import joblib

In [241]:
X_train.columns

Index(['edu_gru_12', 'age_03', 'edu_gru_03', 'age_12', 'n_living_child_12',
       'rameduc_m'],
      dtype='object')

In [242]:
feature_names = list(ridge_best_model.feature_names_in_)
print(feature_names)

['edu_gru_12', 'age_03', 'edu_gru_03', 'age_12', 'n_living_child_12', 'rameduc_m']