In [228]:
# Core Libraries
import pandas as pd
import numpy as np
import joblib
import logging
import re
import warnings

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Data Processing
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV, TimeSeriesSplit
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.compose import ColumnTransformer

# Feature Selection and Permutation Importance
from sklearn.feature_selection import SelectKBest, chi2, mutual_info_classif
from sklearn.inspection import permutation_importance

# Regression Models
from sklearn.linear_model import Ridge, Lasso
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.neighbors import KNeighborsRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from catboost import CatBoostRegressor
from sklearn.neural_network import MLPRegressor

# Classification Models (used in feature importance or metrics evaluation)
from sklearn.linear_model import LogisticRegression

# Metrics
from sklearn.metrics import (
    classification_report,
    accuracy_score,
    confusion_matrix,
    recall_score,
    f1_score,
    roc_auc_score,
    make_scorer
)

# General Settings
warnings.filterwarnings('ignore')

In [229]:
# Loading data
train_data = pd.read_csv('C:/Users/Hp/Desktop/Capstone Project/Data/train_features.csv')
train_labels = pd.read_csv('C:/Users/Hp/Desktop/Capstone Project/Data/train_labels.csv')
test_data = pd.read_csv('C:/Users/Hp/Desktop/Capstone Project/Data/test_features.csv')

In [230]:
train_data.head()

,uid,age_03,urban_03,married_03,n_mar_03,edu_gru_03,n_living_child_03,migration_03,glob_hlth_03,adl_dress_03,...,rrelgimp_12,rrfcntx_m_12,rsocact_m_12,rrelgwk_12,a16a_12,a21_12,a22_12,a33b_12,a34_12,j11_12
0,aace,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.somewhat important,9.Never,9.Never,0.No,NaN,NaN,NaN,NaN,NaN,Concrete 2
1,aanz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.very important,9.Never,1.Almost every day,0.No,NaN,NaN,NaN,NaN,NaN,Concrete 2
2,aape,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.somewhat important,6.2 or 3 times a month,2.4 or more times a week,0.No,NaN,NaN,NaN,NaN,NaN,"Wood, mosaic, or other covering 1"
3,aard,1. 50–59,"1. 100,000+",3. Widowed,1.0,3. 7–9 years,1. 1 or 2,0.0,4. Fair,0.0,...,1.very important,4.Once a week,9.Never,1.Yes,NaN,NaN,NaN,NaN,No 2,Concrete 2
4,ablr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.very important,3.2 or 3 times a week,3.2 or 3 times a week,0.No,NaN,NaN,NaN,NaN,NaN,"Wood, mosaic, or other covering 1"

In [231]:
train_labels.head()

    uid  year  composite_score
0  aace  2021              175
1  aanz  2021              206
2  aape  2016              161
3  aape  2021              144
4  aard  2021              104

In [232]:
test_data.head()

,uid,age_03,urban_03,married_03,n_mar_03,edu_gru_03,n_living_child_03,migration_03,glob_hlth_03,adl_dress_03,...,rrelgimp_12,rrfcntx_m_12,rsocact_m_12,rrelgwk_12,a16a_12,a21_12,a22_12,a33b_12,a34_12,j11_12
0,abxu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Wood, mosaic, or other covering 1"
1,aeol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.very important,9.Never,9.Never,1.Yes,NaN,NaN,NaN,NaN,NaN,Concrete 2
2,afnb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.very important,9.Never,3.2 or 3 times a week,1.Yes,NaN,NaN,NaN,NaN,NaN,"Wood, mosaic, or other covering 1"
3,ajfh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.somewhat important,9.Never,5.4 or more times a month,0.No,NaN,NaN,NaN,NaN,NaN,"Wood, mosaic, or other covering 1"
4,ajvq,2. 60–69,"1. 100,000+",1. Married or in civil union,1.0,4. 10+ years,1. 1 or 2,0.0,NaN,NaN,...,2.somewhat important,1.Almost every day,4.Once a week,0.No,NaN,NaN,NaN,NaN,No 2,"Wood, mosaic, or other covering 1"

In [233]:
# Check the data types of the 'uid' column in each dataframe
print(train_data.shape)
print(train_labels.shape)
print(test_data.shape)

(3276, 184)
(4343, 3)
(819, 184)

In [234]:
combined_data = pd.concat([train_data, test_data], axis=0, ignore_index=True)

In [235]:
# This will add labels only for rows in the training data
combined_data = pd.merge(combined_data, train_labels, on='uid', how='left')

# Check the shape and a few rows to confirm
print("Combined data shape after merging:", combined_data.shape)
print(combined_data.head())

Combined data shape after merging: (5162, 186)
    uid    age_03     urban_03  married_03  n_mar_03    edu_gru_03  \
0  aace       NaN          NaN         NaN       NaN           NaN
1  aanz       NaN          NaN         NaN       NaN           NaN
2  aape       NaN          NaN         NaN       NaN           NaN
3  aape       NaN          NaN         NaN       NaN           NaN
4  aard  1. 50–59  1. 100,000+  3. Widowed       1.0  3. 7–9 years

  n_living_child_03  migration_03 glob_hlth_03  adl_dress_03  ...  \
0               NaN           NaN          NaN           NaN  ...
1               NaN           NaN          NaN           NaN  ...
2               NaN           NaN          NaN           NaN  ...
3               NaN           NaN          NaN           NaN  ...
4         1. 1 or 2           0.0      4. Fair           0.0  ...

               rsocact_m_12  rrelgwk_12  a16a_12  a21_12  a22_12  a33b_12  \
0                   9.Never        0.No      NaN     NaN     NaN      NaN
1        1.Almost every day        0.No      NaN     NaN     NaN      NaN
2  2.4 or more times a week        0.No      NaN     NaN     NaN      NaN
3  2.4 or more times a week        0.No      NaN     NaN     NaN      NaN
4                   9.Never       1.Yes      NaN     NaN     NaN      NaN

   a34_12                             j11_12    year  composite_score
0     NaN                         Concrete 2  2021.0            175.0
1     NaN                         Concrete 2  2021.0            206.0
2     NaN  Wood, mosaic, or other covering 1  2016.0            161.0
3     NaN  Wood, mosaic, or other covering 1  2021.0            144.0
4    No 2                         Concrete 2  2021.0            104.0

[5 rows x 186 columns]

In [236]:
# Convert wide to long format
data_long = pd.wide_to_long(
    long_data ,
    stubnames=[
        'age', 'urban', 'married', 'n_mar', 'edu_gru', 'n_living_child', 'migration', 
        'glob_hlth', 'adl_dress', 'adl_walk', 'adl_bath', 'adl_eat', 'adl_bed', 'adl_toilet', 
        'n_adl', 'iadl_money', 'iadl_meds', 'iadl_shop', 'iadl_meals', 'n_iadl', 'depressed', 
        'hard', 'restless', 'happy', 'lonely', 'enjoy', 'sad', 'tired', 'energetic', 'n_depr', 
        'cesd_depressed', 'hypertension', 'diabetes', 'resp_ill', 'arthritis', 'hrt_attack', 
        'stroke', 'cancer', 'n_illnesses', 'bmi', 'exer_3xwk', 'alcohol', 'tobacco', 
        'test_chol', 'test_tuber', 'test_diab', 'test_pres', 'hosp', 'visit_med', 
        'out_proc', 'visit_dental', 'imss', 'issste', 'pem_def_mar', 'insur_private', 
        'insur_other', 'insured', 'decis_famil', 'decis_personal', 'employment', 
        'rjob_hrswk', 'rjlocc_m', 'rjob_end', 'rjobend_reason', 'rearnings', 
        'searnings', 'hincome', 'hinc_business', 'hinc_rent', 'hinc_assets', 'hinc_cap', 
        'rinc_pension', 'sinc_pension', 'rrelgimp', 'rrfcntx_m', 'rsocact_m', 'rrelgwk', 
        'a34', 'j11'
    ],
    i=['uid', 'year', 'composite_score'],  # Use 'uid', 'year', and 'composite_score' as identifiers
    j='time',  # Variable to capture time (03 or 12)
    sep='_',  # Separator used in wide-format column names
    suffix='\\d+'  # Regular expression to capture suffixes (03 or 12)
).reset_index()

# Display the first few rows to verify
data_long.head()

,uid,year,composite_score,time,seg_pop_12,comms_tel_comp_12,tv_12,vax_flu_12,table_games_12,satis_excel_12,...,hinc_assets,hinc_cap,rinc_pension,sinc_pension,rrelgimp,rrfcntx_m,rsocact_m,rrelgwk,a34,j11
0,aace,2021.0,175.0,3,1.0,0.0,1.0,0.0,0.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,aace,2021.0,175.0,12,1.0,0.0,1.0,0.0,0.0,3.0,...,0.0,10000.0,0.0,0.0,2.0,9.0,9.0,0.0,NaN,2.0
2,aanz,2021.0,206.0,3,0.0,0.0,1.0,1.0,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,aanz,2021.0,206.0,12,0.0,0.0,1.0,1.0,0.0,2.0,...,0.0,0.0,0.0,0.0,1.0,9.0,1.0,0.0,NaN,2.0
4,aape,2016.0,161.0,3,0.0,1.0,1.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [237]:
data_long.shape

(10324, 113)

In [238]:
# Printing the missing values sorted in descending order
print(data_long.isna().sum().sort_values(ascending=False).to_list())

[10244, 10208, 10192, 10192, 9036, 8995, 7128, 7040, 6588, 5482, 5470, 5468, 5275, 4952, 4592, 4395, 4395, 3652, 3371, 2270, 2251, 2247, 2247, 2228, 2225, 2223, 2222, 2220, 2216, 2211, 2210, 2210, 2209, 2208, 2207, 2206, 2206, 2205, 2205, 2205, 2205, 2204, 2204, 2204, 1962, 1904, 1884, 1882, 1879, 1874, 1866, 1863, 1859, 1859, 1858, 1851, 1850, 1848, 1847, 1847, 1847, 1844, 1842, 1841, 1841, 1840, 1840, 1840, 1840, 1839, 1839, 1838, 1837, 1837, 1837, 1836, 1836, 1835, 1835, 1835, 1835, 1819, 1819, 1819, 1819, 1638, 1638, 1506, 1250, 840, 790, 722, 704, 692, 658, 642, 640, 640, 624, 622, 620, 618, 618, 616, 616, 616, 612, 612, 612, 266, 0, 0, 0]

In [239]:
# Printing the missing values with column names, sorted in descending order
print(data_long.isna().sum().sort_values(ascending=False))

a16a_12            10244
a22_12             10208
a33b_12            10192
a21_12             10192
rjob_end            9036
                   ...
attends_club_12      612
seg_pop_12           266
time                   0
ragender               0
uid                    0
Length: 113, dtype: int64

In [240]:
numeric_data = data_long.select_dtypes(include=['float64', 'int64'])
categorical_data = data_long.select_dtypes(exclude=['float64', 'int64'])

In [241]:

missing_percentages = (data_long.isna().sum() / len(data_long)) * 100


high_missing_columns = missing_percentages[missing_percentages > 40].index

data_long = data_long.drop(columns=high_missing_columns)


print("Columns remaining after dropping those with more than 40% missing values:")
print(data_long.columns)

Columns remaining after dropping those with more than 40% missing values:
Index(['uid', 'year', 'composite_score', 'time', 'seg_pop_12',
       'comms_tel_comp_12', 'tv_12', 'vax_flu_12', 'table_games_12',
       'satis_excel_12', 'volunteer_12', 'wouldnt_change_12',
       'attends_club_12', 'reads_12', 'ragender', 'care_child_12',
       'satis_ideal_12', 'games_12', 'satis_fine_12', 'attends_class_12',
       'act_mant_12', 'cosas_imp_12', 'vax_pneu_12', 'memory_12', 'sewing_12',
       'sgender_12', 'care_adult_12', 'rameduc_m', 'rafeduc_m', 'age', 'urban',
       'married', 'n_mar', 'edu_gru', 'n_living_child', 'migration',
       'glob_hlth', 'adl_dress', 'adl_walk', 'adl_bath', 'adl_eat', 'adl_bed',
       'adl_toilet', 'n_adl', 'iadl_money', 'iadl_meds', 'iadl_shop',
       'iadl_meals', 'n_iadl', 'depressed', 'hard', 'restless', 'happy',
       'lonely', 'enjoy', 'sad', 'tired', 'energetic', 'n_depr',
       'cesd_depressed', 'hypertension', 'diabetes', 'resp_ill', 'arthritis',
       'hrt_attack', 'stroke', 'cancer', 'n_illnesses', 'bmi', 'exer_3xwk',
       'alcohol', 'tobacco', 'test_chol', 'test_tuber', 'test_diab',
       'test_pres', 'hosp', 'visit_med', 'out_proc', 'visit_dental', 'imss',
       'issste', 'pem_def_mar', 'insur_private', 'insur_other', 'insured',
       'decis_personal', 'employment', 'rearnings', 'hincome', 'hinc_business',
       'hinc_rent', 'hinc_assets', 'hinc_cap', 'rinc_pension', 'rrelgimp'],
      dtype='object')

In [242]:

imputer_numeric = SimpleImputer(strategy='median')
imputer_categorical = SimpleImputer(strategy='most_frequent')


numeric_data_imputed = pd.DataFrame(imputer_numeric.fit_transform(numeric_data), columns=numeric_data.columns)
categorical_data_imputed = pd.DataFrame(imputer_categorical.fit_transform(categorical_data), columns=categorical_data.columns)


data_long_imputed = pd.concat([numeric_data_imputed, categorical_data_imputed], axis=1)


print("Number of missing values after imputation:")

Number of missing values after imputation:

In [243]:
print(data_long_imputed.isna().sum().sum())

0

In [244]:
data_long_imputed.head()

,year,composite_score,time,seg_pop_12,comms_tel_comp_12,tv_12,vax_flu_12,table_games_12,satis_excel_12,volunteer_12,...,hinc_cap,rinc_pension,sinc_pension,rrelgimp,rrfcntx_m,rsocact_m,rrelgwk,a34,j11,uid
0,2021.0,175.0,3.0,1.0,0.0,1.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,1.0,4.0,8.0,0.0,2.0,1.0,aace
1,2021.0,175.0,12.0,1.0,0.0,1.0,0.0,0.0,3.0,0.0,...,10000.0,0.0,0.0,2.0,9.0,9.0,0.0,2.0,2.0,aace
2,2021.0,206.0,3.0,0.0,0.0,1.0,1.0,0.0,2.0,0.0,...,0.0,0.0,0.0,1.0,4.0,8.0,0.0,2.0,1.0,aanz
3,2021.0,206.0,12.0,0.0,0.0,1.0,1.0,0.0,2.0,0.0,...,0.0,0.0,0.0,1.0,9.0,1.0,0.0,2.0,2.0,aanz
4,2016.0,161.0,3.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,4.0,8.0,0.0,2.0,1.0,aape

In [245]:
data_long_imputed.dtypes.unique()

array([dtype('float64'), dtype('O')], dtype=object)

In [246]:
data_long_imputed.drop(columns = 'uid', inplace=True)

In [247]:

unique_values = data_long_imputed.apply(lambda x: x.unique())


for col, unique_vals in unique_values.items():
    print(f"Column: {col} - Unique values: {unique_vals}")

Column: year - Unique values: [2021. 2016.]
Column: composite_score - Unique values: [175. 206. 161. 144. 104. 183. 106. 152.  13. 193.  38. 272. 254.  87.
  92. 203. 117.  84.  17.  48.  93. 140.  69. 218.  78. 122. 157. 162.
  40. 126. 178. 137.  76. 202.  86. 133. 225. 131. 231. 154.  71.  64.
 118. 151. 127. 163. 179. 198. 108. 119.  91. 107. 174. 120.  66.  56.
 246. 195. 281. 289. 159. 121. 200. 248. 258. 191. 209.  39. 267. 247.
 150. 223. 226. 205. 158. 185.  60. 146. 167.  63. 204.  52. 181. 220.
 215. 229.  97. 234. 232. 115.  54. 103. 186. 256.  99. 171.  51.  47.
 124. 147.  68. 130. 136. 148. 311. 134. 153. 100. 221. 199.  14.  42.
 143.  25. 164.  74.  20. 216.   4. 235. 141. 264. 269. 173. 155. 125.
 165. 194. 214. 277.  65. 184. 212. 210. 102.  53.  21.  57.  89.  80.
 101. 245. 236.  26. 105. 251.  88. 197.  95. 213. 109. 169. 189.  50.
  45. 240. 135. 177. 252. 156. 145. 176. 149. 116. 170.  98. 201. 237.
 129. 139. 196.  90. 211. 142.  75.  72.  22. 166. 113.  30. 187. 244.
 111. 160. 217. 222.  62.  73. 238.  43. 307. 250. 219. 207. 110.  23.
  96.  29.  79. 190.  34. 285. 257.  85.  32. 294. 114. 172. 224. 253.
 112. 298. 295. 132.  55.  27.  19. 180. 243.  94.  10. 128.  83. 271.
 290.  59. 188.  46. 138.  82. 123. 260. 208. 239. 241.  70. 306. 265.
   8. 266. 233. 275.  15. 230. 182. 268. 305. 262.  24. 255. 263.  81.
 278. 274. 228. 242.  67. 287.  44. 273.  37. 168. 276. 270. 293.  12.
 288. 249.  33. 292. 227.  77.  41. 308. 192.  16.  61.  18.  36. 286.
  58.  49.  35. 261. 283.  31. 320. 299. 332. 259.  28. 330. 312. 280.
 282. 316. 302. 303. 325. 333. 309. 304. 296. 317. 334. 331. 279.]
Column: time - Unique values: [ 3. 12.]
Column: seg_pop_12 - Unique values: [1. 0.]
Column: comms_tel_comp_12 - Unique values: [0. 1.]
Column: tv_12 - Unique values: [1. 0.]
Column: vax_flu_12 - Unique values: [0. 1.]
Column: table_games_12 - Unique values: [0. 1.]
Column: satis_excel_12 - Unique values: [3. 2. 1.]
Column: volunteer_12 - Unique values: [0. 1.]
Column: sgender_03 - Unique values: [1. 2.]
Column: wouldnt_change_12 - Unique values: [3. 1. 2.]
Column: attends_club_12 - Unique values: [0. 1.]
Column: reads_12 - Unique values: [1. 0.]
Column: ragender - Unique values: [1. 2.]
Column: care_child_12 - Unique values: [0. 1.]
Column: satis_ideal_12 - Unique values: [3. 1. 2.]
Column: games_12 - Unique values: [0. 1.]
Column: satis_fine_12 - Unique values: [1. 3. 2.]
Column: a22_12 - Unique values: [1. 3. 2. 8. 4. 5. 7.]
Column: attends_class_12 - Unique values: [0. 1.]
Column: act_mant_12 - Unique values: [1. 0.]
Column: cosas_imp_12 - Unique values: [1. 2. 3.]
Column: a16a_12 - Unique values: [1972. 1978. 1987. 1965. 1960. 1970. 1951. 2002. 1975. 1993. 2012. 1962.
 1976. 2010. 2005. 1957. 1945. 1985. 1942. 1964. 1958. 1969. 1968. 1974.
 1940. 2011. 1997.]
Column: vax_pneu_12 - Unique values: [0. 1.]
Column: memory_12 - Unique values: [2. 4. 3. 5. 1.]
Column: a33b_12 - Unique values: [3. 1. 2.]
Column: sewing_12 - Unique values: [0. 1.]
Column: a21_12 - Unique values: [ 2.  1. 52.  3. 40. 15.  7. 30.  4.  5.  6. 36. 10. 27. 34. 32. 12.]
Column: sgender_12 - Unique values: [2. 1.]
Column: care_adult_12 - Unique values: [0. 1.]
Column: rameduc_m - Unique values: [1. 2. 3. 4.]
Column: rafeduc_m - Unique values: [1. 2. 4. 3.]
Column: age - Unique values: [2. 1. 3. 4. 0.]
Column: urban - Unique values: [1. 0.]
Column: married - Unique values: [1. 3. 2. 4.]
Column: n_mar - Unique values: [1. 2. 3. 4. 0. 5. 7.]
Column: edu_gru - Unique values: [1. 0. 3. 2. 4.]
Column: n_living_child - Unique values: [2. 1. 3. 0. 4.]
Column: migration - Unique values: [0. 1.]
Column: glob_hlth - Unique values: [4. 5. 3. 2. 1.]
Column: adl_dress - Unique values: [0. 1.]
Column: adl_walk - Unique values: [0. 1.]
Column: adl_bath - Unique values: [0. 1.]
Column: adl_eat - Unique values: [0. 1.]
Column: adl_bed - Unique values: [0. 1.]
Column: adl_toilet - Unique values: [0. 1.]
Column: n_adl - Unique values: [0. 1. 3. 2. 5. 4.]
Column: iadl_money - Unique values: [0. 1.]
Column: iadl_meds - Unique values: [0. 1.]
Column: iadl_shop - Unique values: [0. 1.]
Column: iadl_meals - Unique values: [0. 1.]
Column: n_iadl - Unique values: [0. 1. 2. 3. 4.]
Column: depressed - Unique values: [0. 1.]
Column: hard - Unique values: [0. 1.]
Column: restless - Unique values: [0. 1.]
Column: happy - Unique values: [1. 0.]
Column: lonely - Unique values: [0. 1.]
Column: enjoy - Unique values: [1. 0.]
Column: sad - Unique values: [0. 1.]
Column: tired - Unique values: [1. 0.]
Column: energetic - Unique values: [0. 1.]
Column: n_depr - Unique values: [3. 0. 4. 6. 8. 5. 7. 9. 2. 1.]
Column: cesd_depressed - Unique values: [0. 1.]
Column: hypertension - Unique values: [0. 1.]
Column: diabetes - Unique values: [0. 1.]
Column: resp_ill - Unique values: [0. 1.]
Column: arthritis - Unique values: [0. 1.]
Column: hrt_attack - Unique values: [0. 1.]
Column: stroke - Unique values: [0. 1.]
Column: cancer - Unique values: [0. 1.]
Column: n_illnesses - Unique values: [1. 0. 3. 2. 4. 5.]
Column: bmi - Unique values: [3. 4. 2. 1. 5.]
Column: exer_3xwk - Unique values: [0. 1.]
Column: alcohol - Unique values: [0. 1.]
Column: tobacco - Unique values: [0. 1.]
Column: test_chol - Unique values: [1. 0.]
Column: test_tuber - Unique values: [0. 1.]
Column: test_diab - Unique values: [1. 0.]
Column: test_pres - Unique values: [1. 0.]
Column: hosp - Unique values: [0. 1.]
Column: visit_med - Unique values: [1. 0.]
Column: out_proc - Unique values: [0. 1.]
Column: visit_dental - Unique values: [0. 1.]
Column: imss - Unique values: [0. 1.]
Column: issste - Unique values: [0. 1.]
Column: pem_def_mar - Unique values: [0. 1.]
Column: insur_private - Unique values: [0. 1.]
Column: insur_other - Unique values: [0. 1.]
Column: insured - Unique values: [1. 0.]
Column: decis_famil - Unique values: [2. 3. 1.]
Column: decis_personal - Unique values: [1. 2. 3.]
Column: employment - Unique values: [3. 1. 2. 4.]
Column: rjob_hrswk - Unique values: [ 42.  66.  72.  60.  30.  48.  35.  24.   5.  19.  36.  45.  39.  63.
  56.  55.  12.  84.   9.  52.  28.   0.   6.  40.  18.  14.  25.  57.
  54.  49.  15.  10.  16.  20.  98.  21.  44.  70.  58.   4.  50.  90.
  93.  47.  61.   8.  46.  99.  87.  64.  77.  96.  91.  13.   3.  65.
  26.  67.   7.  38.  59.  94.  23.  51.  81.  43.  68.  29.  34.  33.
  53.  71.  73.  37.  31.  76. 111.  32.  41.  27.  22.  74.  79.  80.
  62.  82.  69.  11.  97.  88. 109.  85.   1.  83.  78. 105. 168.  17.
  75.  86. 119. 112.]
Column: rjlocc_m - Unique values: [11.  6. 18.  8. 14. 17.  9. 15. 16.  4.  3. 12. 10.  1. 13.  7.  2. 19.
  5.]
Column: rjob_end - Unique values: [1996. 2003. 2007. 1973. 1962. 2010. 2012. 1995. 1987. 2005. 1967. 2008.
 1993. 2001. 2002. 1950. 2004. 1994. 1953. 1949. 1991. 1985. 2000. 1978.
 1992. 1997. 1989. 1963. 2011. 1999. 1952. 1984. 1980. 1971. 1969. 1968.
 1988. 1964. 2006. 1960. 1946. 2009. 1998. 1958. 1990. 1986. 1959. 1983.
 1972. 1961. 1981. 1970. 1979. 1982. 1951. 1977. 1965. 1974. 1945. 1941.
 1954. 1948. 1935. 1947. 1943. 1955. 1975. 1944. 1976. 1956. 1966. 1957.
 1937. 1933.]
Column: rjobend_reason - Unique values: [4. 8. 5. 3. 1.]
Column: rearnings - Unique values: [0.00e+00 7.00e+04 1.00e+04 3.00e+04 5.00e+04 2.00e+04 6.00e+04 1.90e+04
 1.00e+05 4.80e+04 6.00e+03 2.90e+05 1.08e+05 8.00e+04 6.80e+04 8.00e+03
 5.80e+04 2.60e+05 1.50e+05 2.60e+04 2.10e+04 5.20e+04 4.00e+04 3.60e+04
 1.20e+04 4.10e+04 5.00e+03 2.40e+04 2.50e+04 4.40e+04 1.30e+05 1.30e+04
 3.00e+03 1.10e+04 1.90e+05 3.50e+04 1.12e+05 8.70e+04 1.10e+05 3.90e+04
 2.20e+04 5.60e+04 1.40e+04 9.80e+04 1.70e+04 2.90e+04 3.80e+04 3.40e+04
 1.20e+05 1.03e+06 7.90e+04 5.10e+04 3.10e+04 9.00e+04 7.00e+03 7.20e+04
 4.60e+05 5.40e+04 4.30e+04 6.50e+04 7.80e+04 2.00e+05 3.60e+05 6.30e+04
 1.98e+05 9.40e+04 4.90e+04 1.40e+05 8.80e+04 4.30e+05 3.00e+05 4.00e+03
 1.80e+04 1.80e+05 1.49e+05 1.87e+05 9.00e+03 6.10e+04 7.60e+04 6.60e+04
 1.56e+05 1.00e+03 6.70e+04 1.96e+05 2.16e+05 1.59e+05 2.22e+05 1.02e+05
 2.70e+04 1.60e+04 1.57e+05 1.28e+05 2.40e+05 8.10e+05 7.70e+04 5.30e+04
 1.14e+05 2.48e+05 6.90e+04 9.50e+04 1.70e+05 1.51e+05 3.84e+05 3.70e+04
 2.45e+05 4.20e+04 7.10e+04 9.60e+04 1.16e+06 1.62e+05 3.30e+04 8.90e+04
 2.28e+05 1.74e+05 1.63e+05 1.25e+05 2.50e+05 4.60e+04 2.30e+04 1.50e+04
 6.20e+04 3.20e+04 6.10e+05 7.50e+04 7.30e+04 5.80e+05 4.70e+04 7.40e+05
 8.50e+04 6.40e+04 2.70e+05 2.20e+05 4.50e+04 2.32e+05 7.40e+04 8.40e+04
 2.80e+05 1.86e+05 1.54e+05 1.64e+05 2.80e+04 9.10e+04 7.20e+05 2.12e+05
 5.70e+04 4.20e+05 6.90e+05 1.38e+05 8.60e+04 3.08e+05 6.80e+05 5.90e+04
 9.20e+04 1.60e+05 2.00e+03 8.30e+04 2.10e+05 1.76e+05 1.89e+05 1.94e+05
 2.37e+05 3.10e+05 2.08e+05 1.27e+05 5.50e+04 2.54e+05 8.10e+04 1.09e+05
 1.07e+05 1.82e+05 3.40e+05 1.68e+05 1.00e+06 7.50e+05 2.75e+05]
Column: searnings - Unique values: [      0.  160000.  100000.   20000.   60000.   30000.   50000.   10000.
   70000.  150000.   80000.  200000. 1370000.   40000.  120000.  300000.
  140000.  110000.  360000.  210000.  240000.  130000.   90000.  570000.
  180000.  190000.  250000.  220000.  790000.  450000.  170000.  350000.
  320000.  260000.  530000.  280000.  270000.  610000.  430000.  310000.
 1030000.  960000.  680000. 1020000.]
Column: hincome - Unique values: [ 2.000e+04  1.400e+05  7.000e+04  0.000e+00  1.000e+04  3.000e+04
  8.000e+04 -3.000e+04  1.600e+05  1.300e+05  6.000e+04  2.500e+05
  1.000e+05  4.600e+05  1.100e+05  5.000e+04  1.700e+05  4.000e+04
  9.000e+04  1.200e+05 -1.000e+04  2.900e+05  2.550e+06  5.800e+05
  1.520e+06  1.800e+05  5.000e+05  3.600e+05  9.100e+05  2.700e+05
  2.800e+05  6.900e+05  1.500e+05  3.300e+05  1.900e+05  1.060e+06
  2.300e+05  2.150e+06  2.400e+05  3.100e+05  3.200e+05  9.000e+05
  2.000e+05  1.030e+06  3.000e+05  2.200e+05  8.900e+05  9.900e+05
  6.200e+05  8.200e+05  4.700e+05  2.600e+05  3.700e+05  4.100e+05
  3.800e+05  1.230e+06  2.100e+05  4.000e+05  1.200e+06  6.100e+05
  1.110e+06  4.900e+05  8.700e+05  1.080e+06  7.200e+05  4.300e+05
  3.400e+05  5.700e+05  3.500e+05  7.600e+05  1.810e+06  6.000e+05
  1.310e+06 -1.900e+05  4.200e+05  2.050e+06  9.800e+05  3.602e+07
  7.900e+05  1.050e+06  2.400e+06  7.000e+05  4.800e+05  1.000e+06
  1.170e+06  4.500e+05  1.590e+06  6.500e+05  5.200e+05  5.500e+05
  6.400e+05  1.650e+06  1.160e+06  1.470e+06  4.400e+05  5.530e+06
 -1.500e+05  3.900e+05  5.300e+05  2.290e+06  1.420e+06  6.020e+06
  1.480e+06 -9.000e+04  6.300e+05  1.210e+06  7.400e+05  1.070e+06
 -2.000e+04  4.300e+06  5.900e+05  9.600e+05  5.400e+05  1.040e+06
  7.100e+05  6.800e+05  1.140e+06  8.600e+05 -5.000e+04  5.100e+05
  8.300e+05  6.600e+05  1.440e+06  8.400e+05  6.700e+05  2.270e+06
 -2.000e+05  1.020e+06  7.800e+05  8.000e+05 -8.000e+04  9.400e+05
  7.500e+05  3.630e+06]
Column: hinc_business - Unique values: [0.00e+00 1.00e+04 7.00e+04 1.20e+05 2.40e+05 4.60e+05 1.60e+05 1.10e+05
 4.00e+04 3.00e+04 2.00e+04 1.00e+05 1.80e+05 4.90e+05 3.60e+05 9.10e+05
 8.00e+04 5.80e+05 6.00e+04 2.30e+05 1.05e+06 5.00e+04 1.32e+06 8.40e+05
 3.30e+05 1.50e+05 1.30e+05 2.80e+05 2.00e+05 8.90e+05 9.70e+05 8.00e+05
 4.10e+05 1.90e+05 4.00e+05 9.00e+04 4.30e+05 1.07e+06 7.20e+05 2.20e+05
 1.80e+06 1.27e+06 2.05e+06 1.40e+05 3.60e+07 1.70e+05 6.90e+05 9.80e+05
 4.40e+05 1.38e+06 1.59e+06 3.50e+05 6.00e+05 1.43e+06 3.80e+05 9.90e+05
 3.70e+05 1.20e+06 2.29e+06 8.70e+05 4.80e+05 7.90e+05 1.37e+06 1.02e+06
 7.50e+05 5.60e+05 9.60e+05 5.70e+05 3.00e+05 1.52e+06 5.90e+05 5.40e+05
 7.10e+05 1.14e+06 6.20e+05 2.50e+05 6.10e+05 5.30e+05 6.50e+05 1.65e+06
 1.44e+06 6.60e+05 2.24e+06 8.30e+05 7.60e+05 9.40e+05]
Column: hinc_rent - Unique values: [      0.  -60000.  -10000.   20000.   90000.   60000.   10000.  820000.
  300000.  900000.  -30000.   40000.  220000.  -40000.  340000.  840000.
 -360000.   50000.   80000.   30000.  -20000. -210000.  420000. 1200000.
  -50000.  130000.  100000. -160000.  140000. -140000.  120000.  540000.
 -170000. -100000. -120000.  400000.  170000.  160000.  110000. -180000.
  -80000.   70000.  200000. -200000.  710000.  600000.]
Column: hinc_assets - Unique values: [     0.   8000. 232000.  18000.   1000.   2000.  14000.  22000.   6000.
  10000.  91000.  11000.   5000.  19000.  24000.  89000.  12000.   4000.
  31000. 129000.  93000.  15000.   3000.  40000.   9000. 105000.  72000.
  36000.  13000.  26000.  41000. 103000.  16000. 180000.   7000.  27000.
  20000.  17000.  73000.  98000.  25000.  74000.  42000.  60000. 360000.
  84000.  77000.]
Column: hinc_cap - Unique values: [ 0.00e+00  1.00e+04  7.00e+04 -6.00e+04  1.20e+05  2.40e+05  4.60e+05
  1.60e+05  1.10e+05  4.00e+04 -1.00e+04  3.00e+04  2.00e+04  9.00e+04
  6.00e+04  1.00e+05  1.80e+05  4.90e+05  3.60e+05  9.10e+05  2.30e+05
  8.00e+04  5.80e+05  1.05e+06  5.00e+04  2.15e+06  3.00e+05  9.00e+05
 -3.00e+04  8.40e+05  3.30e+05  1.50e+05  1.30e+05  2.80e+05  2.00e+05
  8.90e+05  9.70e+05  8.00e+05  4.10e+05  2.20e+05  1.90e+05  4.00e+05
 -4.00e+04  3.40e+05  4.30e+05  1.07e+06  1.80e+06 -2.00e+04  1.27e+06
 -2.10e+05  4.20e+05  1.20e+06  2.05e+06  1.40e+05  3.80e+05  3.60e+07
  1.70e+05  6.90e+05  9.80e+05  4.40e+05  1.22e+06  1.59e+06  3.50e+05
  6.00e+05  1.43e+06 -1.40e+05  9.90e+05 -1.70e+05  3.70e+05  2.29e+06
  8.70e+05  4.80e+05  7.90e+05  1.37e+06  1.02e+06  7.50e+05  5.60e+05
  1.46e+06  9.60e+05 -1.20e+05  7.20e+05  5.70e+05 -5.00e+04  1.52e+06
  5.90e+05  5.40e+05  7.10e+05  2.70e+05  1.14e+06  2.10e+05  6.20e+05
  2.50e+05  6.10e+05  5.30e+05  6.50e+05  1.65e+06  1.44e+06  6.60e+05
  2.24e+06 -2.00e+05  8.30e+05  7.70e+05 -8.00e+04  9.40e+05]
Column: rinc_pension - Unique values: [     0.  16000.  30000. 170000.  20000.  10000.  70000.  72000.  34000.
  60000. 120000.  50000.  80000.  14000.  55000.  17000.  24000.  40000.
  13000.  18000.  36000. 100000.  22000.  19000.  82000.  23000. 200000.
  98000. 130000.   8000.  96000. 168000. 108000.  83000.  12000.  48000.
 180000.  71000. 150000.   7000. 240000.  76000. 110000. 264000. 720000.
  84000.  42000. 220000.  51000.  11000. 144000. 260000.  54000. 360000.
 600000. 960000. 140000. 480000.  33000. 190000.  26000.  41000.  44000.
   4000.   2000. 430000.   3000.  90000.  35000. 250000. 137000.  46000.
  15000. 156000. 230000.  61000.  49000.  28000. 158000. 160000. 310000.
   6000.  31000.  25000.  64000.  58000.  32000.  52000.  38000. 320000.
 290000.  66000.  29000.  85000. 149000. 300000.   5000. 114000.  73000.
 204000. 340000.]
Column: sinc_pension - Unique values: [      0.   38000.   30000.   14000.   40000.   10000.  120000.   20000.
   80000.   25000.   16000.  240000.   60000.   22000.   96000.   17000.
   35000.   18000.  200000.    2000.  100000.   84000.   70000.  216000.
   28000.   24000.   12000.   48000.  180000.   41000.   54000.   50000.
   13000.   11000.  144000.   72000.  480000.  190000.  140000.   81000.
  130000.   23000.  160000.  110000.   76000.  170000.  108000.   42000.
  340000.  150000.   49000.    5000.   29000.   97000.   36000.  114000.
   19000.  132000. 1200000.   58000.   44000.  127000.   31000.  168000.
   15000.   90000.  220000.  156000.  204000.  360000.   32000.  115000.
  109000.   66000.  260000.  185000.  280000.    8000.  600000.  230000.
   21000.  192000.   98000.   61000.   52000.   34000. 1080000.  228000.]
Column: rrelgimp - Unique values: [1. 2. 3.]
Column: rrfcntx_m - Unique values: [4. 9. 6. 3. 8. 1. 2. 7. 5.]
Column: rsocact_m - Unique values: [8. 9. 1. 2. 3. 4. 7. 6. 5.]
Column: rrelgwk - Unique values: [0. 1.]
Column: a34 - Unique values: [2. 1.]
Column: j11 - Unique values: [1. 2. 3.]

In [248]:
X = data_long_imputed.drop(columns=['composite_score'])  # Drop target and any non-feature columns
y = data_long_imputed['composite_score']

In [250]:
from sklearn.preprocessing import MinMaxScaler

# Scale data using MinMaxScaler to keep everything in the range [0, 1] for chi2
min_max_scaler = MinMaxScaler()
X_min_max_scaled = min_max_scaler.fit_transform(X)

# Apply SelectKBest with chi2
chi2_selector = SelectKBest(chi2, k=10)
X_chi2 = chi2_selector.fit_transform(X_min_max_scaled, y)
chi2_selected_features = X.columns[chi2_selector.get_support()].tolist()

# Apply SelectKBest with mutual_info_regression on the original scaled data
mi_selector = SelectKBest(mutual_info_regression, k=10)
X_mi = mi_selector.fit_transform(X_scaled, y)
mi_selected_features = X.columns[mi_selector.get_support()].tolist()

# Apply SelectKBest with f_regression on the original scaled data
f_selector = SelectKBest(f_regression, k=10)
X_f = f_selector.fit_transform(X_scaled, y)
f_selected_features = X.columns[f_selector.get_support()].tolist()

# Combine selected features
all_selected_features = chi2_selected_features + mi_selected_features + f_selected_features
feature_counts = Counter(all_selected_features)
most_common_features = [feature for feature, count in feature_counts.most_common(10)]

print("Most Common 10 Selected Features:", most_common_features)

# Use these features for further modeling
X_selected = X[most_common_features]
X_train, X_test, y_train, y_test = train_test_split(X_selected, y, test_size=0.2, random_state=42)

Most Common 10 Selected Features: ['table_games_12', 'reads_12', 'games_12', 'rameduc_m', 'edu_gru', 'rafeduc_m', 'n_living_child', 'seg_pop_12', 'attends_club_12', 'care_child_12']

In [251]:
# Use these most common features for further modeling
X_selected = X[most_common_features]
X_train, X_test, y_train, y_test = train_test_split(X_selected, y, test_size=0.2, random_state=42)

In [252]:
X_train

,table_games_12,reads_12,games_12,rameduc_m,edu_gru,rafeduc_m,n_living_child,seg_pop_12,attends_club_12,care_child_12
3381,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
10195,0.0,0.0,0.0,2.0,4.0,2.0,1.0,0.0,0.0,1.0
5065,0.0,1.0,1.0,1.0,0.0,4.0,2.0,0.0,0.0,0.0
8398,0.0,1.0,0.0,1.0,0.0,2.0,2.0,0.0,0.0,0.0
828,1.0,1.0,0.0,2.0,1.0,2.0,2.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
5734,0.0,0.0,0.0,1.0,2.0,2.0,2.0,0.0,0.0,0.0
5191,0.0,1.0,0.0,1.0,2.0,2.0,2.0,0.0,0.0,1.0
5390,0.0,1.0,0.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0
860,0.0,0.0,0.0,1.0,1.0,2.0,2.0,1.0,0.0,0.0
7270,0.0,1.0,1.0,2.0,1.0,2.0,2.0,0.0,0.0,0.0

In [253]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from catboost import CatBoostRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import cross_val_score, TimeSeriesSplit
from sklearn.pipeline import Pipeline
from sklearn.metrics import make_scorer, mean_absolute_error, mean_squared_error, r2_score
import pandas as pd
import numpy as np
from prophet import Prophet

In [257]:
models_new_results = []

In [258]:
# Linear Regression
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)
lr_y_pred = lr_model.predict(X_test)

lr_results = {
    'Model': 'Linear Regression',
    'MAE': mean_absolute_error(y_test, lr_y_pred),
    'MSE': mean_squared_error(y_test, lr_y_pred),
    'RMSE': np.sqrt(mean_squared_error(y_test, lr_y_pred)),
    'R-squared': r2_score(y_test, lr_y_pred)
}
models_new_results.append(lr_results)

In [259]:
# Ridge Regression
ridge_model = Ridge()
ridge_param_grid = {'alpha': [0.1, 1.0, 10]}
ridge_grid_search = GridSearchCV(ridge_model, ridge_param_grid, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)
ridge_grid_search.fit(X_train, y_train)
ridge_best_model = ridge_grid_search.best_estimator_
ridge_y_pred = ridge_best_model.predict(X_test)

ridge_results = {
    'Model': 'Ridge',
    'Best Parameters': ridge_grid_search.best_params_,
    'MAE': mean_absolute_error(y_test, ridge_y_pred),
    'MSE': mean_squared_error(y_test, ridge_y_pred),
    'RMSE': np.sqrt(mean_squared_error(y_test, ridge_y_pred)),
    'R-squared': r2_score(y_test, ridge_y_pred)
}
models_new_results.append(ridge_results)

In [260]:
# Lasso Regression
lasso_model = Lasso()
lasso_param_grid = {'alpha': [0.1, 1.0, 10]}
lasso_grid_search = GridSearchCV(lasso_model, lasso_param_grid, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)
lasso_grid_search.fit(X_train, y_train)
lasso_best_model = lasso_grid_search.best_estimator_
lasso_y_pred = lasso_best_model.predict(X_test)

lasso_results = {
    'Model': 'Lasso',
    'Best Parameters': lasso_grid_search.best_params_,
    'MAE': mean_absolute_error(y_test, lasso_y_pred),
    'MSE': mean_squared_error(y_test, lasso_y_pred),
    'RMSE': np.sqrt(mean_squared_error(y_test, lasso_y_pred)),
    'R-squared': r2_score(y_test, lasso_y_pred)
}
models_new_results.append(lasso_results)

In [261]:
# ElasticNet Regression
en_model = ElasticNet()
en_param_grid = {'alpha': [0.1, 1.0, 10], 'l1_ratio': [0.2, 0.5, 0.8]}
en_grid_search = GridSearchCV(en_model, en_param_grid, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)
en_grid_search.fit(X_train, y_train)
en_best_model = en_grid_search.best_estimator_
en_y_pred = en_best_model.predict(X_test)

en_results = {
    'Model': 'ElasticNet',
    'Best Parameters': en_grid_search.best_params_,
    'MAE': mean_absolute_error(y_test, en_y_pred),
    'MSE': mean_squared_error(y_test, en_y_pred),
    'RMSE': np.sqrt(mean_squared_error(y_test, en_y_pred)),
    'R-squared': r2_score(y_test, en_y_pred)
}
models_new_results.append(en_results)

In [262]:
# DecisionTree Regressor
dt_model = DecisionTreeRegressor()
dt_param_grid = {'max_depth': [5, 10, None], 'min_samples_split': [2, 5]}
dt_grid_search = GridSearchCV(dt_model, dt_param_grid, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)
dt_grid_search.fit(X_train, y_train)
dt_best_model = dt_grid_search.best_estimator_
dt_y_pred = dt_best_model.predict(X_test)

dt_results = {
    'Model': 'DecisionTree',
    'Best Parameters': dt_grid_search.best_params_,
    'MAE': mean_absolute_error(y_test, dt_y_pred),
    'MSE': mean_squared_error(y_test, dt_y_pred),
    'RMSE': np.sqrt(mean_squared_error(y_test, dt_y_pred)),
    'R-squared': r2_score(y_test, dt_y_pred)
}
models_new_results.append(dt_results)

In [263]:
# Random Forest Regressor
rf_model = RandomForestRegressor()
rf_param_grid = {'n_estimators': [50, 100], 'max_depth': [5, 10, None]}
rf_grid_search = GridSearchCV(rf_model, rf_param_grid, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)
rf_grid_search.fit(X_train, y_train)
rf_best_model = rf_grid_search.best_estimator_
rf_y_pred = rf_best_model.predict(X_test)

rf_results = {
    'Model': 'Random Forest',
    'Best Parameters': rf_grid_search.best_params_,
    'MAE': mean_absolute_error(y_test, rf_y_pred),
    'MSE': mean_squared_error(y_test, rf_y_pred),
    'RMSE': np.sqrt(mean_squared_error(y_test, rf_y_pred)),
    'R-squared': r2_score(y_test, rf_y_pred)
}
models_new_results.append(rf_results)

In [264]:
# Gradient Boosting Regressor
gb_model = GradientBoostingRegressor()
gb_param_grid = {'n_estimators': [50, 100], 'learning_rate': [0.01, 0.1]}
gb_grid_search = GridSearchCV(gb_model, gb_param_grid, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)
gb_grid_search.fit(X_train, y_train)
gb_best_model = gb_grid_search.best_estimator_
gb_y_pred = gb_best_model.predict(X_test)

gb_results = {
    'Model': 'Gradient Boosting',
    'Best Parameters': gb_grid_search.best_params_,
    'MAE': mean_absolute_error(y_test, gb_y_pred),
    'MSE': mean_squared_error(y_test, gb_y_pred),
    'RMSE': np.sqrt(mean_squared_error(y_test, gb_y_pred)),
    'R-squared': r2_score(y_test, gb_y_pred)
}
models_new_results.append(gb_results)

In [265]:
# XGBoost Regression
xgb_model = XGBRegressor()
xgb_param_grid = {'n_estimators': [50, 100], 'learning_rate': [0.05, 0.1]}
xgb_grid_search = GridSearchCV(xgb_model, xgb_param_grid, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)
xgb_grid_search.fit(X_train, y_train)
xgb_best_model = xgb_grid_search.best_estimator_
xgb_y_pred = xgb_best_model.predict(X_test)

xgb_results = {
    'Model': 'XGBoost',
    'Best Parameters': xgb_grid_search.best_params_,
    'MAE': mean_absolute_error(y_test, xgb_y_pred),
    'MSE': mean_squared_error(y_test, xgb_y_pred),
    'RMSE': np.sqrt(mean_squared_error(y_test, xgb_y_pred)),
    'R-squared': r2_score(y_test, xgb_y_pred)
}
models_new_results.append(xgb_results)

In [266]:
from lightgbm import LGBMRegressor

In [267]:
# LightGBM Regression
lgbm_model = LGBMRegressor()
lgbm_param_grid = {'n_estimators': [50, 100], 'learning_rate': [0.01, 0.1]}
lgbm_grid_search = GridSearchCV(lgbm_model, lgbm_param_grid, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)
lgbm_grid_search.fit(X_train, y_train)
lgbm_best_model = lgbm_grid_search.best_estimator_
lgbm_y_pred = lgbm_best_model.predict(X_test)

lgbm_results = {
    'Model': 'LightGBM',
    'Best Parameters': lgbm_grid_search.best_params_,
    'MAE': mean_absolute_error(y_test, lgbm_y_pred),
    'MSE': mean_squared_error(y_test, lgbm_y_pred),
    'RMSE': np.sqrt(mean_squared_error(y_test, lgbm_y_pred)),
    'R-squared': r2_score(y_test, lgbm_y_pred)
}
models_new_results.append(lgbm_results)

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000866 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 32
[LightGBM] [Info] Number of data points in the train set: 8259, number of used features: 10
[LightGBM] [Info] Start training from score 157.385882

In [268]:
# CatBoost Regression
catboost_model = CatBoostRegressor(verbose=0)
catboost_model.fit(X_train, y_train)
catboost_y_pred = catboost_model.predict(X_test)

catboost_results = {
    'Model': 'CatBoost',
    'MAE': mean_absolute_error(y_test, catboost_y_pred),
    'MSE': mean_squared_error(y_test, catboost_y_pred),
    'RMSE': np.sqrt(mean_squared_error(y_test, catboost_y_pred)),
    'R-squared': r2_score(y_test, catboost_y_pred)
}
models_new_results.append(catboost_results)

In [269]:
models_new_results

[{'Model': 'Linear Regression',
  'MAE': 36.40066610480813,
  'MSE': 2151.8418088118774,
  'RMSE': 46.38794896103812,
  'R-squared': 0.2904175594984998},
 {'Model': 'Ridge',
  'Best Parameters': {'alpha': 1.0},
  'MAE': 36.40029530992575,
  'MSE': 2151.815732068773,
  'RMSE': 46.38766788779937,
  'R-squared': 0.2904261584572786},
 {'Model': 'Lasso',
  'Best Parameters': {'alpha': 0.1},
  'MAE': 36.37212357596654,
  'MSE': 2149.6960342173643,
  'RMSE': 46.364814614288754,
  'R-squared': 0.2911251412395486},
 {'Model': 'ElasticNet',
  'Best Parameters': {'alpha': 0.1, 'l1_ratio': 0.8},
  'MAE': 36.3460782078874,
  'MSE': 2148.275438201238,
  'RMSE': 46.34949231870009,
  'R-squared': 0.29159359109676475},
 {'Model': 'DecisionTree',
  'Best Parameters': {'max_depth': 5, 'min_samples_split': 5},
  'MAE': 36.24035317697644,
  'MSE': 2130.2171551432352,
  'RMSE': 46.154275588976965,
  'R-squared': 0.29754841570844914},
 {'Model': 'Random Forest',
  'Best Parameters': {'max_depth': 10, 'n_estimators': 50},
  'MAE': 33.505940324687444,
  'MSE': 1840.5511904229068,
  'RMSE': 42.90164554446492,
  'R-squared': 0.3930674642438805},
 {'Model': 'Gradient Boosting',
  'Best Parameters': {'learning_rate': 0.1, 'n_estimators': 100},
  'MAE': 35.00963879727045,
  'MSE': 1959.4498131003668,
  'RMSE': 44.265673078587284,
  'R-squared': 0.3538599469876178},
 {'Model': 'XGBoost',
  'Best Parameters': {'learning_rate': 0.05, 'n_estimators': 100},
  'MAE': 34.19466980017415,
  'MSE': 1884.3134277238894,
  'RMSE': 43.40867917506693,
  'R-squared': 0.3786366101640527},
 {'Model': 'LightGBM',
  'Best Parameters': {'learning_rate': 0.1, 'n_estimators': 100},
  'MAE': 34.27728396666682,
  'MSE': 1887.856738945863,
  'RMSE': 43.449473402399974,
  'R-squared': 0.3774681825342667},
 {'Model': 'CatBoost',
  'MAE': 33.418887116740876,
  'MSE': 1830.7333759335008,
  'RMSE': 42.787070195720354,
  'R-squared': 0.3963049460779332}]

In [274]:
import pandas as pd

# Ensure models_new_results is a DataFrame
models_new_results = pd.DataFrame(models_new_results)  # If models_new_results was initially a list of dictionaries

In [275]:
# Group by model name and select the row with the best R-squared or lowest MAE
best_results = models_new_results.loc[models_new_results.groupby('Model')['RMSE'].idxmax()]

print(best_results)

               Model        MAE          MSE       RMSE  R-squared  \
9           CatBoost  33.418887  1830.733376  42.787070   0.396305
4       DecisionTree  36.240353  2130.217155  46.154276   0.297548
3         ElasticNet  36.346078  2148.275438  46.349492   0.291594
6  Gradient Boosting  35.009639  1959.449813  44.265673   0.353860
2              Lasso  36.372124  2149.696034  46.364815   0.291125
8           LightGBM  34.277284  1887.856739  43.449473   0.377468
0  Linear Regression  36.400666  2151.841809  46.387949   0.290418
5      Random Forest  33.505940  1840.551190  42.901646   0.393067
1              Ridge  36.400295  2151.815732  46.387668   0.290426
7            XGBoost  34.194670  1884.313428  43.408679   0.378637

                                Best Parameters
9                                           NaN
4      {'max_depth': 5, 'min_samples_split': 5}
3               {'alpha': 0.1, 'l1_ratio': 0.8}
6   {'learning_rate': 0.1, 'n_estimators': 100}
2                                {'alpha': 0.1}
8   {'learning_rate': 0.1, 'n_estimators': 100}
0                                           NaN
5         {'max_depth': 10, 'n_estimators': 50}
1                                {'alpha': 1.0}
7  {'learning_rate': 0.05, 'n_estimators': 100}

In [276]:
import pickle

In [278]:


# Save the trained model to a file
with open('new_ridge_model.pkl', 'wb') as file:
    pickle.dump(ridge_best_model, file)

In [279]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
import joblib

In [280]:
X_train.columns

Index(['table_games_12', 'reads_12', 'games_12', 'rameduc_m', 'edu_gru',
       'rafeduc_m', 'n_living_child', 'seg_pop_12', 'attends_club_12',
       'care_child_12'],
      dtype='object')

In [281]:
feature_names = list(ridge_best_model.feature_names_in_)
print(feature_names)

['table_games_12', 'reads_12', 'games_12', 'rameduc_m', 'edu_gru', 'rafeduc_m', 'n_living_child', 'seg_pop_12', 'attends_club_12', 'care_child_12']